<template>
  <div class="wrapper">
    <div class="container-fuild">
      <div id="headTitle">
        <logo />
        <h1 id="title" _msttexthash="48503" _msthash="2">
          {{ i18ntext.lngText("user") }}
        </h1>
      </div>
    </div>
    <Header />
    <ol id="topicPath">
      <li style="margin-left: 348px">
        <router-link to="productsetting">
          <a href="dashbaord">
            {{ i18ntext.lngText("user") }}
          </a>
        </router-link>
      </li>
    </ol>
    <div class="search-box">
      <div id="product">
        <div class="search-box">
          <MenuBrand />
          <div class="search-box-title" style="padding-left: 9px">
            <router-link to="employee"
              ><a
                class="btn-radius btn btn-sm"
                href="#"
                style="color: #f8f5b4; margin-top: -2px"
              >
                <i class="fa fa-cog" aria-hidden="true"></i>
                {{ i18ntext.lngText("emp") }}
              </a></router-link
            >
            <router-link to="user"
              ><a
                class="btn-radius btn btn-sm"
                href="#"
                style="
                  color: #f8f5b4;
                  margin-top: -2px;
                  background-color: #29a5a5;
                  border: #22adb763 1px solid;
                "
              >
                <i class="fa fa-cog" aria-hidden="true"></i>
                {{ i18ntext.lngText("user") }}
              </a></router-link
            >
            <router-link to="permission"
              ><a
                class="btn-radius btn btn-sm"
                href="#"
                style="color: #f8f5b4; margin-top: -2px"
              >
                <i class="fa fa-cog" aria-hidden="true"></i>
                {{ i18ntext.lngText("permis") }}
              </a></router-link
            >
            <router-link to="role"
              ><a
                class="btn-radius btn btn-sm"
                href="#"
                style="color: #f8f5b4; margin-top: -2px"
              >
                <i class="fa fa-cog" aria-hidden="true"></i>
                {{ i18ntext.lngText("role") }}
              </a></router-link
            >
          </div>
          <div class="search-box-content">
            <table
              width="100%"
              border="0"
              cellpadding="0"
              cellspacing="0"
              class="tbl_search"
              id="hover-table"
            >
              <tbody>
                <tr>
                  <th width="10%">{{ i18ntext.lngText("code") }}</th>
                  <td width="50%">
                    <select
                      v-model="user_form.user_code"
                      style="width: 360px"
                      class="cursur-pointer"
                    >
                      <option v-for="emp in employees" :value="emp.id">
                        {{ emp.lstname }} {{ emp.firstname }}
                      </option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <th width="10%">{{ i18ntext.lngText("name") }}</th>
                  <td width="50%">
                    <input autocomplete="off"
                      class="string_zen clear_text text input_text"
                      type="text"
                      style="width: 360px"
                      v-model="user_form.user_name"
                    />
                  </td>
                </tr>
                <tr>
                  <th width="10%">{{ i18ntext.lngText("email") }}</th>
                  <td width="50%">
                    <input autocomplete="off"
                      class="string_zen clear_text text input_text"
                      type="text"
                      style="width: 360px"
                      v-model="user_form.email"
                    />
                  </td>
                </tr>
                <tr>
                  <th width="10%">{{ i18ntext.lngText("password") }}</th>
                  <td width="50%">
                    <input autocomplete="off"
                      id="password"
                      class="string_zen clear_text text input_text"
                      type="password"
                      style="width: 360px"
                      v-model="user_form.password"
                    />
                    <i
                      v-if="is_hide == true"
                      class="fa fa-eye cursur-pointer"
                      @click="hidePassword('#password', 'pass')"
                    ></i>
                    <i
                      v-else
                      class="fa-sharp fa fa-eye-slash cursur-pointer"
                      @click="showPassword('#password', 'pass')"
                    ></i>
                  </td>
                </tr>
                <tr>
                  <th width="10%">{{ i18ntext.lngText("confirm_password") }}</th>
                  <td width="50%">
                    <input autocomplete="off"
                      id="confirm_pass"
                      class="string_zen clear_text text input_text"
                      type="password"
                      style="width: 360px"
                      v-model="user_form.confirm_password"
                    />
                    <i
                      v-if="is_hide_cf == true"
                      class="fa fa-eye cursur-pointer"
                      @click="hidePassword('#confirm_pass', 'confirm')"
                    ></i>
                    <i
                      v-else
                      class="fa-sharp fa fa-eye-slash cursur-pointer"
                      @click="showPassword('#confirm_pass', 'confirm')"
                    ></i>
                  </td>
                </tr>
                <tr>
                  <th width="10%">{{ i18ntext.lngText("role") }}</th>
                  <td width="50%">
                    <select
                      v-model="user_form.role"
                      id="selRole"
                      @change="selectRole(user_form)"
                    >
                      <option v-for="x in xs" :value="x.role">{{ x.role }}</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <th width="10%">{{ i18ntext.lngText("be-sts") }}</th>
                  <td width="50%">
                    <input autocomplete="off"
                      class="string_zen clear_text text input_text"
                      type="text"
                      style="width: 360px"
                      v-model="user_form.statue"
                    />
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="search-box-footer">
              <div
                v-if="this.btnback == true"
                @click="Back()"
                class="button type2"
                id="uniform-undefined"
              >
                <span
                  ><input autocomplete="off"
                    type="button"
                    class="type2"
                    tabindex="10025"
                    value="display"
                    style="opacity: 0; width: 54px"
                  />
                  <i class="fa fa-arrow-left"></i>
                  {{ i18ntext.lngText("back") }}</span
                >
              </div>
              <div
                v-if="this.btnDel == true"
                class="button type2"
                id="uniform-undefined"
                @click="handleDelete()"
              >
                <span
                  ><input autocomplete="off"
                    type="button"
                    class="type2"
                    tabindex="10025"
                    value="display"
                    style="opacity: 0; width: 54px"
                  />
                  <i class="fa fa-trash" aria-hidden="true"></i>
                  {{ i18ntext.lngText("Delete") }}</span
                >
              </div>

              <div
                v-if="this.save_update == 'Save'"
                class="button type2"
                id="uniform-undefined"
                @click="Create()"
              >
                <span
                  ><input autocomplete="off"
                    type="button"
                    class="type2"
                    tabindex="10025"
                    value="display"
                    style="opacity: 0; width: 54px"
                  /><i class="fa fa-save" aria-hidden="true"></i>
                  {{ i18ntext.lngText("save") }}
                </span>
              </div>
              <div
                v-if="this.save_update == 'Update'"
                class="button type2"
                id="uniform-undefined"
                @click="Create()"
              >
                <span
                  ><input autocomplete="off"
                    type="button"
                    class="type2"
                    tabindex="10025"
                    value="display"
                    style="opacity: 0; width: 54px"
                  /><i class="fa fa-save" aria-hidden="true"></i>
                  {{ i18ntext.lngText("update") }}
                </span>
              </div>
              <span class="marker"></span>
            </div>
          </div>
        </div>
        <div class="box mt-4">
          <table
            width="100%"
            border="0"
            cellpadding="0"
            cellspacing="0"
            class="table table-striped br-table"
          >
            <thead>
              <tr class="header-table">
                <th style="width: 5%">{{ i18ntext.lngText("code") }}</th>
                <th style="width: 15%">{{ i18ntext.lngText("name") }}</th>
                <th style="width: 15%">{{ i18ntext.lngText("email") }}</th>
                <th style="width: 10%">{{ i18ntext.lngText("role") }}</th>
                <th width="13%"></th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(user, index) in user_view.data" :key="index">
                <td>{{ user.user_code }}</td>
                <td>{{ user.user_name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.role }}</td>
                <td class="text-center">
                  <div class="button" id="uniform-undefined" @click="select(user)">
                    <span
                      ><i class="fa fa-edit"></i> {{ i18ntext.lngText("select")
                      }}<input autocomplete="off"
                        type="button"
                        data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop"
                        tabindex="10028"
                        style="opacity: 0; width: 76px"
                    /></span>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="box-footer-pagination">
            <pagination :limit="2" :data="user_view" @pagination-change-page="getUsers" />
          </div>
        </div>
      </div>
    </div>
  </div>
   <div id="myModal" class="lskymodal">
    <div class="lskymodal-content">
      <p><i class="fa fa-check" aria-hidden="true"></i>  {{ message }}</p>
    </div>
  </div>
  <UserInfo />

</template>
<script>
import axios from "axios";
import pagination from "laravel-vue-pagination";
import Auth from "../../auth/Auth";
import Logo from "../logo.vue";
import Header from "../Header.vue";
import UserInfo from "../UserInfo.vue";
import i18n from "../../i18n/i18n";
export default {
  components: { Header, pagination, Logo, UserInfo },
  directives: {
    print,
  },
  data() {
    return {
      i18ntext: i18n,
      is_hide: false,
      is_hide_cf: false,
      message: "",
      search_delete: "Search",
      save_update: "Save",
      serails: [],
      company: [],
      formatdate: "",
      checkbt: "",
      perPage: "",
      currentPage: 0,
      last_page: 1,
      action_api: "",
      btcheck: "Save",
      action_api_1: "",
      employees: [],
      deleteid: "",
      user: [],
      error: "",
    //   massege: "",
      btnback: false,
      btnDel: false,
      object: {
        id: "",
        email: " ",
        firstname: "",
      },
      confirm_pass: "",
      save_or_update: "Save",
      user_form: {
        id: "",
        user_code: "",
        user_name: "",
        password: "",
        confirm_password: "",
        email: "",
        role: "",
        statue: "",
        created_by: "",
        updated_by: "",
      },
      user_view: [],
      xs: [],
    };
  },
  mounted() {
    this.getEmployees();
    this.getUsers();
    this.getSelectRole();
  },
  methods: {
    getSelectRole() {
      this.user_form.created_by = Auth.user.user_code;
      this.user_form.role = Auth.user.role;
      axios.post("api/v1/role/index", this.user_form).then((res) => {
        this.xs = res.data;
        this.user_form.role = "";
      });
    },
    getEmployees() {
      axios.get("api/v1/employee/index/").then((res) => {
        this.employees = res.data;
      });
    },

    getuser(x, product, txt) {
      if (txt == "role") {
        product.role = x.role;
      }
    },
    async Create() {
      if (this.user_form.password == this.user_form.confirm_password) {
        if (this.save_update === "Save") {
          await axios.post("api/v1/uers/create", this.user_form).then((res) => {
            this.user_form = {};
            this.getUsers();
          });
          this.message = "Created Successfully";
          this.messagebox();
        }
        if (this.save_update === "Update") {
          this.user_form.updated_by = Auth.user.user_code;
          await axios
            .post("api/v1/update/user/" + this.user_form.id, this.user_form)
            .then((res) => {
              this.user_form = {};
              this.getUsers();
              this.save_update = "Save";
            });
          this.message = "Updated Successfully";
          this.messagebox();
        }
      } else {
        this.message = "Password and Confirm Password must be the same!";
        this.messagebox();
      }
    },
    async getUsers(page = 1) {
      await axios.get("/api/v1/uers/index?page=" + page).then((res) => {
        this.user_view = res.data;
      });
    },

    showPassword(id, text) {
      if (text === "pass") {
        this.is_hide = true;
        document.querySelector(id).type = "text";
      }
      if (text === "confirm") {
        this.is_hide_cf = true;
        document.querySelector(id).type = "text";
      }
    },
    hidePassword(id, text) {
      if (text === "pass") {
        this.is_hide = false;
        document.querySelector(id).type = "password";
      }
      if (text === "confirm") {
        this.is_hide_cf = false;
        document.querySelector(id).type = "password";
      }
    },
    messagebox() {
      var modal = document.getElementById("myModal");
      modal.style.display = "block";
      setTimeout(() => (modal.style.display = "none"), 1500);
    },
    select(user) {
      this.user_form = JSON.parse(JSON.stringify(user));
      this.search_delete = "Delete";
      this.save_update = "Update";
      this.btnback = true;
      this.btnDel = true;
      this.user_form.confirm_password = this.user_form.password;
    },
    Back() {
      this.btnback = false;
      this.btnDel = false;
      this.user_form = {};
      this.save_update = "Save";
    },

    handleDelete() {
      axios
        .get(
          "api/v1/update/delete/" +
            this.user_form.id +
            "?created_by=" +
            this.user_form.created_by +
            "&user_code=" +
            this.user_form.user_code
        )
        .then((res) => {
          this.getUsers();
          this.search_delete = "Search";
          this.save_update = "Save";
          this.message = "Deleted Successfully";
          this.messagebox();
          this.user_form = {
            id: "",
            user_code: "",
            user_name: "",
            password: "",
            confirm_password: "",
            email: "",
            role: "",
            statue: "",
            created_by: Auth.user.id,
            updated_by: "",
          };
        });
    },
    checkEmp(emp) {
      console.log(emp);
    },
  },
};
</script>
