<template>
    <div class="wrapper">
        <div class="container-fuild">
            <div id="headTitle">
                <Logo />
                <h1 id="title" _msttexthash="48503" _msthash="2">{{ i18ntext.lngText('icm-exp') }}</h1>
            </div>
            <Header />
            <ol id="topicPath">
                <li style="margin-left: 370px">
                    <router-link to="menustock"><a href="dashbaord">
                            <font style="vertical-align: inherit">
                                <font style="vertical-align: inherit">{{ i18ntext.lngText('icm-exp') }}</font>
                            </font>
                        </a>
                    </router-link>
                </li>
            </ol>
        </div>
        <div class="search-box">
            <div id="product">
                <div class="search-box mb-4">
                    <div class="search-title" id="Bars" style="padding-left:2rem">
                        <div id="bar" style="width: 85%;">
                            <router-link to="/report">
                                <a class="btn-radius btn btn-sm" href="#" id="bar-1">
                                    <i class="fa fa-cog" aria-hidden="true"></i>
                                    {{ i18ntext.lngText('report') }}
                                </a>
                            </router-link>
                            <router-link to="/salereport">
                                <a class="btn-radius btn btn-sm" href="#" id="bar-1">
                                    <i class="fa fa-cog" aria-hidden="true"></i>
                                    {{ i18ntext.lngText('sale-report') }}
                                </a>
                            </router-link>
                            <router-link to="/closereport">
                                <a class="btn-radius btn btn-sm" href="#" id="bar-1">
                                    <i class="fa fa-cog" aria-hidden="true"></i>
                                    {{ i18ntext.lngText('close-report') }}
                                </a>
                            </router-link>
                            <router-link to="/saleitem">
                                <a class="btn-radius btn btn-sm" href="#" id="bar-1">
                                    <i class="fa fa-cog" aria-hidden="true"></i>
                                    {{ i18ntext.lngText('item-report') }}
                                </a>
                            </router-link>
                            <router-link to="/stockinven">
                                <a class="btn-radius btn btn-sm" href="#" id="bar-1">
                                    <i class="fa fa-cog" aria-hidden="true"></i>
                                    {{ i18ntext.lngText('iven-report') }}
                                </a>
                            </router-link>
                            <router-link to="/expensesreport"><a class="btn-radius btn btn-sm" href="#" id="bar-1">
                                    <i class="fas fa-cog"> </i>
                                    {{ i18ntext.lngText('exp-report') }}
                                </a>
                            </router-link>
                            <router-link to="/incomereport">
                                <a class="btn-radius btn btn-sm" href="#" id="bar-1">
                                    <i class="fa fa-cog" aria-hidden="true"></i>
                                    {{ i18ntext.lngText('icm-report') }}
                                </a>
                            </router-link>
                            <router-link to="/incomepen">
                                <a class="btn-radius btn btn-sm" href="#" id="bar-1"
                                    style="background-color: #29a5a5; border: #22adb763 1px solid;">
                                    <i class="fa fa-cog" aria-hidden="true"></i>
                                    {{ i18ntext.lngText('icm-exp') }}
                                </a>
                            </router-link>
                        </div>
                        <div id="right">
                            <a id="menu-1" class="btn-radius bt-pn btn btn-sm" data-bs-toggle="dropdown"
                                aria-expanded="false"
                                style="float: right; color: #f8f5b4; margin-top: 0;margin-right: 0; margin-left: auto;margin-right: 11px;">
                                <i class="fas fa-plus"></i>
                                {{ i18ntext.lngText('menu') }}
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item btn btn-primary" data-bs-toggle="modal"
                                        data-bs-target="#staticboomId" tabindex="10028">
                                        <i class="fa fa-print" aria-hidden="true"></i>
                                        {{ i18ntext.lngText('print') }}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <input autocomplete="off" id="search" name="search" type="hidden" value="1" />
                    <div class="box">
                        <table width="100%" border="0" cellpadding="0" cellspacing="0" class="table table-striped br-table">
                            <thead>
                                <tr class="header-table">
                                    <th colspan="6"></th>
                                    <th style="width: 10% !important;">

                                    </th>
                                    <th class="exp" style="width: 10em;">
                                        <div>
                                            <span>
                                                <input autocomplete="off" id="search" name="search" type="date" class="text"
                                                    placeholder="Search" @change="searchData()" v-model="search.startDate"
                                                    style="margin-right: 0px !important;width: 85px;">
                                            </span>
                                            <span style="margin: 0px 3px;"> {{ i18ntext.lngText('to') }}</span>
                                            <span>
                                                <input autocomplete="off" id="search" name="search" type="date" @change="searchData()" v-model="search.endDate"
                                                    class="text" placeholder="Search"
                                                    style="margin-right: 0px !important;width: 85px;">
                                            </span>
                                        </div>
                                    </th>
                                </tr>
                                <tr class="header-table">
                                    <th>{{ i18ntext.lngText('type') }}</th>
                                    <th>{{ i18ntext.lngText('description') }}</th>
                                    <th>{{ i18ntext.lngText('total_amount') }}</th>
                                    <th>{{ i18ntext.lngText('pay_method') }}</th>
                                    <th>{{ i18ntext.lngText('buy_price') }}</th>
                                    <th>{{ i18ntext.lngText('sel_price') }}</th>
                                    <th>{{ i18ntext.lngText('income') }}{{ i18ntext.lngText('or') }}({{ i18ntext.lngText('Expen') }})</th>
                                    <th style="width: 10%;"> {{ i18ntext.lngText('date') }}</th>
                                </tr>
                                <!-- income  -->
                                <tr>
                                    <th colspan="8" class="header-table" style="text-align: start;"><span
                                            style="cursor: pointer;" data-bs-toggle="collapse" href="#collapseExample">
                                            {{ i18ntext.lngText('income') }}  <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                        </span></th>
                                </tr>
                            </thead>
                            <tbody class="collapse" id="collapseExample">
                                <tr class="parent-item" data-bs-toggle="collapse" href="#collapseExample2" style="cursor: pointer;">
                                    <td>
                                        <span >
                                           1. {{ i18ntext.lngText('pos_income') }} <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                        </span>
                                    </td>
                                    <td v-if="Posdata != null">{{ Posdata.description }}</td>
                                    <td v-else></td>
                                    <td v-if="Posdata != null">
                                        {{ Number(Posdata.total).toLocaleString() }} ៛ / {{ Number((Posdata.total/rate).toFixed(2)).toLocaleString() }} $
                                    </td>
                                    <td v-else></td>
                                    <td v-if="Posdata != null">{{ Posdata.method }}</td>
                                    <td v-else></td>
                                    <td v-if="Posdata != null">{{ Number(Posdata.buy_price).toLocaleString() }} ៛ / {{ Number((Posdata.buy_price/rate).toFixed(2)).toLocaleString() }} $</td>
                                    <td v-else></td>
                                    <td v-if="Posdata != null">{{ Number(Posdata.sel_price).toLocaleString() }} ៛ / {{ Number((Posdata.sel_price/rate).toFixed(2)).toLocaleString() }} $</td>
                                    <td v-else></td>
                                    <td v-if="Posdata != null">{{ Number(Posdata.income).toLocaleString() }} ៛ / {{ Number((Posdata.income/rate).toFixed(2)).toLocaleString() }} $</td>
                                    <td v-else></td>
                                    <td style="text-align: right;">{{ formatdatetime(search.startDate) }} - {{ formatdatetime(search.endDate) }}</td>

                                </tr>
                                <!-- <tr v-if="Posdata != null" v-for="(item, index) in Posdata.items" class="collapse" id="collapseExample2" >
                                    <td class="text-center">1. {{ index + 1 }}</td>
                                    <td>{{ item.description }}</td>
                                    <td>
                                        <span>{{ Number(item.sel_total).toLocaleString() }} ៛</span>

                                    </td>
                                    <td>{{ item.method }}</td>
                                    <td>{{ Number(item.buy_price).toLocaleString() }} ៛</td>
                                    <td>{{ Number(item.sel_total).toLocaleString() }} ៛</td>
                                    <td>{{ Number(item.income).toLocaleString() }} ៛</td>
                                    <td style="text-align: right;">{{ formatdatetime(search.startDate) }} - {{ formatdatetime(search.endDate) }}</td>
                                </tr>
                                <tr class="parent-item" data-bs-toggle="collapse" href="#precollapse" style="cursor: pointer;">
                                    <td>
                                        <span >
                                           2. {{ i18ntext.lngText('pre_income') }} <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                        </span>
                                    </td>
                                    <td v-if="Predata != null">{{ Predata.description }}</td>
                                    <td v-else></td>
                                    <td v-if="Predata != null">
                                        {{ Number(Predata.total).toLocaleString() }} ៛ / {{ Number((Predata.total/rate).toFixed(2)).toLocaleString() }} $
                                    </td>
                                    <td v-else></td>
                                    <td v-if="Predata != null">{{ Predata.method }}</td>
                                    <td v-else></td>
                                    <td v-if="Predata != null">{{ Number(Predata.buy_price).toLocaleString() }} ៛ / {{ Number((Predata.buy_price/rate).toFixed(2)).toLocaleString() }} $</td>
                                    <td v-else></td>
                                    <td v-if="Predata != null">{{ Number(Predata.sel_price).toLocaleString() }} ៛ / {{ Number((Predata.sel_price/rate).toFixed(2)).toLocaleString() }} $</td>
                                    <td v-else></td>
                                    <td v-if="Predata != null">{{ Number(Predata.income).toLocaleString() }} ៛ / {{ Number((Predata.income/rate).toFixed(2)).toLocaleString() }} $</td>
                                    <td v-else></td>
                                    <td style="text-align: right;">{{ formatdatetime(search.startDate) }} - {{ formatdatetime(search.endDate) }}</td>

                                </tr> -->
                                <tr v-if="Predata != null" v-for="(item, index) in Predata.items" class="collapse" id="precollapse">
                                    <td class="text-center">2. {{ index + 1 }}</td>
                                    <td>{{ item.description }}</td>
                                    <td>{{ Number(item.sel_total).toLocaleString() }} ៛</td>
                                    <td>{{ item.method }}</td>
                                    <td>{{ Number(item.buy_price).toLocaleString() }} ៛</td>
                                    <td>{{ Number(item.sel_total).toLocaleString() }} ៛</td>
                                    <td>{{ Number(item.income).toLocaleString() }} ៛</td>
                                    <td style="text-align: right;">{{ formatdatetime(search.startDate) }} - {{ formatdatetime(search.endDate) }}</td>
                                </tr>

                                <!-- <tr class="parent-item" data-bs-toggle="collapse" href="#labocollapse" style="cursor: pointer;">
                                    <td>
                                        <span >
                                           3. {{ i18ntext.lngText('labo_income') }} <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                        </span>
                                    </td>
                                    <td v-if="Labodata != null">{{ Labodata.description }}</td>
                                    <td v-else></td>
                                    <td v-if="Labodata != null">
                                        {{ Number(Labodata.total).toLocaleString() }} ៛ / {{ Number((Labodata.total/rate).toFixed(2)).toLocaleString() }} $
                                    </td>
                                    <td v-else></td>
                                    <td v-if="Labodata != null">{{ Labodata.method }}</td>
                                    <td v-else></td>
                                    <td v-if="Labodata != null">{{ Number(Labodata.buy_price).toLocaleString() }} ៛ / {{ Number((Labodata.buy_price/rate).toFixed(2)).toLocaleString() }} $</td>
                                    <td v-else></td>
                                    <td v-if="Labodata != null">{{ Number(Labodata.sel_price).toLocaleString() }} ៛ / {{ Number((Labodata.sel_price/rate).toFixed(2)).toLocaleString() }} $</td>
                                    <td v-else></td>
                                    <td v-if="Labodata != null">{{ Number(Labodata.income).toLocaleString() }} ៛ / {{ Number((Labodata.income/rate).toFixed(2)).toLocaleString() }} $</td>
                                    <td v-else></td>
                                    <td style="text-align: right;">{{ formatdatetime(search.startDate) }} - {{ formatdatetime(search.endDate) }}</td>

                                </tr>
                                <tr v-if="Labodata != null" v-for="(item, index) in Labodata.items" class="collapse" id="labocollapse">
                                    <td class="text-center">3. {{ index + 1 }}</td>
                                    <td>{{ item.description }}</td>
                                    <td>{{ Number(item.sel_total).toLocaleString() }} ៛</td>
                                    <td>{{ item.method }}</td>
                                    <td>{{ Number(item.buy_price).toLocaleString() }} ៛</td>
                                    <td>{{ Number(item.sel_total).toLocaleString() }} ៛</td>
                                    <td>{{ Number(item.income).toLocaleString() }} ៛</td>
                                    <td style="text-align: right;">{{ formatdatetime(search.startDate) }} - {{ formatdatetime(search.endDate) }}</td>
                                </tr> -->



                                <tr >
                                    <td>{{ i18ntext.lngText('total') }}{{ i18ntext.lngText('income') }}</td>
                                    <td></td>
                                    <td class="price-bold">
                                       {{ Number(totalForm.total_sel).toLocaleString() }} ​៛ / {{ Number((totalForm.total_sel/rate).toFixed(2)).toLocaleString() }} $
                                    </td>
                                    <td>All</td>
                                    <td class="price-bold">{{ Number(totalForm.total_buy).toLocaleString() }} ៛ / {{ Number((totalForm.total_buy/rate).toFixed(2)).toLocaleString() }} $</td>
                                    <td class="price-bold">{{ Number(totalForm.total_sel).toLocaleString() }} ​៛ / {{ Number((totalForm.total_sel/rate).toFixed(2)).toLocaleString() }} $</td>
                                    <td class="price-bold">{{ Number(totalForm.total_income).toLocaleString() }}​ ៛ / {{ Number((totalForm.total_income/rate).toFixed(2)).toLocaleString() }} $</td>
                                    <td style="text-align: right;">{{ formatdatetime(search.startDate) }} - {{ formatdatetime(search.endDate) }}</td>
                                </tr>
                            </tbody>
                            <!-- end income  -->

                            <!-- expense -->
                            <thead>
                                <tr class="header-table">
                                    <th colspan="8" style="text-align: start;">
                                        <span style="cursor: pointer;" data-bs-toggle="collapse" href="#collapseExample1">
                                            {{ i18ntext.lngText('expense') }}  <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                        </span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="collapse" id="collapseExample1">
                                <tr class="parent-item">
                                    <td>
                                        <span data-bs-toggle="collapse" href="#collapseExample3" style="cursor: pointer;">
                                            1.  {{ i18ntext.lngText('gen_expense') }}  <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                        </span>
                                    </td>
                                    <td v-if="general_expense != null">{{ general_expense.description }}</td>
                                    <td v-else></td>
                                    <td v-if="general_expense != null">
                                       <span> {{ Number(general_expense.total_riel).toLocaleString() }} ៛</span>
                                       <span style="float:right">{{ Number((general_expense.total_riel/rate).toFixed(2)).toLocaleString() }} $</span>
                                    </td>
                                    <td v-else></td>
                                    <td v-if="general_expense != null">{{ general_expense.method }}</td>
                                    <td v-else></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td style="text-align: right;">{{ formatdatetime(search.startDate) }} - {{ formatdatetime(search.endDate) }}</td>
                                </tr>
                                <tr v-if="general_expense != null" v-for="(item, index) in general_expense.items" class="collapse" id="collapseExample3" >
                                    <td class="text-center">1. {{ index + 1 }}</td>
                                    <td>{{ item.expense_type }}</td>
                                    <td>
                                       <span>{{ Number(item.total).toLocaleString() }} ៛</span>


                                    </td>
                                    <td>{{ item.method }}</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td style="text-align: right;">{{ formatdatetime(search.startDate) }} - {{ formatdatetime(search.endDate) }}</td>
                                </tr>

                                <tr class="parent-item">
                                    <td>
                                        <span data-bs-toggle="collapse" href="#purchaseidcollape" style="cursor: pointer;">
                                           2.  {{ i18ntext.lngText('pur_expense') }}  <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                        </span>
                                    </td>
                                    <td v-if="purchase != null">{{purchase.description}}</td>
                                    <td v-else></td>
                                    <td v-if="purchase != null">
                                      <span> {{ Number(purchase.total_riel).toLocaleString() }} ៛</span>
                                      <span style="float:right">{{ Number((purchase.total_riel/rate).toFixed(2)).toLocaleString() }} $</span>
                                    </td>
                                    <td v-else></td>
                                    <td v-if="purchase != null">{{ purchase.method }}</td>
                                    <td v-else></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td style="text-align: right;">{{ formatdatetime(search.startDate) }} - {{ formatdatetime(search.endDate) }}</td>
                                </tr>

                                <tr v-if="purchase != null" v-for="(item, index) in purchase.items" class="collapse" id="purchaseidcollape" >
                                    <td class="text-center">2. {{ index + 1 }}</td>
                                    <td>{{ item.document }}</td>
                                    <td>
                                        <span>{{ Number(item.total_amount).toLocaleString() }} ៛</span>

                                    </td>
                                    <td>{{ item.method }}</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td style="text-align: right;">{{ formatdatetime(search.startDate) }} - {{ formatdatetime(search.endDate) }}</td>
                                </tr>

                                <tr class="parent-item">
                                    <td>
                                        <span data-bs-toggle="collapse" href="#begin" style="cursor: pointer;">
                                           3.  {{ i18ntext.lngText('beg_expense') }}  <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                        </span>
                                    </td>
                                    <td v-if="start_stock != null">{{ start_stock.description }}</td>
                                    <td v-else></td>
                                    <td v-if="start_stock != null">
                                        <span>{{ Number(start_stock.total_riel).toLocaleString() }} ៛</span>
                                        <span style="float:right">{{ Number((start_stock.total_riel/rate).toFixed(2)).toLocaleString() }} $</span>
                                    </td>
                                    <td v-else></td>
                                    <td v-if="start_stock != null">{{ start_stock.method }}</td>
                                    <td v-else></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td style="text-align: right;">{{ formatdatetime(search.startDate) }} - {{ formatdatetime(search.endDate) }}</td>
                                </tr>
                                <tr v-if="start_stock != null" v-for="(item, index) in start_stock.items" class="collapse" id="begin" >
                                    <td class="text-center">3. {{ index + 1 }}</td>
                                    <td>{{ item.description }}</td>
                                    <td>
                                        <span>{{ Number(item.total).toLocaleString() }} ៛</span>


                                    </td>
                                    <td>{{ item.method }}</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td style="text-align: right;">{{ formatdatetime(search.startDate) }} - {{ formatdatetime(search.endDate) }}</td>
                                </tr>

                                <tr>
                                    <td> {{ i18ntext.lngText('total') }}{{ i18ntext.lngText('expense') }} </td>
                                    <td></td>
                                    <td class="price-bold">
                                       <span>{{ Number(all_total).toLocaleString() }} ៛</span>
                                       <span style="float:right">{{ Number((all_total / rate).toFixed(2)).toLocaleString() }} $</span>
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td style="text-align: right;">{{ formatdatetime(search.startDate) }} - {{ formatdatetime(search.endDate) }}</td>
                                </tr>
                            </tbody>
                            <thead>
                                <tr class="header-table">
                                    <td colspan="2" style="text-align: start;">
                                        <span style="cursor: pointer;">
                                            {{ i18ntext.lngText('income') }}&{{ i18ntext.lngText('expense') }}
                                        </span>
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td colspan="2" class="price-bold">
                                        <span>{{ Number(Math.abs(grow_profit)).toLocaleString() }} ៛</span>
                                        <span v-if="grow_profit >= 0" style="float:right">{{ Number(parseFloat(Math.abs(grow_profit) / rate).toFixed(2)).toLocaleString() }} $ ( {{ i18ntext.lngText('profit') }} )</span>
                                        <span v-if="grow_profit < 0" style="float:right">{{ Number(parseFloat(Math.abs(grow_profit) / rate).toFixed(2)).toLocaleString() }} $ ({{ i18ntext.lngText('Expen')}})</span>
                                    </td>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade ui-modal" id="staticboomId" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticboomId" aria-hidden="true">
        <div class="modal-dialog" style="max-width: 90% !important;">
            <div class="modal-content ui-dialog" style="height: 90vh !important;">
                <div class="ui-widget-header">
                    <h5 class="modal-title in-header" id="staticBackdropLabel"><i class="fa fa-print"
                            aria-hidden="true"></i>
                            {{ i18ntext.lngText('print') }} </h5>
                    <span class="ui-icon ui-icon-closethick" data-bs-dismiss="modal" aria-label="Close"></span>
                </div>
                <div class="ui-dialog-content print-size" style="height: 200vh !important;">
                    <div class="card">
                        <div class="card-body" id="purchaseorder" style="padding:4rem !important;">
                            <div class="mt-3 ">
                                <div style="background-color: #fff;">
                                    <div class="col-md-12">
                                        <div class="text-center">
                                            <h3 class="title-purchase">{{ i18ntext.lngText('in_ex_report') }}</h3>
                                        </div>
                                    </div>
                                    <div class="col-container">
                                        <div class="col1">
                                            <p class=" p-bg font-size p-pad">{{ i18ntext.lngText('company') }}</p>
                                            <p class="p-mg info-pad"><span id="bold">{{ i18ntext.lngText('name') }} :</span> <span id="fon">{{
                                                company.company_name
                                            }}</span></p>
                                            <p class="p-mg  info-pad"><span id="bold">{{ i18ntext.lngText('phonenumber') }} :</span> <span
                                                    id="fon">{{
                                                        company.company_Phone }}</span></p>
                                            <p class="p-mg info-pad"><span id="bold">{{ i18ntext.lngText('email') }} :</span> <span
                                                    id="fon">{{
                                                        company.company_Email }}</span></p>
                                            <p class="p-mg info-pad"><span id="bold">{{ i18ntext.lngText('address') }} :</span> <span id="fon">{{
                                                company.company_Address }}</span></p>
                                        </div>
                                        <div class="col2">
                                            <p class="text-center p-bg font-size p-pad">{{ i18ntext.lngText('date') }}</p>
                                            <p class="text-center p-mg" id="fon">{{ formatdatetime(dateformart) }}</p>
                                            <!-- <p class="text-center p-bg font-size p-pad">REPORT NO.</p>
                                            <p class="text-center p-mg"></p> -->
                                        </div>
                                    </div>
                                    <div class=" my-2  justify-content-center">
                                        <table id="pr-tb">
                                            <thead>
                                                <tr class="p-bg">
                                                    <th class="text-center" style="padding-left: 5px !important;">{{ i18ntext.lngText('type') }}
                                                        </th>
                                                    <th class="text-center" style="padding-left: 5px !important;">{{ i18ntext.lngText('description') }}</th>
                                                    <th class="text-center" style="padding-left: 5px !important;">{{ i18ntext.lngText('total_amount') }}</th>
                                                    <th class="text-center" style="padding-left: 5px !important;">{{ i18ntext.lngText('pay_method') }}</th>
                                                    <th class="text-center" style="padding-left: 5px !important;">{{ i18ntext.lngText('buy_price') }}</th>
                                                    <th class="text-center" style="padding-left: 5px !important;">{{ i18ntext.lngText('sel_price') }}</th>
                                                    <th class="text-center" style="padding-left: 5px !important;">{{ i18ntext.lngText('income') }}</th>

                                                </tr>
                                                <tr class="p-bg">
                                                    <th colspan="7" style="text-align: start;padding-left: 5px !important;">
                                                        {{ i18ntext.lngText('date') }}{{ i18ntext.lngText('income') }} : {{ formatdatetime(search.startDate) }} - {{ formatdatetime(search.endDate) }}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="price-bold">
                                                    <td>1. {{ i18ntext.lngText('POS') }}</td>
                                                    <td v-if="Posdata != null">{{ Posdata.description }}</td>
                                                    <td v-else></td>
                                                    <td v-if="Posdata != null">{{ Number(Posdata.total).toLocaleString() }} ៛ / {{ Number((Posdata.total/rate).toFixed(2)).toLocaleString() }} $</td>
                                                    <td v-else></td>
                                                    <td v-if="Posdata != null">{{ Posdata.method }}</td>
                                                    <td v-else></td>
                                                    <td v-if="Posdata != null">{{ Number(Posdata.buy_price).toLocaleString() }} ៛ / {{ Number((Posdata.buy_price/rate).toFixed(2)).toLocaleString() }} $</td>
                                                    <td v-else></td>
                                                    <td v-if="Posdata != null">{{ Number(Posdata.sel_price).toLocaleString() }} ៛ / {{ Number((Posdata.sel_price/rate).toFixed(2)).toLocaleString() }} $</td>
                                                    <td v-else></td>
                                                    <td v-if="Posdata != null">{{ Number(Posdata.income).toLocaleString() }} ៛ / {{ Number((Posdata.income/rate).toFixed(2)).toLocaleString() }} $</td>
                                                    <td v-else></td>

                                                </tr>
                                                <tr v-if="Posdata != null" v-for="(item, index) in Posdata.items">
                                                    <td class="text-center">1. {{ index + 1 }}</td>
                                                    <td>{{ item.description }}</td>
                                                    <td>{{ Number(item.sel_total).toLocaleString() }} ៛</td>
                                                    <td>{{ item.method }}</td>
                                                    <td>{{ Number(item.buy_price).toLocaleString() }} ៛</td>
                                                    <td>{{ Number(item.sel_total).toLocaleString() }} ៛</td>
                                                    <td>{{ Number(item.income).toLocaleString() }} ៛</td>
                                                </tr>
                                                <tr class="price-bold">
                                                    <td>2. {{ i18ntext.lngText('prescription') }}</td>
                                                    <td v-if="Predata != null">{{ Predata.description }}</td>
                                                        <td v-else></td>
                                                        <td v-if="Predata != null">{{ Number(Predata.total).toLocaleString() }} ៛ / {{ Number((Predata.total/rate).toFixed(2)).toLocaleString() }} $</td>
                                                        <td v-else></td>
                                                        <td v-if="Predata != null">{{ Predata.method }}</td>
                                                        <td v-else></td>
                                                        <td v-if="Predata != null">{{ Number(Predata.buy_price).toLocaleString() }} ៛ / {{ Number((Predata.buy_price/rate).toFixed(2)).toLocaleString() }} $</td>
                                                        <td v-else></td>
                                                        <td v-if="Predata != null">{{ Number(Predata.sel_price).toLocaleString() }} ៛ / {{ Number((Predata.sel_price/rate).toFixed(2)).toLocaleString() }} $</td>
                                                        <td v-else></td>
                                                        <td v-if="Predata != null">{{ Number(Predata.income).toLocaleString() }} ៛ / {{ Number((Predata.income/rate).toFixed(2)).toLocaleString() }} $</td>
                                                        <td v-else></td>

                                                </tr>
                                                <tr v-if="Predata != null" v-for="(item, index) in Predata.items">
                                                    <td class="text-center">2. {{ index + 1 }}</td>
                                                    <td>{{ item.description }}</td>
                                                    <td>{{ Number(item.sel_total).toLocaleString() }} ៛</td>
                                                    <td>{{ item.method }}</td>
                                                    <td>{{ Number(item.buy_price).toLocaleString() }} ៛</td>
                                                    <td>{{ Number(item.sel_total).toLocaleString() }} ៛</td>
                                                    <td>{{ Number(item.income).toLocaleString() }} ៛</td>
                                                </tr>
                                                <tr class="price-bold">
                                                    <td>3. {{ i18ntext.lngText('labo') }}</td>
                                                    <td v-if="Labodata != null">{{ Labodata.description }}</td>
                                                        <td v-else></td>
                                                        <td v-if="Labodata != null">{{ Number(Labodata.total).toLocaleString() }} ៛ / {{ Number((Labodata.total/rate).toFixed(2)).toLocaleString() }} $</td>
                                                        <td v-else></td>
                                                        <td v-if="Labodata != null">{{ Labodata.method }}</td>
                                                        <td v-else></td>
                                                        <td v-if="Labodata != null">{{ Number(Labodata.buy_price).toLocaleString() }} ៛ / {{ Number((Labodata.buy_price/rate).toFixed(2)).toLocaleString() }} $</td>
                                                        <td v-else></td>
                                                        <td v-if="Labodata != null">{{ Number(Labodata.sel_price).toLocaleString() }} ៛ / {{ Number((Labodata.sel_price/rate).toFixed(2)).toLocaleString() }} $</td>
                                                        <td v-else></td>
                                                        <td v-if="Labodata != null">{{ Number(Labodata.income).toLocaleString() }} ៛ / {{ Number((Labodata.income/rate).toFixed(2)).toLocaleString() }} $</td>
                                                        <td v-else></td>

                                                </tr>
                                                <tr v-if="Labodata != null" v-for="(item, index) in Labodata.items">
                                                    <td class="text-center">3. {{ index + 1 }}</td>
                                                    <td>{{ item.description }}</td>
                                                    <td>{{ Number(item.sel_total).toLocaleString() }} ៛</td>
                                                    <td>{{ item.method }}</td>
                                                    <td>{{ Number(item.buy_price).toLocaleString() }} ៛</td>
                                                    <td>{{ Number(item.sel_total).toLocaleString() }} ៛</td>
                                                    <td>{{ Number(item.income).toLocaleString() }} ៛</td>
                                                </tr>
                                                <tr class="price-bold">
                                                    <td colspan="2">{{ i18ntext.lngText('total') }}{{ i18ntext.lngText('income') }}</td>
                                                    <td class="price-bold">{{ Number(totalForm.total_sel).toLocaleString() }} ​៛ / {{ Number((totalForm.total_sel/rate).toFixed(2)).toLocaleString() }} $</td>
                                                    <td>

                                                    </td>
                                                    <td class="price-bold">{{ Number(totalForm.total_buy).toLocaleString() }} ៛ / {{ Number((totalForm.total_buy/rate).toFixed(2)).toLocaleString() }} $</td>
                                                    <td class="price-bold">{{ Number(totalForm.total_sel).toLocaleString() }} ​៛ / {{ Number((totalForm.total_sel/rate).toFixed(2)).toLocaleString() }} $</td>
                                                    <td class="price-bold">{{ Number(totalForm.total_income).toLocaleString() }}​ ៛ / {{ Number((totalForm.total_income/rate).toFixed(2)).toLocaleString() }} $</td>
                                                </tr>
                                            </tbody>
                                            <thead>
                                                <tr class="p-bg">
                                                    <th colspan="7" style="text-align: start;padding-left: 5px !important;">
                                                        {{ i18ntext.lngText('date') }}{{ i18ntext.lngText('expense') }} : {{ formatdatetime(search.startDate) }} - {{ formatdatetime(search.endDate) }}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="price-bold">
                                                    <td>1. {{ i18ntext.lngText('general') }}</td>
                                                    <td v-if="general_expense != null">{{ general_expense.description }}</td>
                                                    <td v-else></td>
                                                    <td v-if="general_expense != null">{{ Number(general_expense.total_riel).toLocaleString() }} ៛</td>
                                                    <td v-else></td>
                                                    <td v-if="general_expense != null">{{ general_expense.method }}</td>
                                                    <td v-else></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>

                                                </tr>
                                                <tr v-if="general_expense != null" v-for="(item, index) in general_expense.items">
                                                    <td class="text-center">1. {{ index + 1 }}</td>
                                                    <td>{{ item.expense_type }}</td>
                                                    <td>{{ Number(item.total).toLocaleString() }} ៛</td>
                                                    <td>{{ item.method }}</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                                <tr class="price-bold">
                                                    <td>2. {{ i18ntext.lngText('purchase') }}</td>
                                                    <td v-if="purchase != null">{{purchase.description}}</td>
                                                    <td v-else></td>
                                                    <td v-if="purchase != null">{{ Number(purchase.total_riel).toLocaleString() }} ៛</td>
                                                    <td v-else></td>
                                                    <td v-if="purchase != null">{{ purchase.method }}</td>
                                                    <td v-else></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                                <tr v-if="purchase != null" v-for="(item, index) in purchase.items">
                                                    <td class="text-center">2. {{ index + 1 }}</td>
                                                    <td>{{ item.document }}</td>
                                                    <td>{{ Number(item.total_amount).toLocaleString() }} ៛</td>
                                                    <td>{{ item.method }}</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                                <tr class="price-bold">
                                                    <td>3. {{ i18ntext.lngText('begin-stock') }}</td>
                                                    <td v-if="start_stock != null">{{ start_stock.description }}</td>
                                                    <td v-else></td>
                                                    <td v-if="start_stock != null">{{ Number(start_stock.total_riel).toLocaleString() }} ៛</td>
                                                    <td v-else></td>
                                                    <td v-if="start_stock != null">{{ start_stock.method }}</td>
                                                    <td v-else></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                                <tr v-if="start_stock != null" v-for="(item, index) in start_stock.items">
                                                    <td class="text-center">3. {{ index + 1 }}</td>
                                                    <td>{{ item.description }}</td>
                                                    <td>{{ Number(item.total).toLocaleString() }} ៛</td>
                                                    <td>{{ item.method }}</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                                <tr class="price-bold">
                                                    <td colspan="2">{{ i18ntext.lngText('total') }}{{ i18ntext.lngText('expense') }}</td>
                                                    <td class="price-bold">{{ Number(all_total).toLocaleString() }} ៛</td>
                                                    <td></td>
                                                    <td> </td>
                                                    <td> </td>
                                                    <td></td>
                                                </tr>
                                                <tr class="price-bold">
                                                    <td colspan="2">{{ i18ntext.lngText('income') }}&{{ i18ntext.lngText('expense') }}</td>
                                                    <td colspan="6" class="price-bold">
                                                        <span>{{ Number(Math.abs(grow_profit)).toLocaleString() }} ៛</span>
                                                        <span v-if="grow_profit >= 0" style="float: right">{{ Number((Math.abs(grow_profit) / rate).toFixed(2)).toLocaleString() }} $ ({{ i18ntext.lngText('profit') }})</span>
                                                        <span v-if="grow_profit < 0" style="float:right">{{ Number((Math.abs(grow_profit) / rate).toFixed(2)).toLocaleString() }} $ ({{ i18ntext.lngText('Expen') }})</span>

                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <span class="price-bold float-right" style="margin-top: 2rem;">{{i18ntext.lngText('report_by')}} : {{employee.firstname}} {{employee.lstname}}</span>
                                    </div>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button v-print="'#purchaseorder'" class="btn-purchase btn-light text-capitalize border-0">
                        <i class="fa fa-print text-primary"></i> {{ i18ntext.lngText('print') }}
                    </button>
                </div>
            </div>
        </div>
    </div>
    <Footer />
    <UserInfo />
</template>

<script>
import axios from "axios";
import { useCurrentTime } from "../../componentJS/date";
import pagination from "laravel-vue-pagination";
import moment from "moment";
import Footer from "../footer.vue"
import Logo from "../logo.vue"
import UserInfo from "../UserInfo.vue"
import i18n from "../../i18n/i18n";

import print from 'vue3-print-nb';
import Auth from "../../auth/Auth";
import Header from "../Header.vue";
export default {
    components:
    {
        Header, Logo, pagination, Footer,UserInfo
    },
    setup() {
        const { currentTime } = useCurrentTime();
        return { currentTime };
    },
    directives: {
        print
    },
    data() {
        return {
            i18ntext: i18n,
            Pay: "",
            company: [],
            employee:[],
            massege: "",
            search: {
                pay: "",
                startDate: "",
                endDate: "",
                created_by : Auth.user.id,
            },
            Posdata : [],
                Predata :[],
                Labodata :[],

                buy_price : 0,
                sel_price : 0,
                income : 0,

                labo_buy : 0,
                labo_sel : 0,
                labo_income : 0,
                totalForm: {
                    total_buy: 0,
                    total_sel : 0,
                    total_income : 0,
                    total_buy_usd : 0,
                    total_sel_usd : 0,
                    total_income_usd : 0,
                },
                general_expense: [],
                total_general_expense : 0,
                start_stock : [],
                total_start_stock : 0,

                purchase : [],
                all_total : 0,
                grow_profit : 0,
                rate: 0,
        };
    },

    mounted() {
        if (Auth.check()) {
        if(!Auth.checkPermission('IN_EXREPORT_ALL')){
            this.$router.push('/dashboard');
        }
    }
        this.selectdate = moment(new Date()).format('YYYY-MM-DD');
        this.selectmoth = moment(new Date()).format('YYYY-MM');
        this.selectyear = moment(new Date()).format('YYYY');
        this.getcompany();
        this.search.endDate = moment(new Date()).format('YYYY-MM-DD');
        const mydate = new Date();
        this.search.startDate = moment(mydate.setMonth(mydate.getMonth() - 1)).format('YYYY-MM-DD');
        this.getData();
        this.getExpense();
        this.employeeName()

    },

    methods: {
        async getExpense(){
             await axios.post('api/v1/report/getexpense',this.search)
                        .then(res => {
                            this.general_expense = res.data.general[0]
                            this.start_stock = res.data.startstock[0]
                            this.purchase = res.data.purchase[0]
                            this.all_total = res.data.total_riel
                            this.grow_profit =this.totalForm.total_sel - this.all_total;
                            this.rate =  parseFloat(res.data.exchange)
                        })
        },
        async getData(){
                await axios.post('api/v1/report/incomeReport',this.search)
                            .then(res => {
                                this.Posdata = res.data.pos[0]
                                this.Predata = res.data.prescription[0]
                                this.Labodata = res.data.labo[0]
                                this.buy_price = res.data.product_buy
                                this.sel_price = res.data.product_sell
                                this.income = res.data.product_income

                                this.labo_buy = res.data.labo_buy
                                this.labo_sel = res.data.labo_sell
                                this.labo_income = res.data.labo_income

                                this.totalForm.total_buy = res.data.total_buy
                                this.totalForm.total_sel = res.data.total_sell
                                this.totalForm.total_income = res.data.total_income

                                this.totalForm.total_buy_usd = res.data.total_buy_usd
                                this.totalForm.total_sel_usd = res.data.total_sell_usd
                                this.totalForm.total_income_usd = res.data.total_income_usd
                            })
            },

        formatyear() {
            document.querySelector("input[type=number]")
                .oninput = e => console.log(e.target.valueAsNumber)
        },
        employeeName(){
            axios.post('/api/v1/employee_name',Auth.user)
            .then(res =>{
                this.employee = res.data
            })
        },
        async getcompany() {
            axios.get("/api/v1/getSetup/")
                .then((response) => {
                    this.company = response.data;
                    this.dateformart = moment(new Date()).format('YYYY-MM-DD');
                });
        },
        getvalue(value) {
            this.Pay = value
        },
        formatdatetime(dateform) {
            try {
                return  moment(dateform).format('DD-MM-YYYY');
            } catch (error) {
                return dateform;
            }
        },
        async searchData(){
            this.getData()
            this.getExpense()
        },
        async printDivContent() {
            var contentOfDiv = document.getElementById("paypos1").outerHTML;
            var newWin = window.open('invoice', '', 'height=auto, width=400');
            await newWin.document.write('<title>Print Content of Div element by  using Javascript</title>');
            await newWin.document.write('<link rel="stylesheet" href="css/style.css">');
            await newWin.document.write('<link rel="stylesheet" href="css/pstyle.css">');
            await newWin.document.write('<link rel="stylesheet" href="css/body_invoice.css">');
            await newWin.document.write(contentOfDiv);
            newWin.document.close();
            await newWin.print();
            newWin.window.close();
            this.getdataPos();
        },

    },
};
</script>
