<template>
    <div class="wrapper">
        <div class="container-fuild">
            <div id="headTitle">
                    <logo />
                    <h1 id="title" _msttexthash="48503" _msthash="2">{{i18ntext.lngText('role')}}</h1>
            </div>
        </div>
        <Header />
        <ol id="topicPath">
            <li style="margin-left: 224px;">
                <router-link to="productsetting">
                    <a href="dashbaord">
                        <font style="vertical-align : inherit">
                            <font style="vertical-align : inherit">
                                {{i18ntext.lngText('role')}}
                            </font>
                        </font>
                    </a>
                </router-link>
            </li>
        </ol>
        <div class="search-box">
            <div id="product">
                <div class="search-box">
                    <MenuBrand />
                    <div class="search-box-title" style="padding-left: 9px;">
                        <router-link to="employee"><a class="btn-radius btn btn-sm" href="#"
                            style="color: #f8f5b4; margin-top: -2px">
                            <i class="fa fa-cog" aria-hidden="true"></i>
                            {{i18ntext.lngText('emp')}}
                        </a></router-link>
                        <router-link to="user"><a class="btn-radius btn btn-sm" href="#"
                            style="color: #f8f5b4; margin-top: -2px;">
                            <i class="fa fa-cog" aria-hidden="true"></i>
                            {{i18ntext.lngText('user')}}
                        </a></router-link>
                        <router-link to="permission"><a class="btn-radius btn btn-sm" href="#"
                                style="color: #f8f5b4; margin-top: -2px;">
                                <i class="fa fa-cog" aria-hidden="true"></i>
                                {{i18ntext.lngText('permis')}}
                            </a></router-link>
                        <router-link to="role"><a class="btn-radius btn btn-sm" href="#"
                                style="color: #f8f5b4; margin-top: -2px;background-color: #29a5a5; border: #22adb763 1px solid;">
                                <i class="fa fa-cog" aria-hidden="true"></i>
                                {{i18ntext.lngText('role')}}
                            </a></router-link>
                    </div>
                    <div class="search-box-content">
                        <table width="100%" border="0" cellpadding="0" cellspacing="0" class="tbl_search" id="hover-table">
                            <tbody>
                                <tr>
                                    <th width="10%">{{i18ntext.lngText('role')}}</th>
                                    <td width="50%"><input autocomplete="off" class="string_zen clear_text text input_text" type="text"
                                            style="width: 360px;" v-model="role_form.role">
                                    </td>
                                </tr>
                                <tr>
                                    <th width="10%">{{i18ntext.lngText('description')}}</th>
                                    <td width="50%"><input autocomplete="off" class="string_zen clear_text text input_text" type="text"
                                            style="width: 360px;" v-model="role_form.description">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="search-box-footer">
                            <div v-if="btnback == true" @click="Back()" class="button type2" id="uniform-undefined">
                                <span><input autocomplete="off" type="button" class="type2" tabindex="10025" value="display"
                                        style="opacity: 0; width: 54px;">
                                    <i class="fa fa-arrow-left"></i>
                                    {{i18ntext.lngText('back')}}</span>
                            </div>
                            <div v-if="this.btnCheck == 'Save'" class="button type2" id="uniform-undefined" @click="btnChecked()">
                                <span><input autocomplete="off" type="button" class="type2" tabindex="10025" value="display"
                                        style="opacity: 0; width: 54px;"><i class="fa fa-save" aria-hidden="true"></i>
                                    {{ i18ntext.lngText('save') }}
                                </span>
                            </div>
                            <div v-if="this.btnCheck == 'Update'" class="button type2" id="uniform-undefined" @click="btnChecked()">
                                <span><input autocomplete="off" type="button" class="type2" tabindex="10025" value="display"
                                        style="opacity: 0; width: 54px;"><i class="fa fa-save" aria-hidden="true"></i>
                                        {{ i18ntext.lngText('update') }}
                                </span>
                            </div>
                            <span class="marker"></span>
                        </div>
                    </div>
                </div>
                <div class="box mt-4">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0" class="table table-striped br-table">
                        <thead>
                            <tr class="header-table">
                                <th width="3%">{{i18ntext.lngText('No')}}</th>
                                <th width="14%">{{i18ntext.lngText('role')}}</th>
                                <th width="14%">{{i18ntext.lngText('description')}}</th>
                                <th width="7%"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="x in xs">
                                <td>{{ x.id }}</td>
                                <td>{{ x.role }}</td>
                                <td>{{ x.description }}</td>
                                <td class="text-center">
                                    <div class="button" id="uniform-undefined" @click="selectRole(x)">
                                        <span><i class="fa fa-edit"></i>  {{ i18ntext.lngText('select') }}<input autocomplete="off" type="button" data-bs-toggle="modal"
                                                data-bs-target="#staticBackdrop" tabindex="10028"
                                                style="opacity: 0; width: 76px" /></span>
                                    </div>
                                    <div class="button" id="uniform-undefined" @click="deleteRole(x)">
                                        <span><input autocomplete="off" type="button" class="type2" tabindex="10025" value="display"
                                                style="opacity: 0; width: 54px;">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                            {{ i18ntext.lngText('Delete') }}</span>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div id="footer">
        <div id="copyright">Copyright (C) healthbook. ALL Right s Researved Edit by Lsky</div>
    </div>
    <UserInfo />
</template>
<script>
import axios from "axios";
import pagination from "laravel-vue-pagination";
import moment from "moment";
import Header from "../Header.vue";
import Logo from "../logo.vue";
import Auth from "../../auth/Auth";
import UserInfo from "../UserInfo.vue"
import i18n from "../../i18n/i18n";
import { ref } from "vue";
export default {
    components: { Header, pagination, Logo,UserInfo },
    directives: {
        print
    },
    data() {
        return {
            i18ntext: i18n,
            serails: [],
            company: [],
            xs: [],
            formatdate: "",
            checkbt: '',
            perPage: "",
            currentPage: 0,
            last_page: 1,
            action_api: "",
            btcheck: 'Save',
            action_api_1: "",
            employee: [],
            deleteid: '',
            user: [],
            error: "",
            massege: "",
            btnback: false,
            object: {
                id: '',
                email: ' ',
                firstname: ''
            },
            role_form: {
                id: "",
                role: "",
                description: "",
                created_by: "",
                updated_by: "",
                created_at: "",
                updated_at: "",
            },
            btnback: false,
            btnCheck: "Save"
        };
    },
    mounted() {
        this.loggedUser = Auth.user
        this.getRole()
    },
    methods: {
        createRole() {
            this.role_form.created_by = Auth.user.id
            axios.post("api/v1/role/ctreate", this.role_form)
                .then((res) => {
                    this.role_form = res.data
                    this.role_form = {}
                    this.getRole()
                })
        },
        getRole() {
            this.role_form.created_by = Auth.user.id
            this.role_form.role = Auth.user.role
            axios.post("api/v1/role/index", this.role_form)
                .then((res) => {
                    this.xs = res.data
                    this.role_form.role = ""
                })
        },
        selectRole(role) {
            this.role_form = role
            this.btnback = true
            this.btnCheck = "Update"
        },
        Back() {
            this.btnback = false
            this.btnCheck = "Save"
            this.role_form = {}
        },
        btnChecked() {
            if (this.btnCheck == 'Save') {
                this.createRole()
            }
            else {
                this.updateRole()
            }
        },
        updateRole() {
            this.role_form.updated_by = Auth.user.user_code
            axios.post("api/v1/role/update", this.role_form)
                .then((res) => {
                    this.role_form = res.data
                    this.getRole()
                    this.btnCheck = "Save"
                    this.btnback = false
                    this.role_form = {}
                })
        },
        deleteRole(item){
            axios.post("api/v1/role/delete",item)
            .then(() =>{
                this.getRole()
               
            })
        },  
    },
}
</script>