<template>
  <div class="wrapper">
    <div class="container-fuild">
      <div id="headTitle">
        <Logo />
        <h1 id="title" _msttexthash="48503" _msthash="2">{{ i18ntext.lngText('room') }}</h1>
      </div>
      <Header />
      <ol id="topicPath">
        <li style="margin-left: 280px">
          <router-link to="product">
            <a href="dashbaord">
              <font style="vertical-align: inherit">
                <font style="vertical-align: inherit"> {{ i18ntext.lngText('room') }} </font>
              </font>
            </a>
          </router-link>
        </li>
      </ol>
    </div>
    <div class="search-box">
      <div id="product">
        <!-- ****? -->
        <div class="search-box-content">
            <table
              width="100%"
              border="0"
              
              cellpadding="0"
              cellspacing="0"
              class="tbl_search"
              id="hover-table"
            >
            <div class="search-box-content col-md-8 search-box02 flo02" style="font-size: 100%;">
              <table
                width="100%"
                border="0"
                cellpadding="0"
                cellspacing="0"
                class="tbl_search"
                id="hover-table"
              >
                <tbody>
                  <tr>
                    <th width="20%"  >{{ i18ntext.lngText('no') }}</th>
                    <td width="50%">
                      <div class="d-flex">
                        <input autocomplete="off"
                        @change="autoUpdateProduct(form)"
                        @keyup.enter="CreateID()"
                        class="string_zen_kana clear_text text input_text"
                        style="width: 360px;margin-right: 0;"
                        type="text"
                      />
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th width="20%"  >{{ i18ntext.lngText('roomtype_no') }}</th>
                    <td width="50%">
                      <div class="d-flex">
                        <input autocomplete="off"
                        @change="autoUpdateProduct(form)"
                        @keyup.enter="CreateID()"
                        class="string_zen_kana clear_text text input_text"
                        style="width: 360px;margin-right: 0;"
                        type="text"
                      />
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th width="20%"  >{{ i18ntext.lngText('room_no') }}</th>
                    <td width="50%">
                      <div class="d-flex">
                        <input autocomplete="off"
                        @change="autoUpdateProduct(form)"
                        @keyup.enter="CreateID()"
                        class="string_zen_kana clear_text text input_text"
                        style="width: 360px;margin-right: 0;"
                        type="text"
                      />
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th width="20%"  >{{ i18ntext.lngText('room_name') }}</th>
                    <td width="50%">
                      <div class="d-flex">
                        <input autocomplete="off"
                        @change="autoUpdateProduct(form)"
                        @keyup.enter="CreateID()"
                        class="string_zen_kana clear_text text input_text"
                        style="width: 360px;margin-right: 0;"
                        type="text"
                      />
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th width="20%" >{{ i18ntext.lngText('description_no') }}</th>
                    <td width="50%">
                      <div class="d-flex">
                        <input autocomplete="off"
                        @change="autoUpdateProduct(form)"
                        @keyup.enter="CreateID()"
                        v-model="form.product_no"
                        class="string_zen_kana clear_text text input_text"
                        style="width: 360px;margin-right: 0;"
                        type="text"
                      />
                      </div>
                    </td>
                  </tr>
                  <tr>
                  </tr>
                  <!-- mood -->
                </tbody>
              </table>
            </div>
            <div class="box-img02" style="height: 173px;">
              <img v-if="imageUrl == null" src="img/icon-img_upload.png" alt="Upload Image.."
                  style="width: 235px; height: auto; margin-top: -45px;" @click="choosePhoto" />
              <img v-else :src="imageUrl" alt="Upload Image.."
                  style="width: 170px; height: auto; margin-top: -55px;" @click="choosePhoto" />
                  <!-- <p style="margin-left: 20px; font-size: 15px;"> Drop an image or Upload file</p> -->
              <input autocomplete="off" ref="choose" name="image" type="file" tabindex="10029"
                  @change="imgUplaodProduct($event)" style="margin-left: 87px; margin-top: -70px; opacity: 0; "/>
          </div>
            </table>

            <div class="search-box-footer">
              <div
                class="button type2"
                id="uniform-undefined"
                @click="mySearch()"
              >
                <span
                  ><i
                    class="fa fa-search"
                    aria-hidden="true"
                    style="margin-right: 7px"
                  ></i
                  >
                  {{ i18ntext.lngText('search') }}

                  </span
                >
              </div>
              <div
               
                class="button type2"
                id="uniform-undefined"
                @click="btnDelete()"
              >
                <span
                  ><i class="fa fa-trash" aria-hidden="true"></i> {{ i18ntext.lngText('Delete') }}<input autocomplete="off"
                    type="button"
                    style="opacity: 0; width: 140px"
                  />
                </span>
              </div>
              <div v-if="btncheckEdit == 'Save'"
                class="button type2"
                id="uniform-undefined"
                data-bs-toggle="modal"
                data-bs-target="#comfirmcreate"
              >
                <span
                  ><i class="fas fa-file-import" style="margin-right: 7px"></i
                  >{{ i18ntext.lngText('save') }}</span
                >
                <input autocomplete="off"
                  type="button"
                  value="clear"
                  class="type2"
                  @click="clear()"
                  style="opacity: 0; width: 63px"
                  tabindex="10026"
                />
              </div>
              <div v-if="btncheckEdit == 'Update'"
                class="button type2"
                id="uniform-undefined"
                data-bs-toggle="modal"
                data-bs-target="#comfirmcreate"
              >
                <span
                  ><i class="fas fa-file-import" style="margin-right: 7px"></i
                  >{{ i18ntext.lngText('update') }}</span
                >
                <input autocomplete="off"
                  type="button"
                  value="clear"
                  class="type2"
                  @click="clear()"
                  style="opacity: 0; width: 63px"
                  tabindex="10026"
                />
              </div>
              <span class="marker"></span>
            </div>
          </div>

        <!-- ****? -->
       
        <div>
            <h4 style="color: #fff; font-weight: 400; margin-top: 15px;">Add Size</h4>
        </div>
        <div class="box">
          <div class="box-content">
            <table
              width="100%"
              border="0"
              cellpadding="0"
              cellspacing="0"
              class="tbl_list tbl_stripe"
              id="myTable"
            >
              <thead>
                <tr>
                  <th width="10%" class="tb-pro-th">{{ i18ntext.lngText('sizeno') }}</th>
                  <th width="20%" class="tb-pro-th">{{ i18ntext.lngText('description') }}</th>
                  <th width="10%" class="tb-pro-th">{{ i18ntext.lngText('size') }}</th>
                  <th width="9%" class="tb-pro-th">{{ i18ntext.lngText('quantity') }}</th>
                  <th width="9%" class="tb-pro-th">{{ i18ntext.lngText('sale_price') }}</th>
                  <th width="9%" class="tb-pro-th"></th>
                </tr>
                <tr v-for="form_line in form_lines">
                  <th>
                    <input autocomplete="off"
                      :disabled="true"
                      v-model="form_line.product_no"
                      @change="autoUpdate(form_line)"
                      class="string_zen clear_text text"
                      size="50"
                      type="text"
                      style="width: 80% !important"
                    />
                  </th>
                  <th>
                    <input autocomplete="off"
                      v-model="form_line.description"
                      @change="autoUpdate(form_line)"
                      class="string_zen clear_text text"
                      size="50"
                      type="text"
                      style="width: 80% !important"
                    />
                  </th>
                  <th>
                    <div class="dropdown">
                      <button
                        @click="getunit(form_line.product_no)"
                        @onmouseout="prooductboom(form_line)"
                        class="dropdown-toggle string_zen clear_text text select-menu-button"
                        type="button"
                        id="dropdownMenuButton1"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                        size="50"
                        style="height: 25px !important;"

                      >
                        {{ form_line.variant_unit_of_measure_code }}
                      </button>
                      <div
                        class="dropdown-menu each-drop-menu"
                        aria-labelledby="dropdownMenuButton1"
                      >
                        <p>
                          <input autocomplete="off"
                            v-model="txtsearch"
                            @input="searchproduct(txtsearch)"
                            class="string_zen clear_text text search-pro-field"
                            size="50"
                            type="text"
                          />
                        </p>
                        <ul style="list-style: none" class="scrollable-menu">
                          <li v-for="boompro in unit_products"
                            @click="getproduct(boompro, form_line, 'linkunit')"
                          >
                            <div class="menu-item">
                              <p>{{ boompro.unit_code }}</p>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </th>
                  <th>
                    <input autocomplete="off"
                      v-model="form_line.quantity_per_unit"
                      @change="autoUpdate(form_line)"
                      class="string_zen clear_text text"
                      size="50"
                      type="text"
                      style="width: 80% !important"
                    />
                  </th>
                  <th>
                    <input autocomplete="off"
                      v-model="form_line.unit_price"
                      @change="autoUpdate(form_line)"
                      class="string_zen clear_text text"
                      size="50"
                      type="text"
                      style="width: 80% !important"
                    />
                  </th>
                  <th class="bnt-02">
                    <div
                      class="button type2"
                      id="uniform-undefined"
                      data-bs-toggle="modal"
                      data-bs-target="#staticBackdrop"
                      @click="
                        getMessage(
                          'Message',
                          'Do yout want to Delete this recode. [' + form_line.id + ']',
                          'delelink',
                          form_line.id
                        )
                      "
                    >
                      <span
                        ><input autocomplete="off"
                          type="button"
                          class="type2"
                          style="opacity: 0; width: 54px"
                          tabindex="10025"
                          value="display"
                        /><i class="fa fa-trash" aria-hidden="true"></i> {{ i18ntext.lngText('delete') }}</span
                      >
                    </div>
                  </th>
                </tr>
              </thead>
              <vue-countdown
                style="display: none"
                v-if="counting"
                :time="60000"
                @end="onCountdownEnd"
                v-slot="{ totalSeconds }"
                >Fetch again {{ totalSeconds }} seconds later</vue-countdown
              >
            </table>
          </div>
          <div class="box-footer-pagination" style="text-align: left">
            <div class="pagination">


              <div class="dropdown">


        <!-- <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"> -->




            <router-link to="product" data-bs-toggle="dropdown" aria-expanded="false">
                  <a class="btn-radius btn btn-sm" href="#" id="bar-1">
                    <i class="fas fa-plus" style="padding-right: 5px"> </i>
                    {{ i18ntext.lngText('add-pro') }}
                  </a>
            </router-link>
        <!-- </button> -->



      <!-- <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">


        <li style="width:100%">

          <router-link to="/product">
            <a class="btn-radius btn btn-sm down" href="#" style="background-color: #29a5a5; border: #22adb763 1px solid;
            margin-bottom: 10px;margin-top: 0;margin-right: 0;width: 100%;text-align: left;">
              <i class="fas fa-plus"> </i>
              {{ i18ntext.lngText('add-pro') }}
            </a>
          </router-link>
          </li>

          <li style="width:100%">

          <router-link to="/product">
            <a class="btn-radius btn btn-sm down" href="#" style="background-color: #29a5a5; border: #22adb763 1px solid;
            margin-bottom: 10px;margin-top: 0;margin-right: 0;width: 100%;text-align: left;">
              <i class="fas fa-plus"> </i>
              {{ i18ntext.lngText('add-pro') }}
            </a>
          </router-link>
          </li>




      </ul> -->




</div>



            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- boom product -->
  <div
    class="modal fade ui-modal"
    id="staticBackdropss"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="staticBackdropss"
    aria-hidden="true"
  >
    <div class="modal-dialog" id="nonbackgroundboom">
      <div
        class="modal-content ui-dialog"
        style="box-shadow: none; border-radius: 0 !important; height: 100%"
      >
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">
            {{ i18ntext.lngText('boom_pro') }} : {{ form.product_no }} , {{ form.description }}
          </h5>
          <span
            class="ui-icon ui-icon-closethick"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></span>
        </div>
        <div class="box-content">
          <table
            width="100%"
            border="0"
            cellpadding="0"
            cellspacing="0"
            class="tbl_list tbl_stripe"
            id="myTable"
          >
            <thead>
              <tr>
                <th width="15%">{{ i18ntext.lngText('pro_code') }}</th>
                <th width="20%">{{ i18ntext.lngText('description') }}</th>
                <th width="15%">{{ i18ntext.lngText('quantity') }}</th>
                <th width="15%">{{ i18ntext.lngText('unit_type') }}</th>
                <th width="15%"></th>
              </tr>
              <tr v-for="form_line in boomproducts">
                <th>
                  <div class="dropdown">
                    <button
                      @onmouseout="prooductboom(form_line)"
                      class="dropdown-toggle string_zen clear_text text"
                      type="button"
                      id="dropdownMenuButton1"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                      size="50"
                      style="
                        width: 80% !important;
                        padding: 7px 11px 5px 7px;
                        border: none;
                      "
                    >
                      {{ form_line.boom_product_id }}
                    </button>
                    <div
                      class="dropdown-menu"
                      aria-labelledby="dropdownMenuButton1"
                      style="
                        max-height: 400px;
                        width: 250px;
                        scroll-behavior: smooth;
                        padding: 5px;
                        margin: 5px;
                        box-shadow: 1px 1px 5px #141417;
                      "
                    >
                      <p>
                        <input autocomplete="off"
                          v-model="txtsearch"
                          @input="searchproduct(txtsearch)"
                          class="string_zen clear_text text"
                          size="50"
                          type="text"
                          style="
                            width: 98% !important;
                            border: 1px teal solid;
                            border-radius: 1px;
                            height: 30px;
                          "
                        />
                      </p>
                      <ul style="list-style: none" class="scrollable-menu">
                        <li
                          v-for="(boompro, i) in boompros"
                          :key="i"
                          @click="getproduct(boompro, form_line, 'boomproducr')"
                        >
                          <div class="menu-item">
                            <p style="color: blue">{{ boompro.product_no }}</p>
                            <p>{{ boompro.description }}</p>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </th>
                <th>
                  <input autocomplete="off"
                    v-model="form_line.description"
                    @change="proboomAutoSave(form_line)"
                    class="string_zen clear_text text"
                    size="50"
                    type="text"
                    style="width: 80% !important; padding: 7px 11px 5px 7px"
                  />
                </th>
                <th>
                  <input autocomplete="off"
                    v-model="form_line.quantity"
                    @change="proboomAutoSave(form_line)"
                    class="string_zen clear_text text"
                    size="50"
                    type="text"
                    style="width: 80% !important ; padding: 7px 11px 5px 7px"
                  />
                </th>
                <th>
                  <div class="dropdown">
                    <button
                      @click="getboomnit(form_line.boom_product_id)"
                      @onmouseout="prooductboom(form_line)"
                      class="dropdown-toggle string_zen clear_text text"
                      type="button"
                      id="dropdownMenuButton1"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                      size="50"
                      style="
                        width: 80% !important;
                        padding: 7px 11px 7px 19px;
                        border: none;
                      "
                    >
                      {{ form_line.bom_unit_of_measure_code }}
                    </button>
                    <div
                      class="dropdown-menu"
                      aria-labelledby="dropdownMenuButton1"
                      style="
                        max-height: 400px;
                        width: 250px;
                        scroll-behavior: smooth;
                        padding: 5px;
                        margin: 5px;
                        box-shadow: 1px 1px 5px #141417;
                        border: none;
                      "
                    >
                      <p>
                        <input autocomplete="off"
                          v-model="txtsearch"
                          @input="searchproduct(txtsearch)"
                          class="string_zen clear_text text"
                          size="50"
                          type="text"
                          style="
                            width: 98% !important;
                            border: 1px teal solid;
                            border-radius: 1px;
                            height: 30px;
                          "
                        />
                      </p>
                      <ul style="list-style: none" class="scrollable-menu">
                        <li
                          v-for="(boompro, i) in uints"
                          :key="i"
                          @click="getproduct(boompro, form_line, 'boomunit')"
                        >
                          <div class="menu-item">
                            <p>{{ boompro.variant_unit_of_measure_code }}</p>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </th>

                <th class="bnt-02">
                  <div
                    class="button type2"
                    id="uniform-undefined"
                    @click="deletboomlink(form_line.id)"
                  >
                    <span
                      ><input autocomplete="off"
                        type="button"
                        class="type2"
                        style="opacity: 0; width: 54px"
                      /><i class="fa fa-trash" aria-hidden="true"></i> {{ i18ntext.lngText('delete') }}</span
                    >
                  </div>
                </th>
              </tr>
            </thead>
          </table>
        </div>
        <div class="modal-footer">
          <a
            @click="boomcratenew()"
            class="btn-radius bt-pn btn btn-sm show"
            href="#"
            data-bs-toggle="dropdown"
            aria-expanded="true"
            style="float: left; color: rgb(248, 245, 180); margin-top: -2px"
            ><i class="fas fa-plus" style="padding-right: 5px; margin-top: -2px"></i>
            {{ i18ntext.lngText('add_new') }}
            </a
          >
          <div class="button type2" id="uniform-undefined"></div>
          <div class="button type2" id="uniform-undefined"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- Print part -->
  <div
    class="modal fade ui-modal"
    id="staticboomId"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="staticBackdropss"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content ui-dialog">
        <div class="ui-widget-header">
          <h5 class="modal-title in-header" id="staticboomId">
            <i class="fa fa-print" aria-hidden="true"></i> {{ i18ntext.lngText('print') }} : {{ form.product_no }} ,
            {{ form.description }}
          </h5>
          <span
            class="ui-icon ui-icon-closethick"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></span>
        </div>
        <div class="ui-dialog-content" id="purchaseorder">
          <div class="card">
            <div class="card-body">
              <div class="mt-3 pro-dt-print">
                <div style="padding: 0 50px 0 50px">
                  <div>
                    <div class="col-md-12">
                      <div class="text-center">
                        <h3 class="title-purchase">{{ i18ntext.lngText('pro_det') }}</h3>
                      </div>
                    </div>

                    <div class="col-container">
                      <div
                        class="row2-col1 mg-top"
                        style="width: 65%; display: flex; flex-direction: row"
                      >
                        <div class="clientlogo">
                          <img :src="'/img/product/' + form.image_url" alt="Sup" />
                        </div>
                        <div class="p-detial">
                          <p class="p-mg info-pad">
                            <span id="bold">{{ i18ntext.lngText('name') }} :</span>
                            <span id="fon">{{ form.description }}</span>
                          </p>
                          <p class="p-mg info-pad">
                            <span id="bold">{{ i18ntext.lngText('product_no') }}. :</span>
                            <span id="fon">{{ form.description }}</span>
                          </p>
                          <p class="p-mg info-pad">
                            <span id="bold">{{ i18ntext.lngText('barcode') }} :</span>
                            <span id="fon">{{ form.brand_code }}</span>
                          </p>
                          <p class="p-mg info-pad">
                            <span id="bold">{{ i18ntext.lngText('stock_unit') }} :</span>
                            <span id="fon">{{ form.stock_unit_of_measure_code }}</span>
                          </p>
                          <p class="p-mg info-pad">
                            <span id="bold">{{ i18ntext.lngText('reorder') }} :</span>
                            <span id="fon">{{ form.reorder_point }}</span>
                          </p>
                          <p class="p-mg info-pad">
                            <span id="bold">{{ i18ntext.lngText('price') }} :</span>
                            <span id="fon">{{ form.unit_price }}</span>
                          </p>
                        </div>
                      </div>
                      <div class="row2-col2 mg-top">
                        <p class="p-mg info-pad">
                          <span id="bold">{{ i18ntext.lngText('sup_name') }} :</span>
                          <span id="fon">{{ getSuppliyerviews.sup_name }}</span>
                        </p>
                        <p class="p-mg info-pad">
                          <span id="bold">{{ i18ntext.lngText('email') }} :</span>
                          <span id="fon">{{ getSuppliyerviews.email }}</span>
                        </p>
                        <p class="p-mg info-pad">
                          <span id="bold">{{ i18ntext.lngText('phone') }} :</span>
                          <span id="fon"
                            >{{ getSuppliyerviews.phone_no }}/{{
                              getSuppliyerviews.phone_no_2
                            }}</span
                          >
                        </p>
                        <p class="p-mg info-pad">
                          <span id="bold">{{ i18ntext.lngText('address') }} :</span>
                          <span id="fon">{{ getSuppliyerviews.address }}</span>
                        </p>
                        <p class="p-mg info-pad">
                          <span id="bold">{{ i18ntext.lngText('fax_number') }}:</span>
                          <span id="fon">{{ getSuppliyerviews.fax_no }}</span>
                        </p>
                        <p class="p-mg info-pad">
                          <span id="bold">{{ i18ntext.lngText('contactname') }} :</span>
                          <span id="fon">{{ getSuppliyerviews.contact_name }}</span>
                        </p>
                        <p class="p-mg info-pad">
                          <span id="bold">{{ i18ntext.lngText('contactphone') }} :</span>
                          <span id="fon">{{ getSuppliyerviews.contact_phone }}</span>
                        </p>
                      </div>
                    </div>
                    <div class="my-2 justify-content-center">
                      <table id="pr-tb">
                        <thead>
                          <tr class="p-bg">
                            <th class="text-center" style="width: 8em">{{ i18ntext.lngText('no') }}</th>
                            <th class="text-center" style="width: 15em">{{ i18ntext.lngText('product_no') }}</th>
                            <th class="text-center" style="width: 15em">{{ i18ntext.lngText('description') }}</th>
                            <th class="text-center" style="width: 15em">{{ i18ntext.lngText('quantity') }}</th>
                            <th class="text-center" style="width: 10em">{{ i18ntext.lngText('price') }}</th>
                            <th class="text-center" style="width: 10em">{{ i18ntext.lngText('currency') }}</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr v-for="(form_line, index) in form_lines" :key="index">
                            <td style="text-align: center; padding-left: 0 !important">
                              {{ index + 1 }}
                            </td>
                            <td>{{ form_line.product_no }}</td>
                            <td>{{ form_line.description }}</td>
                            <td>
                              {{ form_line.quantity_per_unit }}
                              {{ form.stock_unit_of_measure_code }}/
                              {{ form_line.variant_unit_of_measure_code }}
                            </td>
                            <td>{{ form_line.unit_price }}</td>
                            <td>{{ form_line.curency_code }}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>

                    <hr />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <a
            v-print="'#purchaseorder'"
            class="btn-purchase btn-light text-capitalize border-0"
            data-mdb-ripple-color="dark"
            ><i class="fas fa-print text-primary"></i> {{ i18ntext.lngText('print') }}</a
          >
        </div>
      </div>
    </div>
  </div>

  <!-- ===================================== -->

  <span class="marker"></span>

  <div id="myModal" class="lskymodal">
    <div class="lskymodal-content">
      <p><i class="fa fa-check" aria-hidden="true"></i> {{ massege }}</p>
    </div>
  </div>
  <Footer />
  <UserInfo />
</template>
<script>
import Logo from "../logo.vue";
import Auth from "../../auth/Auth.js";
import axios from "axios";
import Header from "../Header.vue";
import Footer from "../footer.vue";
import moment from "moment";
import print from "vue3-print-nb";
import { MultiSelect } from "vue-search-select";
import { toNumber } from "@vue/shared";
import { log } from "mathjs";
import i18n from "../../i18n/i18n";
import UserInfo from "../UserInfo.vue";

export default {
  components: { Header, Footer, MultiSelect, Logo,UserInfo },
  directives: { print },
  data() {
    return {
      i18ntext: i18n,
      options: [],
      optionsmodel: [],
      items: [],
      itemss: [],
      brands: [],
      group: "",
      category: [],
      massege: "",
      photo_path: "/img/product/",
      pending: false,
      stockcount:0,
      count_expire:0,
      img: "",
      dateformart: "",
      code: "",
      confirm: "",
      title: "",
      message: "",
      products: "",
      boomunits: [],
      productcode: "",
      line_pro_id: "",
      line_pro_de: "",
      boomproducts: [],
      txtsearch: "",
      suppliyers: [],
      getSuppliyerviews: [],
      uints: [],
      boompro: [],
      Currency: [],
      form: {
        product_no: "",
        product_barcode: "",
        description: "",
        description_2: "",
        type: "",
        image_url: null,
        stock_unit_of_measure_code: "",
        purche_unit_of_measure_code: "",
        brand_code: "",
        group_code: "",
        cat_code: "",
        sup_code: "",
        unit_price: "",
        inactived: "",
        reorder_point: "",
        created_by: "",
      },
      form_lines: {
        id: "",
        product_no: "",
        image_url: "",
        description: "",
        variant_unit_of_measure_code: "",
        quantity_per_unit: "",
        unit_price: "",
        varaiant: "",
      },
      company: {
        main_Currency: "",
      },
      unit_products: [],
        sBrand : '',
        sUnit : '',
        sCategory : '',
        sSupplier: '',
        imageUrl: null,
    };
  },
  // watch: {},
  async mounted() {
    if (Auth.check()) {
        if(!Auth.checkPermission('PRODUCT_ALL')){
            this.$router.push('/dashboard');
        }
    }
    try {
      if (this.$route.query.id.trim() != "undefined") {
        this.products = this.$route.query.id;
        this.productcode = this.products;
      }
    } catch (error) {
      this.products = "undefined";
    }
    this.getstockalert();
    this.getExpireAlert();
    this.getUnite();
    this.getdatagroup();
    this.getdatamodel();
    this.getCatName();
    this.getBrands();
    this.getSuppliyer();
    this.getEdite();
    this.getEdites();
    this.form_lines = null;
    this.prooductboom();
    this.massege = "save successful.";
    this.getcompany();
    this.getUnitProduct();
   

  },

  methods: {
    imgUplaodProduct(e) {
      const image = e.target.files[0]
      const reader = new FileReader();
      reader.readAsDataURL(image)
      reader.onload = (e) => {
          this.imageUrl = e.target.result;
          console.log(this.imageUrl)
      };
     },
    async searchSupplier(search){
      if(search != ''){
        axios.get('api/v1/suppliyers/searchSupplier/'+search)
            .then(res => {
              this.suppliyers = res.data
            })
      }else{
        this.getSuppliyer()
      }
    },
    async searchCategory(search){
      if(search != ''){
        axios.get('api/v1/category/searchCategory/'+search)
            .then(res => {
              this.category = res.data
            })
      }else{
        this.getCatName()
      }
    },

    async searchUnit(search){
      if(search != ''){
        axios.get('api/v1/unit/searchUnittype/'+search)
            .then(res => {
              this.uints = res.data
            })
      }else{
        this.getUnite()
      }
    },

    async searchBrand(search){
      if(search != ''){
        axios.get('api/v1/brand/searchBrand/'+search)
            .then(res => {
              this.brands = res.data.data
            })
      }else{
        this.getBrands()
      }
    },
    async test(z) {
      try {
        var y = z.split(",");
        for (var i = 0; i <= y.length; i++) {
          if (y[i].trim() != "undefined" && y[i] != "") {
            this.items.push({
              value: y[i],
              text: y[i],
            });
          }
        }
      } catch (error) {}
    },
    async tests(z) {
      try {
        var y = z.split(",");
        for (var i = 0; i <= y.length; i++) {
          if (y[i].trim() != "undefined" && y[i] != "") {
            this.itemss.push({
              value: y[i],
              text: y[i],
            });
          }
        }
      } catch (error) {}
    },
    getstockalert() {
      axios.post("api/v1/stockcheck/checkOptionstock").then((response) => {
        this.stockcount = response.data.data.total;
      });
  },
  async getExpireAlert() {
      axios.get("api/v1/expireAlert").then((res) => {
        this.count_expire = res.data.stock.total;
      });
    },
    onSelect(x) {
      this.items = x;
      if (this.items.length >= 0) {
        this.form.group_code = "";
        x.forEach((e) => {
          if (e.value != null) {
            if (this.form.group_code == "") {
              this.form.group_code = e.value;
            } else {
              this.form.group_code = this.form.group_code + "," + e.value;
            }
          }
        });
        this.autoUpdateProduct(this.form);
      }
    },
    onSelectx(x) {
      this.itemss = x;
      if (this.itemss.length >= 0) {
        this.form.sup_code = "";
        x.forEach((e) => {
          if (e.value != null) {
            if (this.form.sup_code == "") {
              this.form.sup_code = e.value;
            } else {
              this.form.sup_code = this.form.sup_code + "," + e.value;
            }
          }
        });
        this.autoUpdateProduct(this.form);
      }
    },
    getType(text) {
      this.form.type = text;
      this.autoUpdateProduct(this.form);
      this.messagebox();
    },
    CreateID() {
      this.form.created_by = Auth.user.user_name;
      axios.post("/api/v1/products/createID", this.form).then((response) => {
        this.form = response.data;
        this.form.forEach((element) => {
          this.form.product_no = element.product_no;
          this.$router.push({
            name: "Product",
            query: { id: element.product_no },
          });
          this.products = element.product_no;
          this.getEdite();
          this.getEdites();
        });
        this.messagebox();
      });
    },

    btnGenerate_code($status) {
      this.crateNewsProduct();
    },

    myFunction() {
      if (this.products != "undefined" && this.products != "") {
        axios.post("/api/v1/products/create/" + this.products).then((response) => {
          this.form_lines = response.data;
        });
      }
    },
    getUnite() {
      axios.get("/api/v1/getunite").then((response) => {
        this.uints = response.data;
      });
    },
    getBrands() {
      axios.get("/api/v1/brands/getdata").then((response) => {
        this.brands = response.data;
      });
    },
    async getdatagroup() {
      await axios.get("/api/v1/progroups/getdatagroup").then((response) => {
        response.data.forEach((element) => {
          this.options.push({
            value: element.group_name,
            text: element.group_name,
          });
        });
      });
    },
    async getdatamodel() {
      await axios.get("/api/v1/promodel/getdatagroup").then((response) => {
        response.data.forEach((element) => {
          this.optionsmodel.push({
            value: element.group_name,
            text: element.group_name,
          });
        });
      });
    },
    getCatName() {
      axios.get("/api/v1/category/getCatName").then((response) => {
        this.category = response.data;
      });
    },
    getSuppliyer() {
      axios.get("/api/v1/suppliyers/getdatasub").then((response) => {
        this.suppliyers = response.data;
      });
    },
    crateNewsProduct() {
      this.form.created_by = Auth.user.user_code;
      axios.post("/api/v1/products/create", this.form).then((response) => {
        this.form = response.data;
        this.form.forEach((element) => {
          this.form.product_no = element.product_no;
          this.$router.push({
            name: "Product",
            query: { id: element.product_no },
          });
          this.products = element.product_no;
          this.getEdite();
          this.getEdites();
        });
      });
    },
    async getUnitProduct() {
      await axios.get("api/v1/getunite")
      .then((res) => {
        this.unit_products = res.data;
      });
    },

    selectdataProduct() {
      axios.get("/api/v1/products/create/").then((response) => {
        this.form = response.data;
        this.form.forEach((element) => {
          axios
            .get("/api/v1/products/editlink/" + element.product_no)
            .then((response) => {
              this.form_lines = response.data;
            });
        });
      });
    },
    getEdite() {
      if (this.products.trim() != "undefined") {
        axios.get("/api/v1/products/edite/" + this.products).then((response) => {
          this.form = response.data;
          this.test(this.form.group_code);
        }),
          axios.get("/api/v1/products/editlink/" + this.products).then((response) => {
            this.form_lines = response.data;
          });
      }
    },
    getEdites() {
      if (this.products.trim() != "undefined") {
        axios.get("/api/v1/products/edite/" + this.products).then((response) => {
          this.form = response.data;
          this.tests(this.form.sup_code);
        }),
          axios.get("/api/v1/products/editlink/" + this.products).then((response) => {
            this.form_lines = response.data;
          });
      }
    },
    deleteUnit(linkId) {
      if (linkId != null) {
        axios.get("/api/v1/products/destLink/" + linkId).then((response) => {
          this.form_lines = response.data;
        });
      }
    },
    deletboomlink(linkId) {
      if (linkId != null) {
        axios.get("/api/v1/boomproduct/destroy/" + linkId).then((response) => {
          this.boomproducts = response.data;
        });
      }
    },
    getMessage(title, messsatetext, confirm, id) {
      this.title = title;
      this.message = messsatetext;
      this.confirm = confirm;
      this.code = id;
    },
    messagegetconfirm(confirm) {
      if (confirm == "crate") {
        this.btnGenerate_code("crate");
      }
      if (confirm == "delelink") {
        this.deleteUnit(this.code);
      }
      if (confirm == "boomlink") {
        this.deletboomlink(this.code);
      }
    },
    created() {
      this.pending = false;
      fetch("https://example-api.com/image")
        .then((data) => (this.img = data.img))
        .finally(() => {
          this.pending = false;
        });
    },

    async autoUpdate(product_link, imageurl) {
      var x = imageurl;
      if (product_link.product_no != "") {
        if (product_link.status == "stock") {
          product_link.stock_unit_of_measure_code =
            product_link.variant_unit_of_measure_code;
          product_link.quantity_per_unit = 1;

          product_link.unit_price = this.form.unit_price;

        }
        window.axios
          .post("/api/v1/products/updateProductLinke/" + product_link.id, product_link)
          .then((res) => {
            x = res.data;
            imageurl = product_link.image_url;
            if (
              this.form.stock_unit_of_measure_code !=
              product_link.variant_unit_of_measure_code || this.form.unit_price != product_link.unit_price
            ) {
              if (product_link.status == "stock") {
                this.form.stock_unit_of_measure_code =
                  product_link.variant_unit_of_measure_code;

                  this.form.unit_price = product_link.unit_price;

                this.autoUpdateProduct(this.form);
              }
            }
            this.messagebox();
          });
      }
    },
    checkUnitcode() {
      this.form_lines.forEach((element) => {
        if (
          (element.status == "stock") &
          (this.form.stock_unit_of_measure_code != element.stock_unit_of_measure_code)
        ) {
          element.stock_unit_of_measure_code = this.form.stock_unit_of_measure_code;
          element.variant_unit_of_measure_code = this.form.stock_unit_of_measure_code;
          this.autoUpdate(element);
        }
      });
    },
    autoUpdateProduct(product) {
      if (product.product_no != "") {
        axios
          .post("/api/v1/products/update/" + product.product_no, product)
          .then((response) => {
            this.form = response.data;
            axios.get("/api/v1/products/editlink/" + this.products).then((response) => {
              this.form_lines = response.data;
            });
            this.messagebox();
          });
      }
    },
    getboomproduct(product) {
      axios.post("/api/v1/boomproduct/" + product).then((response) => {
        this.boomproducts = response.data;
      });
    },
    getCurrency() {
      axios.get("/api/v1/curency/getdata/").then((data) => {
        this.Currency = data.data;
      });
    },
    showboom() {
      axios.get("/api/v1/boomproduct/show/" + this.products).then((response) => {
        this.boomproducts = response.data;
      });
    },

    prooductboom() {
      axios.get("/api/v1/getproductboom/" + this.products).then((response) => {
        this.boompros = response.data;
      });
    },
    getproduct(boom, product, txt) {
      if (txt == "boomproducr") {
        product.boom_product_id = boom.product_no;
        product.description = boom.description;
        this.proboomAutoSave(product);
        this.prooductboom();
      } else if (txt == "currency") {
        product.curency_code = boom.curency;
        this.autoUpdateProduct(product);
        this.prooductboom();
      } else if (txt == "boomunit") {
        product.bom_unit_of_measure_code = boom.variant_unit_of_measure_code;
        this.proboomAutoSave(product);
        this.prooductboom();
      } else if (txt == "linkunit") {
        product.variant_unit_of_measure_code = boom.unit_code;
        this.autoUpdate(product);
      } else if (txt == "groupproduct") {
        product.group_code = boom.group_code;
        this.autoUpdateProduct(product);
        this.prooductboom();
      } else if (txt == "suppliyer") {
        product.sup_code = boom.sup_code;
        this.autoUpdateProduct(product);
        this.prooductboom();
      } else if (txt == "category") {
        product.cat_code = boom.cat_name;
        this.autoUpdateProduct(product);
        this.prooductboom();
      } else if (txt == "brand") {
        product.brand_code = boom.brand_code;
        this.autoUpdateProduct(product);
        this.prooductboom();
      } else if (txt == "unitstock") {
        product.stock_unit_of_measure_code = boom.unit_code;
        this.autoUpdateProduct(product);
        this.prooductboom();
      }
    },
    proboomAutoSave(product) {
      axios.put("/api/v1/boomproduct/update/" + product.id, product).then((response) => {
        this.prooductboom();
      });
      this.messagebox();
      this.prooductboom();
    },
    getboomnit(proid) {
      axios.post("/api/v1/products/getboomline/" + proid).then((response) => {
        this.uints = response.data;
      });
    },
    searchproduct(txt) {
      axios.get("/api/v1/boomproduct/search/" + txt).then((response) => {
        this.boompros = response.data;
      });
    },
    boomcratenew() {
      axios.post("/api/v1/boomcreate/" + this.products).then((response) => {
        this.boomproducts = response.data;
      });
    },
    getunit(proid) {
      axios.post("/api/v1/products/getlinkunit/" + proid).then((response) => {
        this.unit_products = response.data;
      });
    },
    messagebox() {
      var modal = document.getElementById("myModal");
      modal.style.display = "block";
      setTimeout(() => (modal.style.display = "none"), 1500);
    },
    async getcompany() {
      await axios.get("/api/v1/getSetup/").then((response) => {
        this.company = response.data;
        this.dateformart = moment(new Date()).format("YYYY-MM-DD");
      });
    },

    print() {
      var printContents = document.getElementById("purchaseorder").innerHTML;
      var mywindow;
      mywindow = window.open("", "mydiv", "height=800,width=1200,scrollbars=yes", "");
      mywindow.document.write("<html><head><title>my div</title>");
      mywindow.document.write('<link rel="stylesheet" href="css/style.css">');
      mywindow.document.write('<link rel="stylesheet" href="css/app.css">');
      mywindow.document.write('<link rel="stylesheet" href="css/pstyle.css">');
      mywindow.document.write("</head><body>");
      mywindow.document.write(printContents);
      mywindow.document.write("</body> </html>");
      setTimeout(() => {
        mywindow.document.close();
        mywindow.focus();
        mywindow.print();
        setTimeout(function () {
          window.close();
        }, 1);
        cb();
      }, 1000);
    },
    imgUplaod($e, form_line, imageurl) {
      form_line.image_url = $e.target.files[0];
      const reader = new FileReader();
      reader.onload = ($e) => {
        form_line.image_url = $e.target.result;
        this.autoUpdate(form_line, imageurl);
      };
      if (form_line.image_url) {
        if (/\.(jpg?g|png|gif)$/i.test(form_line.image_url.name)) {
          reader.readAsDataURL(form_line.image_url);
        }
      }
    },
    
    // imgUplaodProduct(e) {
    //   this.form.image_url = e.target.files[0];
    //   const reader = new FileReader();
    //   reader.onload = (e) => {
    //     this.form.image_url = e.target.result;
    //     console.log(this.form.image_url);
    //     this.autoUpdateProduct(this.form);
    //   };
    //   if (this.form.image_url) {
    //     if (/\.(jpg?g|png|gif)$/i.test(this.form.image_url.name)) {
    //       reader.readAsDataURL(this.form.image_url);
    //     }
    //   }
    // },
    choosePhoto() {
      this.$refs.choose.click();
    },
  },
  startCountdown: function () {
    this.counting = true;
  },
  onCountdownEnd: function () {
    this.counting = false;
  },
};
</script>
<style>
.dropdown > .icon {
  display: none;
}

.item {
  width: 100% !important;
}
</style>
