<template>
  <div class="wrapper">
    <div id="headTitle">
      <Logo />
      <h1 id="title" _msttexthash="48503" _msthash="2">{{i18ntext.lngText('category')}}</h1>
    </div>
    <Header />
    <ol id="topicPath">
      <li style="margin-left: 300px">
        <a href="#"> {{i18ntext.lngText('category')}} </a>
      </li>
    </ol>
    <div class="search-box">
      <div id="product">
        <div class="search-box mb-4">
          <div class="search-box-title" id="Bars">
            <div id="bar" style="padding-left: 0; ">
              <router-link to="product" data-bs-toggle="dropdown" aria-expanded="false">
                <a class="btn-radius btn btn-sm" href="#" id="bar-1">
                  <i class="fas fa-plus" style="padding-right: 5px"> </i>
                  {{ i18ntext.lngText('add-pro') }}
                </a>
              </router-link>
              <ul class="dropdown-menu" style="padding:6px;">
                <li>
                  <router-link to="/product">
                    <a class="btn-radius btn btn-sm down" href="#" style="background-color: #29a5a5; border: #22adb763 1px solid;
              margin-bottom: 10px;margin-top: 0;margin-right: 0;width: 100%;text-align: left;">
                      <i class="fas fa-plus"></i>
                      {{ i18ntext.lngText('add-pro') }}
                    </a>
                  </router-link>
                </li>
                <li>
                  <router-link to="/viewproduct">
                    <a class="btn-radius btn btn-sm down" href="#" id="bar-1" style="background-color: #29a5a5; border: #22adb763 1px solid;
              margin-right: 0;width: 100%;text-align: left;">
                     <i class="fa fa-eye" aria-hidden="true"></i>
                      {{ i18ntext.lngText('pro_view') }}
                    </a>
                  </router-link>
                </li>
              </ul>
              <router-link to="brands" data-bs-toggle="dropdown" aria-expanded="false">
                <a class="btn-radius btn btn-sm" href="#" id="bar-1" style="background-color: #29a5a5;">
                  <i class="fa fa-cog" aria-hidden="true"></i>
                  {{ i18ntext.lngText('set-pro') }}
                </a>
              </router-link>

              <ul class="dropdown-menu" id="drop_menu">
                <li>
                  <router-link to="/Brands">
                    <a class="btn-radius btn btn-sm down" href="#" style="background-color: #29a5a5; border: #22adb763 1px solid;
                    margin-top: 0;margin-right: 0;width: 100%;text-align: left;">
                      <i class="fa fa-tags" aria-hidden="true"></i>
                      {{ i18ntext.lngText('brands') }}
                    </a>
                  </router-link>
                </li>
                <li>
                  <router-link to="/supplies">
                    <a class="btn-radius btn btn-sm down" href="#" id="bar-1" style="background-color: #29a5a5; border: #22adb763 1px solid;
                    margin-right: 0;width: 100%;text-align: left;">
                      <i class="fa fa-truck" aria-hidden="true"></i>
                      {{ i18ntext.lngText('supplier') }}
                    </a>
                  </router-link>
                </li>
                <li>
                  <router-link to="/unitcode">
                    <a class="btn-radius btn btn-sm down" href="#" id="bar-1" style="background-color: #29a5a5; border: #22adb763 1px solid;
                    margin-right: 0;width: 100%;text-align: left;">
                      <i class="fa fa-th-large" aria-hidden="true"></i>
                      {{ i18ntext.lngText('unittype') }}
                    </a>
                  </router-link>
                </li>
                <li>
                  <router-link to="/Group">
                    <a class="btn-radius btn btn-sm down" href="#" id="bar-1" style="background-color: #29a5a5; border: #22adb763 1px solid;
                    margin-right: 0;width: 100%;text-align: left;">
                      <i class="fa fa-flask" aria-hidden="true"></i>
                      {{ i18ntext.lngText('diangosis') }}
                    </a>
                  </router-link>
                </li>
                <li>
                  <router-link to="/Category">
                    <a class="btn-radius btn btn-sm down" href="#" id="bar-1" style="background-color: #29a5a5; border: #22adb763 1px solid;
                    margin-right: 0;width: 100%;text-align: left;">
                      <i class="fa fa-box-open"></i>
                      {{ i18ntext.lngText('category') }}
                    </a>
                  </router-link>
                </li>
                <li>
                    <router-link to="/room_type">
                      <a class="btn-radius btn btn-sm down" href="#" id="bar-1" style="background-color: #29a5a5; border: #22adb763 1px solid;
                      margin-right: 0;width: 100%;text-align: left;">
                        <i class="fa fa-box-open"></i>
                        {{ i18ntext.lngText('room_type') }}
                      </a>
                    </router-link>
                  </li>
                <li>
                  <router-link to="/exchangerate">
                    <a class="btn-radius btn btn-sm down" href="#" id="bar-1" style="background-color: #29a5a5; border: #22adb763 1px solid;
                    margin-right: 0;width: 100%;text-align: left;">
                      <i class="fa fa-money-bill-wave"></i>
                      {{ i18ntext.lngText('exchangerate') }}
                    </a>
                  </router-link>
                </li>
                <li>
                  <router-link to="/paymenMethod">
                    <a class="btn-radius btn btn-sm down" href="#" id="bar-1" style="background-color: #29a5a5; border: #22adb763 1px solid;
                    margin-right: 0;width: 100%;text-align: left;">
                     <i class="fa fa-money-check"></i>
                      {{ i18ntext.lngText('payment') }}
                    </a>
                  </router-link>
                </li>
                <li>
                  <router-link to="/testserviceview">
                    <a class="btn-radius btn btn-sm down" href="#" id="bar-1" style="background-color: #29a5a5; border: #22adb763 1px solid;
                    margin-right: 0;width: 100%;text-align: left;">
                      <i class="fa fa-vial"></i>
                      {{ i18ntext.lngText('service') }}
                    </a>
                  </router-link>
                </li>
                <li>
                  <router-link to="/groupService">
                    <a class="btn-radius btn btn-sm down" href="#" id="bar-1" style="background-color: #29a5a5; border: #22adb763 1px solid;
                    margin-right: 0;width: 100%;text-align: left;">
                      <i class="fa fa-thermometer-quarter" aria-hidden="true"></i>
                      {{ i18ntext.lngText('groupservice') }}
                    </a>
                  </router-link>
                </li>
                <li>
                  <router-link to="/company">
                    <a class="btn-radius btn btn-sm down" href="#" id="bar-1" style="background-color: #29a5a5; border: #22adb763 1px solid;
                    margin-right: 0;width: 100%;text-align: left;">
                     <i class="fa fa-building" aria-hidden="true"></i>
                      {{ i18ntext.lngText('company') }}
                    </a>
                  </router-link>
                </li>
              </ul>

              <router-link to="menupurchase" data-bs-toggle="dropdown" aria-expanded="false">
                <a class="btn-radius btn btn-sm" href="#" id="bar-1">
                  <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                  {{ i18ntext.lngText('purchase_order') }}
                </a>
              </router-link>
              <ul class="dropdown-menu" id="drop_menu">
                <li>
                  <router-link to="/Purchasview">
                    <a class="btn-radius btn btn-sm down" href="#" style="background-color: #29a5a5; border: #22adb763 1px solid;
                      margin-top: 0;margin-right: 0;width: 100%;text-align: left;">
                      <i class="fa fa-cart-plus"></i>
                      {{ i18ntext.lngText('purchase_order') }}
                    </a>
                  </router-link>
                </li>
                <li>
                  <router-link to="/viewrecept">
                    <a class="btn-radius btn btn-sm down" href="#" id="bar-1" style="background-color: #29a5a5; border: #22adb763 1px solid;
              margin-right: 0;width: 100%;text-align: left;">
                     <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
                      {{ i18ntext.lngText('recept_order') }}
                    </a>
                  </router-link>
                </li>
                <li>
                  <router-link to="/serailcode">
                    <a class="btn-radius btn btn-sm down" href="#" id="bar-1" style="background-color: #29a5a5; border: #22adb763 1px solid;
              margin-right: 0;width: 100%;text-align: left;">
                      <i class="fa fa-barcode"></i>
                      {{ i18ntext.lngText('serial') }}
                    </a>
                  </router-link>
                </li>
                <li>
                  <router-link to="/paymenview">
                    <a class="btn-radius btn btn-sm down" href="#" id="bar-1" style="background-color: #29a5a5; border: #22adb763 1px solid;
              margin-right: 0;width: 100%;text-align: left;">
                      <i class="fa fa-eye"></i>
                      {{ i18ntext.lngText('payment_view') }}
                    </a>
                  </router-link>
                </li>
              </ul>
              <router-link to="/stockonhand" data-bs-toggle="dropdown" aria-expanded="false">
                <a class="btn-radius btn btn-sm" href="#" id="bar-1">
                  <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                  {{ i18ntext.lngText('stock') }}
                </a>
              </router-link>
              <ul class="dropdown-menu" id="drop_menu">
                <li>
                  <router-link to="/stockonhand">
                    <a class="btn-radius btn btn-sm down" href="#" style="background-color: #29a5a5; border: #22adb763 1px solid;
                      margin-top: 0;margin-right: 0;width: 100%;text-align: left;">
                      <i class="fa fa-prescription-bottle"></i>
                      {{ i18ntext.lngText('onhands') }}
                    </a>
                  </router-link>
                </li>
                <li>
                  <router-link to="/stockonhand_date">
                    <a class="btn-radius btn btn-sm down" href="#" id="bar-1" style="background-color: #29a5a5; border: #22adb763 1px solid;
              margin-right: 0;width: 100%;text-align: left;">
                      <i class="fa fa-calendar-plus"></i>
                      {{ i18ntext.lngText('onhand-date') }}
                    </a>
                  </router-link>
                </li>
                <li>
                  <router-link to="/beginningstock">
                    <a class="btn-radius btn btn-sm down" href="#" id="bar-1" style="background-color: #29a5a5; border: #22adb763 1px solid;
              margin-right: 0;width: 100%;text-align: left;">
                     <i class="fa fa-tape"></i>
                      {{ i18ntext.lngText('begin-stock') }}
                    </a>
                  </router-link>
                </li>
                <li>
                  <router-link to="/viewstockcount">
                    <a class="btn-radius btn btn-sm down" href="#" id="bar-1" style="background-color: #29a5a5; border: #22adb763 1px solid;
                      margin-right: 0;width: 100%;text-align: left;">
                      <i class="fa fa-calculator"></i>
                      {{ i18ntext.lngText('stock-count') }}
                    </a>
                  </router-link>
                </li>
                <li>
                  <router-link to="/stocktransection">
                    <a class="btn-radius btn btn-sm down" href="#" id="bar-1" style="background-color: #29a5a5; border: #22adb763 1px solid;
                      margin-right: 0;width: 100%;text-align: left;">
                     <i class="fa fa-recycle" aria-hidden="true"></i>
                      {{ i18ntext.lngText('stock-tran') }}
                    </a>
                  </router-link>
                </li>
              </ul>
              <router-link to="/stockalert">
                    <a class="btn-radius btn btn-sm" href="#" id="bar-1" style="border: #22adb763 1px solid;
                      margin-right: 0;width: 100%;">
                        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                        {{ i18ntext.lngText('stock-alert') }}
                      <span style="
                      background-color: red;
                      border-radius: 5px;
                      padding: 3px;
                      box-shadow: 1px 1px;
                      color: #333;">
                      {{ stockcount }} {{ i18ntext.lngText('item') }}
                    </span>
                    </a>
                  </router-link>
                  <router-link to="/ex_alert">
                    <a class="btn-radius btn btn-sm" href="#" id="bar-1" style="border: #22adb763 1px solid;
                      margin-right: 0;width: 100%;">
                        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                        {{ i18ntext.lngText('expire-alert1') }}
                      <span style="
                      background-color: red;
                      border-radius: 5px;
                      padding: 3px;
                      box-shadow: 1px 1px;
                      color: #333;">
                      {{ count_expire }} {{ i18ntext.lngText('item') }}
                    </span>
                    </a>
                  </router-link>


              
            </div>

            <div id="right" style=" margin-top: -10px"><Menu /></div>
          </div>
          <input autocomplete="off" id="search" name="search" type="hidden" value="1" />
          <div class="search-box-content">
            <table
              width="100%"
              border="0"
              cellpadding="0"
              cellspacing="0"
              class="tbl_search"
              id="hover-table"
            >
              <tbody>
                <tr>
                  <th width="10%">{{i18ntext.lngText('category_name')}}</th>
                  <td width="90%">
                    <input autocomplete="off"
                      id="cat_name"
                      name="cat_name"
                      v-model="form.cat_name"
                      @input="getCategory()"
                      type="text"
                      class="text"
                      tabindex="10029"
                    />
                    <p v-if="errors.cat_name" style="font-size: 10px; color: red">
                      <!-- {{ errors.brand_name[0] }} -->
                      {{i18ntext.lngText('iname')}}
                    </p>
                  </td>
                </tr>
                <tr>
                  <th width="15%">{{i18ntext.lngText('description')}}</th>
                  <td width="90%">
                    <input autocomplete="off"
                      id="cat_name_2"
                      name="cat_name_2"
                      v-model="form.cat_name_2"
                      type="text"
                      class="text"
                      @input="getCategory()"
                      tabindex="10029"
                    />
                  </td>
                </tr>
              </tbody>
            </table>

            <div class="search-box-footer">
              <div
                v-if="btnback == true"
                @click="btnBack()"
                class="button type2"
                id="uniform-undefined"
              >
                <span
                  ><i
                    class="fa fa-arrow-left"
                    aria-hidden="true"
                    style="margin-right: 7px"
                  ></i
                  >{{i18ntext.lngText('back')}}</span
                >
                <input autocomplete="off"
                  type="button"
                  value="save"
                  class="type2"
                  style="opacity: 0; width: 63px"
                  tabindex="10026"
                />
              </div>
              <div
                v-if="btnSearch == 'Search'"
                class="button type2"
                id="uniform-undefined"
                @click="clickSerch()"
              >
                <span
                  ><i
                    class="fa fa-search"
                    aria-hidden="true"
                    style="margin-right: 7px"
                  ></i
                  >{{i18ntext.lngText('search')}}
                  </span
                >
                <input autocomplete="off"
                  type="button"
                  value="save"
                  class="type2"
                  style="opacity: 0; width: 63px"
                  tabindex="10026"
                />
              </div>
              <div
                v-if="btnSearch == 'Delete'"
                class="button type2"
                id="uniform-undefined"
                @click="btnDelete()"
              >
                <span
                  ><i class="fa fa-trash"></i>
                  {{i18ntext.lngText('Delete')}}
                  <input autocomplete="off" type="button" tabindex="10028"
                /></span>
              </div>
              <div v-if="btncheckEdit === 'Save'" class="button type2" id="uniform-undefined" @click="btnSave()">
                <span
                  ><i class="fas fa-file-import" style="margin-right: 7px"></i
                  > {{i18ntext.lngText('save')}}</span
                >
                <input autocomplete="off"
                  type="button"
                  value="clear"
                  class="type2"
                  style="opacity: 0; width: 63px"
                  tabindex="10026"
                />
              </div>

              <div v-if="btncheckEdit === 'Update'" class="button type2" id="uniform-undefined" @click="btnSave()">
                <span
                  ><i class="fas fa-file-import" style="margin-right: 7px"></i
                  > {{i18ntext.lngText('update')}}</span
                >
                <input autocomplete="off"
                  type="button"
                  value="clear"
                  class="type2"
                  style="opacity: 0; width: 63px"
                  tabindex="10026"
                />
              </div>
              <span class="marker"></span>
            </div>
          </div>
        </div>
        <div class="box">
          <table
            width="100%"
            border="0"
            cellpadding="0"
            cellspacing="0"
            class="table table-striped br-table"
          >
            <thead>
              <tr class="header-table">
                <th width="3%">{{i18ntext.lngText('no')}}</th>
                <th width="12%">{{i18ntext.lngText('category_name')}}</th>
                <th width="12%">{{i18ntext.lngText('description')}}</th>
                <th width="12%"></th>
              </tr>
            </thead>
            <tbody>
              <tr
                v-for="(Category, index) in Categories.data"
                :key="index"
                class="cate-td"
              >
                <td width="3%" v-if="number == 'undefined'">
                  {{  (index + 1)}}
                </td>
                <td v-else width="3%" >
                  {{ 15*(number - 1)  + (index + 1)}}
                </td>
                <td width="12%">
                  {{ Category.cat_name }}
                </td>
                <td width="12%">
                  {{ Category.cat_name_2 }}
                </td>
                <td width="12%" class="text-center">
                  <div class="button" id="uniform-undefined" @click="btnEdit(Category)">
                    <span
                      ><i class="fa fa-edit"></i> {{i18ntext.lngText('select')}}<input autocomplete="off"
                        type="button"
                        
                        style="opacity: 0; width: 76px"
                    /></span>
                  </div>
                  
                </td>
              </tr>
            </tbody>
          </table>
          <div class="box-footer-pagination">
            <pagination :limit="2" :data="Categories" @pagination-change-page="getCategory" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="modal fade ui-modal"
    id="staticboomId"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="staticboomId"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content ui-dialog">
        <div class="ui-widget-header">
          <h5 class="modal-title in-header" id="staticBackdropLabel">
            <i class="fa fa-print" aria-hidden="true"></i> {{i18ntext.lngText('print')  }}
          </h5>
          <span
            class="ui-icon ui-icon-closethick"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></span>
        </div>
        <div class="ui-dialog-content" >
          <div class="card">
            <div class="card-body print-size">
              <div class="mt-3 " id="purchaseorder1" style="height: auto !important;">
                <div class="row d-flex align-items-baseline">
                  <div class="col-xl-9"></div>
                  <hr />
                </div>
                <div style="padding: 0 50px 0 50px">
                  <div class="col-md-12">
                    <div class="text-center">
                      <h3 class="title-purchase">{{i18ntext.lngText('report')}}{{i18ntext.lngText('category')}}</h3>
                    </div>
                  </div>
                  <div class="col-container">
                    <div class="col1" style="width: 55%">
                      <p class="p-bg font-size p-pad">{{i18ntext.lngText('company')}}</p>
                      <p class="p-mg info-pad">
                        <span id="bold">{{i18ntext.lngText('name')}} :</span>
                        <span id="fon">{{ company.company_name }}</span>
                      </p>
                      <p class="p-mg info-pad">
                        <span id="bold">{{i18ntext.lngText('phonenumber')}} :</span>
                        <span id="fon">{{ company.company_Phone }}</span>
                      </p>
                      <p class="p-mg info-pad">
                        <span id="bold">{{i18ntext.lngText('email')}} :</span>
                        <span id="fon">{{ company.company_Email }}</span>
                      </p>
                      <p class="p-mg info-pad">
                        <span id="bold">{{i18ntext.lngText('address')}} :</span>
                        <span id="fon">{{ company.company_Address }}</span>
                      </p>
                    </div>
                    <div class="col2">
                      <p class="text-center p-bg font-size p-pad">{{i18ntext.lngText('date')}}</p>
                      <p class="text-center p-mg" id="fon">{{ newdate }}</p>
                      <p class="text-center p-bg font-size p-pad">{{i18ntext.lngText('total')}}{{i18ntext.lngText('category')}}</p>
                      <p class="text-center p-mg" id="fon">{{ Categories.total }}</p>
                    </div>
                  </div>
                  <div class="my-2 justify-content-center">
                    <table id="pr-tb">
                      <thead>
                        <tr class="p-bg">
                          <th class="text-center" width="10">{{i18ntext.lngText('no')}}</th>
                          <th class="text-center" width="40">{{i18ntext.lngText('category_name')}}</th>
                          <th class="text-center" width="20%">{{i18ntext.lngText('description')}}</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr v-for="(category, index) in dataPrint" :key="index">
                          <td>{{ index + 1 + "." }}</td>
                          <td>{{ category.cat_name }}</td>
                          <td>{{ category.cat_name_2 }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <hr />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <a
            v-print="'#purchaseorder1'"
            class="btn-purchase btn-light text-capitalize border-0"
            data-mdb-ripple-color="dark"
            ><i class="fas fa-print text-primary"></i> {{i18ntext.lngText('print')}}</a
          >
        </div>
      </div>
    </div>
  </div>
  <Footer />
  <UserInfo/>
</template>
<script>
import print from "vue3-print-nb";
export default {
  directives: {
    print,
  },
  data() {
    return {
      stockcount:0,
      count_expire:0,
    };
  },
  watch: {},
  mounted() {
    this.getstockalert()
    this.getExpireAlert()
  },
  methods: {
    getstockalert() {
      axios.post("api/v1/stockcheck/checkOptionstock").then((response) => {
        this.stockcount = response.data.data.total;
      });
    },
    async getExpireAlert() {
      axios.get("api/v1/expireAlert").then((res) => {
        this.count_expire = res.data.stock.total;
      });
    },
  },
};
</script>

<!-- <script>
import print from "vue3-print-nb";
export default {
  directives: {
    print,
  },
};
</script> -->

<script setup>
import i18n from "../../i18n/i18n";
import Menu from "./Menu_Category.vue";
import Header from "..//Header.vue";
import Footer from "../footer.vue";
import UserInfo from "../UserInfo.vue";
import Logo from "../logo.vue";
import Auth from "../../auth/Auth";
import { ref, reactive, watch, computed, onMounted } from "vue";
import pagination from "laravel-vue-pagination";
import useCategory from "../../componentJS/category";
const btnValue1 = ref(false);
const btnValue2 = ref(false);
const disabled = ref(true);
const btncheckEdit = ref("Save");
const btnSearch = ref("Search");
const btnback = ref(false);
window.Menu = "Category";
const {

  updateCategory,
  DeleteCategory,
  createCategory,
  getCategory,
  Categories,
  dataPrint,
  company,
  newdate,
  form,
  search,
  number,
  errors,
} = useCategory();

const i18ntext = i18n

getCategory();
  


const btnSave = async () => {
  if (btncheckEdit.value == "Save") {
    form.created_by = Auth.user.user_code;
    if (form.cat_name == "" || form.cat_name == null) {
      createCategory(form);
    } else {
      createCategory(form);
      form.cat_name = "";
      form.cat_name_2 = "";
      getCategory();
    }
  }
  if (btncheckEdit.value === "Update") {
    form.updated_by = Auth.user.user_code;
    form.inactived = "No"
    updateCategory(form.id, form);
    form.cat_name = "";
    form.cat_name_2 = "";
    btncheckEdit.value = "Save";
    btnback.value = false;
    getCategory();
  }
};
const btnBack = async () => {
  btnback.value = false;
  form.cat_name = "";
  form.cat_name_2 = "";
  btncheckEdit.value = "Save";
  btnSearch.value = "Search";
};
const btnEdit = async (Category) => {
  form.id = Category.id;
  form.cat_name = Category.cat_name;
  form.cat_name_2 = Category.cat_name_2;
  btnValue2.value = true;
  btnValue1.value = false;
  disabled.value = true;
  btnback.value = true;
  btncheckEdit.value = "Update";
  btnSearch.value = "Delete";
};
const btnDelete = async () => {
  form.updated_by = Auth.user.user_code;
  DeleteCategory(form.id, form);
  form.cat_name = "";
  form.cat_name_2 = "";
  btncheckEdit.value = "Save";
  btnSearch.value = "Search";
  btnback.value = false;
  getCategory();
};
const btnAdd = async () => {
  form.cat_name = "";
  form.cat_name_2 = "";
  btnValue1.value = true;
  btnValue2.value = false;
  disabled.value = false;
};
const clickSerch = async () => {
  getCategory();
};
</script>

