<template>
  <div class="print">
    <a
      class="btn-radius bt-pn btn btn-sm"
      data-bs-toggle="dropdown"
      aria-expanded="false"
      style="float: right; color: #f8f5b4; width: 79px;"
    >
      <i class="fas fa-plus" style="padding-right: 5px"> </i>

      {{i18ntext.lngText('menu')}} 
    </a>
    <ul class="dropdown-menu">
      <!-- Print -->
      <li>
        <a
          class="dropdown-item btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#staticboomId"
          tabindex="10028"
          ><i class="fa fa-print" aria-hidden="true"></i> {{i18ntext.lngText('print')}} </a
        >
      </li>
      <!-- Excel -->
      <li>
        <a
          @click="importScripts()"
          class="dropdown-item"
          data-bs-toggle="modal"
          data-bs-target="#excelCategory"
          tabindex="10028"
          href="#"
          ><i class="fas fa-file-excel"></i> {{i18ntext.lngText('import')  }}</a
        >
      </li>
      <li>
        <a
          @click="getSheet()"
          class="dropdown-item"
          data-bs-toggle="modal"
          data-bs-target="#excelCategory"
          tabindex="10028"
          href="#"
          ><i class="fas fa-file-excel"></i>{{i18ntext.lngText('export')  }}</a
        >
      </li>
      <li>
        <a @click="BackToHistory()" class="dropdown-item btn btn-primary" tabindex="10028">
          <i class="fa fa-print" aria-hidden="true"></i> {{i18ntext.lngText('product')  }}
        </a>
      </li>
    </ul>
  </div>
  <!-- Modal Print -->

  <!-- Modal Excel -->
  <div
    class="modal fade ui-modal"
    id="excelCategory"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="staticboomId"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content ui-dialog">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">
            <i class="fas fa-file-excel"></i>Excel
          </h5>
          <span
            class="ui-icon ui-icon-closethick"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></span>
        </div>
        <div id="purchaseorder">
          <div class="card">
            <div class="card-body">
              <div class="container mb-5 mt-3">
                <div class="container">
                  <div class="col-md-12">
                    <div class="text-center">
                      <h3 v-if="excel == 'Import'" class="title-purchase">
                    {{ i18ntext.lngText('import') }}
                      </h3>
                      <h3 v-else class="title-purchase">
                    {{ i18ntext.lngText('export') }}

                         </h3>
                    </div>
                  </div>
                  <div
                    class="row my-2 mx-1 justify-content-center table-padding-bot customsroll"
                  >
                    <table class="table table-striped table-borderless" id="exceldata">
                      <thead style="background-color: #84b0ca" class="text-white">
                        <tr>
                          <th scope="col">{{i18ntext.lngText('no')}}</th>
                          <th scope="col">{{i18ntext.lngText('category_name')}}</th>
                          <th scope="col">{{i18ntext.lngText('description')}}</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr v-for="(CatExcel, index) in CatExcels" :key="index">
                          <th v-if="index >= 1" style="width: 5%; color: black">
                            {{ index }}
                          </th>

                          <th v-if="index >= 1" style="width: 10%; color: black">
                            {{ CatExcel.cat_name }}
                          </th>
                          <th v-if="index >= 1" style="width: 10%; color: black">
                            {{ CatExcel.cat_name_2 }}
                          </th>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div
            v-if="excel == 'Import'"
            @click="btnSaveExcel"
            data-bs-dismiss="modal"
            aria-label="Close"
            class="btn-purchase btn-light text-capitalize"
          >
            <input autocomplete="off" type="button" /><i class="fas fa-save"></i> {{i18ntext.lngText('save')}}
          </div>
          <div
            v-if="excel == 'Import'"
            @change="excelCategory($event)"
            class="btn-purchase btn-light text-capitalize"
          >
            <input autocomplete="off" type="file" style="width: 160px; right: 375px" /><i
              class="fas fa-file-excel"
            ></i>
            {{i18ntext.lngText('imfile')}}
          </div>
          <div
            @click="exportdataExcel()"
            v-if="excel == 'Export'"
            data-bs-dismiss="modal"
            aria-label="Close"
            class="btn-purchase btn-light text-capitalize"
          >
            <input autocomplete="off" type="button" /><i class="fas fa-save"></i> {{i18ntext.lngText('export')}}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import i18n from "../../i18n/i18n";
import useCategory from "../../componentJS/category";
const {
  savexcelCategoy,
  dataexcelCategory,
  printCategory,
  getCategory,
  getcompany,
  dataPrint,
  checkexcel,
  exefile,
  CatExcels,
  form,
  Categories,
  excel,
  company,
  newdate,
  Import,
  exportSheet,
  exportData,
} = useCategory();
const print = async () => {
  printCategory();
};
const btnSaveExcel = async () => {
  savexcelCategoy();
  getCategory();
};
const i18ntext = i18n
const excelCategory = async (event) => {
  dataexcelCategory(event);
  getCategory();
};
const importScripts = () => {
  Import();
};
const getSheet = async () => {
  exportSheet();
};
const exportdataExcel = async () => {
  exportData();
};
const BackToHistory = () => {
  history.back()
}
</script>
