<template>
    <div class="wrapper">
        <div class="container-fuild">
            <div id="headTitle">
                <Logo />
                <h1 id="title" _msttexthash="48503" _msthash="2">
                    {{ i18ntext.lngText('viewLabo') }}
                </h1>
            </div>
        </div>
        <div class="container-fuild">
            <Header />
            <ol id="topicPath">
                <li style="margin-left: 335px">
                    <router-link to="">
                        <a href="dashbaord">
                            <font style="vertical-align: inherit"></font>
                            <font style="vertical-align: inherit">
                                {{ i18ntext.lngText('viewLabo') }}
                            </font>
                        </a>
                    </router-link>
                </li>
            </ol>
        </div>
        <div class="p-3">
            <div class="search-box">
                <div class="search-box-title" id="Bars">
                    <div id="bar" style="width: 90%;">
                        <router-link to="/Labolap"><a class="btn-radius btn btn-sm" href="#" id="bar-1">
                                <i class="fas fa-cog" style="padding-right: 5px"> </i>
                                {{ i18ntext.lngText('labo') }}
                            </a>
                        </router-link>
                        <router-link to="/viewlabolap">
                            <a class="btn-radius btn btn-sm" href="#" id="bar-1"
                                style="background-color: #29a5a5; border: #22adb763 1px solid;">
                                <i class="fas fa-eye" style="padding-right: 5px"> </i>
                                {{ i18ntext.lngText('view') }}
                            </a>
                        </router-link>
                    </div>
                    <div id="right">
                        <a class="btn-radius bt-pn btn btn-sm" data-bs-toggle="dropdown" aria-expanded="false"
                            style="float: right; color: #f8f5b4; margin-top:-2px;margin-right: 11px;">
                            <i class="fas fa-plus" style="padding-right: 5px"> </i>
                            {{ i18ntext.lngText('menu') }}
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#printReport"
                                    tabindex="10028" href="#"><i class="fa fa-print" aria-hidden="true"></i> {{ i18ntext.lngText('print') }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="box">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0" class="table table-striped br-table">
                        <thead>
                            <tr class="header-table">
                                <th></th>
                                <th colspan="5">
                                    <input autocomplete="off" v-model="formSearch.name" type="search" @change="clearform('name')" @input="getPaginatePatientLabo()"
                                        :placeholder="i18ntext.lngText('search')" id="search" class="text" style="width:100%" />
                                </th>
                                <th>
                                    <div class="d-flex justify-content-center">
                                        <span><input autocomplete="off" id="search" name="search" type="date" @change="clearform('start')" v-model="formSearch.startDate" class="text"
                                                placeholder="Search" style="margin-right: 0px !important;">
                                        </span>
                                        <span style="margin: 0px 10px;">{{ i18ntext.lngText('to') }}</span>
                                        <span>
                                            <input autocomplete="off" id="search" name="search" @change="clearform('start')" v-model="formSearch.endDate"
                                                type="date" class="text" placeholder="Search"
                                                style="margin-right: 0px !important;">
                                        </span>
                                    </div>
                                </th>
                                <th></th>
                                <th>
                                    <div class="button" id="uniform-undefined" @click="getPaginatePatientLabo()">
                                        <span><i class="fa fa-search"></i> {{ i18ntext.lngText('search') }}<input autocomplete="off" type="button" tabindex="10028"
                                                style="opacity: 0; width: 70px" /></span>
                                    </div>
                                </th>
                            </tr>
                            <tr class="header-table">
                                <th style="width: 5%">{{ i18ntext.lngText('No') }}</th>
                                <th style="width: 5%">{{ i18ntext.lngText('patientid') }}</th>
                                <th style="width: 10%">{{ i18ntext.lngText('name') }}</th>
                                <th style="width: 5%">{{ i18ntext.lngText('sex') }}</th>
                                <th style="width:5%">{{ i18ntext.lngText('age') }}</th>
                                <th style="width: 10%">{{ i18ntext.lngText('address') }}</th>
                                <th style="width: 10%">{{ i18ntext.lngText('date') }}</th>
                                <th style="width: 10%">{{ i18ntext.lngText('remark') }}</th>
                                <th style="width: 5%"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(item, index) in items.data" :key="index">
                                <td v-if="item.status == 'success'" class="success">{{ 15*(number - 1)  + (index + 1)}}</td>
                                <td v-else class="open">{{ 15*(number - 1)  + (index + 1)}}</td>
                                <td v-if="item.status == 'success'" class="success">{{ item.pateinid }}</td>
                                <td v-else class="open">{{ item.pateinid }}</td>
                                <td v-if="item.status == 'success'" class="success">{{ item.firstname }} {{ item.lstname }}</td>
                                <td v-else class="open">{{ item.firstname }} {{ item.lstname }}</td>
                                <td v-if="item.status == 'success'" class="success">{{ item.sex }}</td>
                                <td v-else class="open">{{ item.sex }}</td>
                                <td v-if="item.status == 'success'" class="success">{{ item.age }}</td>
                                <td v-else class="open">{{ item.age }}</td>
                                <td v-if="item.status == 'success'" class="success">{{ item.pro_city }}</td>
                                <td v-else class="open">{{ item.pro_city }}</td>
                                <td v-if="item.status == 'success'" class="success">{{ formatdatetime(item.Date) }}</td>
                                <td v-else class="open">{{ formatdatetime(item.Date) }}</td>
                                <td v-if="item.status == 'success'" class="success">{{ item.remark }}</td>
                                <td v-else class="open">{{ item.remark }}</td>
                                <td class="text-center" style="min-width:100px;">
                                    <div class="button" id="uniform-undefined" @click="toLabo(item)">
                                        <span><i class="fa fa-edit"></i> {{ i18ntext.lngText('detail') }}<input autocomplete="off" type="button" tabindex="10028"
                                                style="opacity: 0; width: 70px" /></span>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="box-footer-pagination">
                        <pagination :limit="2" :data="items" @pagination-change-page="getPaginatePatientLabo" />
                    </div>
                </div>
            </div>
        </div>
        <!-- view modal  -->
        

       

    </div>


    <!-- print report -->
    <div class="modal fade ui-modal" id="printReport" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticboomId" aria-hidden="true">
        <div class="modal-dialog" style="max-width:87% !important;">
            <div class="modal-content ui-dialog">
                <div class="ui-widget-header">
                    <h5 class="modal-title in-header" id="staticBackdropLabel"><i class="fa fa-print"
                            aria-hidden="true"></i>
                            {{ i18ntext.lngText('print') }}</h5>
                    <span class="ui-icon ui-icon-closethick" data-bs-dismiss="modal" aria-label="Close"></span>
                </div>
                <div class="ui-dialog-content">
                    <div class="card">
                        <div class="card-body">
                            <div class="mt-3 print-size">
                                <div style="padding:0 50px 0 50px" id="printProduct">
                                    <div class="col-md-12">
                                        <div class="text-center">
                                            <h3 class="title-purchase">{{ i18ntext.lngText('report') }}{{ i18ntext.lngText('viewLabo') }}</h3>
                                        </div>
                                    </div>
                                    <div class="col-container">
                                        <div class="col1" style="width: 55%;">
                                            <p class=" p-bg font-size p-pad">{{ i18ntext.lngText('company') }}</p>
                                            <p class="p-mg info-pad"><span id="bold">{{ i18ntext.lngText('name') }} :</span> <span id="fon">{{
                                                company.company_name }}</span></p>
                                            <p class="p-mg  info-pad"><span id="bold">{{ i18ntext.lngText('phonenumber') }} :</span> <span
                                                    id="fon">{{ company.company_Phone }}</span></p>
                                            <p class="p-mg info-pad"><span id="bold">{{ i18ntext.lngText('email') }} :</span> <span
                                                    id="fon">{{ company.company_Email }}</span></p>
                                            <p class="p-mg info-pad"><span id="bold">{{ i18ntext.lngText('address') }} :</span> <span id="fon">{{
                                                company.company_Address }}</span></p>
                                        </div>
                                        <div class="col2">
                                            <p class="text-center p-bg font-size p-pad">{{ i18ntext.lngText('date') }}</p>
                                            <p class="text-center p-mg" id="fon">{{ dateformart }}</p>
                                            <p class="text-center p-bg font-size p-pad">{{ i18ntext.lngText('total') }}{{ i18ntext.lngText('patient') }}</p>
                                            <p class="text-center p-mg" id="fon">{{ report.length }}</p>
                                        </div>
                                    </div>
                                    <div class="my-2 justify-content-center">
                                        <table id="pr-tb">
                                            <thead>
                                                <tr class="p-bg">
                                                    <th class="text-center" style="width:4%">{{ i18ntext.lngText('No') }}</th>
                                                    <th width="3%" class="text-center" style="width:7%">{{ i18ntext.lngText('patientid') }}</th>
                                                    <th class="text-center" style="width:12%;text-align: center;">{{ i18ntext.lngText('name') }}</th>
                                                    <th class="text-center" style="width:5%;text-align: center;">{{ i18ntext.lngText('sex') }}</th>
                                                    <th class="text-center" style="width:5%;text-align: center;">{{ i18ntext.lngText('age') }}</th>
                                                    <th class="text-center" style="width:10%;text-align: center;">{{ i18ntext.lngText('phonenumber') }}</th>
                                                    <th class="text-center" style="width:10%;text-align: center;">{{ i18ntext.lngText('address') }}</th>
                                                    <th class="text-center" style="width:10%;text-align: center;">{{ i18ntext.lngText('date') }}</th>
                                                    <th class="text-center" style="width:10%;text-align: center;">{{ i18ntext.lngText('appointment') }}</th>
                                                    <th class="text-center">{{ i18ntext.lngText('remark') }}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="(reg, index) in report" :key="index">
                                                    <td>{{ index + 1 }}</td>
                                                    <td>{{ reg.pateinid }}</td>
                                                    <td>{{ reg.firstname }} {{ reg.lstname }}</td>
                                                    <td>{{ reg.sex }}</td>
                                                    <td>{{ reg.age }}</td>
                                                    <td>{{ reg.phone1 }}</td>
                                                    <td>
                                                        {{ reg.pro_city }}
                                                    </td>
                                                    <td>{{ formatdatetime(reg.visit_date) }}</td>
                                                    <td style="width:4em">{{ formatdatetime(reg.appointment_date) }}
                                                    </td>
                                                    <td>{{ reg.remark }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a v-print="'#printProduct'" class="btn-purchase btn-light text-capitalize border-0"
                        data-mdb-ripple-color="dark"><i class="fas fa-print text-primary"></i> {{ i18ntext.lngText('print') }}</a>
                </div>
            </div>
        </div>
    </div>
    <Footer/>
    <UserInfo />
</template>

<script>

import Header from '../Header.vue'
import axios from "axios";
import Logo from "../logo.vue"
import pagination from "laravel-vue-pagination";
import print from "vue3-print-nb";
import moment from "moment";
import i18n from "../../i18n/i18n";
import UserInfo from "../UserInfo.vue";
import Footer from "../footer.vue"

export default {
    name: "Laboratory",
    components: { Header, pagination,Logo,Footer, UserInfo },
    directives: { print },
    data() {
        return {
            i18ntext: i18n,
            form: {
                sex: 'Both'
            },
            labo: 20,
            items: [],
            formSearch: {
                name: '',
                startDate: '',
                endDate: ''
            },
            company: [],
            dateformart: '',
            report: [],
            number_page : 1,
            number : 1,

        }
    },
   async mounted() {
        this.checkedActive()
       
        if(this.$route.query.page != 1){
            this.number_page = this.$route.query.page
            await axios.post('api/v1/laboratory/getViewPatientLabo?page=' + this.number_page,this.formSearch)
                .then(res => {
                    this.items = res.data.data
                    this.report = res.data.print
                    console.log(this.items)
                })
        }else{
            this.getPaginatePatientLabo()
        }
        let myPagenumber = this.$route.query
        if(JSON.stringify(myPagenumber) === '{}'){
            this.number = 1
        } 
        else {
        this.number = this.$route.query.page
        }

        this.getcompany()
    },
    methods: {
     
        checkedActive() {
            var items = document.querySelectorAll(".radio > span")
            console.log(items.length)
            for (let i = 0; i < items.length; i++) {
                items[i].addEventListener('click', function () {
                    let currentBtn = document.querySelectorAll('.checked')
                    currentBtn[0].className = currentBtn[0].className.replace('checked', '')
                    this.className += " checked"
                })
            }
        },
        getsex(sex) {
            if (sex == 'both') {
                this.form.sex = "Both"
                console.log(this.form.sex)
            }
            else if (sex == 'male') {
                this.form.sex = 'Male'
                console.log(this.form.sex)
            }
            else {
                this.form.sex = 'Female'
                console.log(this.form.sex)
            }
        },
        async getPaginatePatientLabo(page = 1) {
            this.$router.push({name: 'viewlabolap', query: {page : page}})
            await axios.post('api/v1/laboratory/getViewPatientLabo?page=' + page,this.formSearch)
                .then(res => {
                    this.items = res.data.data
                    this.report = res.data.print
                    console.log(this.items)
                    this.number = this.$route.query.page
                })
        },
        toLabo(item) {
            this.$router.push({ name: 'Labolap', query: { id: item.labId } })
        },
        async getcompany() {
            await axios.get("/api/v1/getSetup/")
                .then((response) => {
                    this.company = response.data;
                    this.dateformart = moment(new Date()).format('DD-MM-YYYY');
                });
        },
        formatdatetime(dateform) {
            try {
                return  moment(dateform).format('DD-MM-YYYY');
            } catch (error) {
                return dateform;
            }
        },
        // async getReport() {
        //     await axios.get('api/v1/laboratory/report/')
        //         .then(res => {
        //             this.report = res.data
        //         })
        // },
        clearform(text){
            if(text === 'name'){
                this.formSearch ={
                    name : this.formSearch.name,
                    startDate : '',
                    endDate: ''
                }
            }
            if(text === 'start'){
                this.formSearch = {
                    name : '',
                    startDate : this.formSearch.startDate,
                    endDate : this.formSearch.endDate
                }
            }
        },
        getDefault() {
            if (this.formSearch.name == '') {
                this.getPaginatePatientLabo()
            }
        }
    }
};
</script>
