<template>
    <div class="wrapper">
        <div class="container-fuild">
            <div id="headTitle">
                <Logo />
                <h1 id="title" _msttexthash="48503" _msthash="2">
                    {{ i18ntext.lngText('view_all') }}
                </h1>
            </div>
        </div>
        <div class="container-fuild">
            <Header />
            <ol id="topicPath">
                <li style="margin-left: 255px">
                    <router-link to="dashbaord">
                        <a href="dashbaord">
                            <font style="vertical-align: inherit"></font>
                            <font style="vertical-align: inherit">
                                {{ i18ntext.lngText('view_all') }}
                            </font>
                        </a>
                    </router-link>
                </li>
            </ol>
            <div class="search-box">
                <div id="product">
                    <!--#contents -->
                    <div class="search-box">
                        <div class="search-box-title" id="Bars">
                            <div id="bar" style="width: 90%;gap: 0;">
                                <router-link to="/pos">
                                    <a class="btn-radius btn btn-sm" href="#"
                                        style="color: #f8f5b4; margin-top: -2px; color: #dbdee1">
                                        <i class="fa fa-cog" aria-hidden="true"></i>
                                        {{ i18ntext.lngText('POS') }}
                                    </a>
                                </router-link>
                                <router-link to="/patientRegister">
                                    <a class="btn-radius btn btn-sm" href="#"
                                        style="margin-top: -2px; border: #22adb763 1px solid;">
                                        <i class="fa fa-cog" aria-hidden="true"></i>
                                        {{ i18ntext.lngText('patient') }}
                                    </a>
                                </router-link>
                                <router-link to="/viewall">
                                    <a class="btn-radius btn btn-sm" href="#"
                                        style="color: #f8f5b4; margin-top: -2px; color: #dbdee1;background-color: #29a5a5;">
                                        <i class="fa fa-cog" aria-hidden="true"></i>
                                        {{ i18ntext.lngText('view_all') }}
                                    </a>
                                </router-link>

                            </div>
                            <div id="right" style="width: 10%;">
                                <a class="btn-radius bt-pn btn btn-sm" data-bs-toggle="dropdown" aria-expanded="false"
                                    style="float:right; color: #f8f5b4;margin-top: -2px;margin-right: 11px;">
                                    <i class="fas fa-plus" style="padding-right:5px;">
                                    </i>
                                    {{ i18ntext.lngText('menu') }}
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item btn btn-primary" data-bs-toggle="modal"
                                            data-bs-target="#staticboomId" tabindex="10028"><i class="fa fa-print"
                                                aria-hidden="true"></i> {{ i18ntext.lngText('print') }}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <input autocomplete="off" id="search" name="search" type="hidden" value="1" />
                        <input autocomplete="off" id="search" name="search" type="hidden" value="1" />
                        <div class="box">
                            <div class="box-content">
                                <table width="100%" border="0" cellpadding="0" cellspacing="0"
                                    class="table table-striped br-table">
                                    <thead>
                                        <tr class="header-table">
                                            <th colspan="8" style="width: 55em;"><input autocomplete="off" @change="clearText('name')"
                                                    @input="getview()" v-model="pre_search.name" id="search"
                                                    name="search" type="search" class="text text-1"
                                                    :placeholder="i18ntext.lngText('pre_id') + ',' + i18ntext.lngText('patient_name') + ',' + i18ntext.lngText('phonenumber') + ',' + i18ntext.lngText('address')"
                                                    style="width: 100%;"></th>
                                            <th colspan="2" class="exp">
                                                <div><span><input autocomplete="off" v-model="pre_search.startDate" @change="clearText('date')"
                                                            id="search" name="search" type="date" class="text"
                                                            placeholder="Search"
                                                            style="margin-right: 0px !important;"></span><span
                                                        style="margin: 0px 10px;">To</span><span><input autocomplete="off"
                                                            @change="clearText('date')" v-model="pre_search.endDate"
                                                            id="search" name="search" type="date" class="text"
                                                            placeholder="Search"
                                                            style="margin-right: 0px !important;"></span></div>
                                            </th>
                                            <th>
                                                <input autocomplete="off" v-model="pre_search.type" id="search" @change="clearText('type')"
                                                    name="search" type="search" class="text"
                                                    :placeholder="i18ntext.lngText('type')" style="width: 100%;">
                                            </th>
                                            <th></th>
                                            <th>
                                                <div @click="getview()" class="button type2" id="uniform-undefined">
                                                    <span><input autocomplete="off" type="button" class="type2" tabindex="10025"
                                                            value="display" style="opacity: 0; width: 54px;"><i
                                                            class="fa fa-search"></i>
                                                        {{ i18ntext.lngText('search') }}</span>
                                                </div>
                                            </th>
                                        </tr>
                                        <tr class="header-table">
                                            <th style="width:3%">{{ i18ntext.lngText('no') }}</th>
                                            <th width="10%">{{ i18ntext.lngText('name') }}</th>
                                            <th style="width:4%">{{ i18ntext.lngText('sex') }}</th>
                                            <th style="width:4%">{{ i18ntext.lngText('age') }}</th>
                                            <th style="width:4%">{{ i18ntext.lngText('weight') }}</th>
                                            <th style="width:12%">{{ i18ntext.lngText('diangosis') }}</th>
                                            <th width="7%">{{ i18ntext.lngText('phonenumber') }}</th>
                                            <th width="10%">{{ i18ntext.lngText('address') }}</th>
                                            <th style="width:8%">{{ i18ntext.lngText('date') }}</th>
                                            <th style="width:8%">{{ i18ntext.lngText('appointment') }}</th>
                                            <th width="8%">{{ i18ntext.lngText('type') }}</th>
                                            <th width="15%">{{ i18ntext.lngText('remark') }}</th>
                                            <th width="7%"></th>
                                        </tr>
                                    </thead>
                                    <tbody  class="style-reverse" v-for="(reg, index) in getpres.data" :key="index">
                                        <tr v-if="reg.status === 'reverse'" style="background-color:#FFCC66 !important">
                                            <td>{{ 15*(number - 1)  + (index + 1) }}</td>
                                            <td>{{ reg.firstname }} {{ reg.lstname }}</td>
                                            <td>{{ reg.sex }}</td>
                                            <td>{{ reg.age }}</td>
                                            <td>{{ reg.width }}</td>
                                            <td>{{ reg.group_code }}</td>
                                            <td>{{ reg.phone1 }} </td>
                                            <td>
                                                {{ reg.address }} {{ reg.village }} {{ reg.commune }} {{ reg.district }}
                                                {{
                                                    reg.pro_city }}
                                            </td>
                                            <td v-if="reg.visit_date != null">{{ formatdatetime(reg.visit_date) }}</td>
                                            <td v-else>{{ reg.visit_date }}</td>
                                            <td v-if="reg.appointment_date != null">{{ formatdatetime(reg.appointment_date)
                                            }}</td>
                                            <td v-else>{{ reg.appointment_date }}</td>
                                            <td>{{ reg.type }}</td>
                                            <td>{{ reg.remark }}</td>
                                            <td class="text-center d-flex">
                                                <div class="button type2" @click="createvisit(reg)">
                                                    <span><input autocomplete="off" type="button" value="display" class="type2"
                                                            style="opacity: 0; width: 54px" tabindex="10025" />
                                                        {{ i18ntext.lngText('detail') }}</span>
                                                </div>
                                                <div v-if="reg.status == 'open'" class="button type2"
                                                    @click="deletePrescription(reg.preid)">
                                                    <span><input autocomplete="off" type="button" value="display" class="type2"
                                                            style="opacity: 0; width: 54px"
                                                            tabindex="10025" />{{ i18ntext.lngText('Delete') }}</span>
                                                </div>
                                                <div v-else class="button type2" @click="cannotDelete()">
                                                    <span><input autocomplete="off" type="button" value="display" class="type2"
                                                            style="opacity: 0; width: 54px"
                                                            tabindex="10025" />{{ i18ntext.lngText('Delete') }}</span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr v-else>
                                            <td>{{ 15*(number - 1)  + (index + 1) }}</td>
                                            <td>{{ reg.firstname }} {{ reg.lstname }}</td>
                                            <td>{{ reg.sex }}</td>
                                            <td>{{ reg.age }}</td>
                                            <td>{{ reg.width }}</td>
                                            <td>{{ reg.group_code }}</td>
                                            <td>{{ reg.phone1 }} </td>
                                            <td>
                                                {{ reg.address }} {{ reg.village }} {{ reg.commune }} {{ reg.district }}
                                                {{
                                                    reg.pro_city }}
                                            </td>
                                            <td v-if="reg.visit_date != null">{{ formatdatetime(reg.visit_date) }}</td>
                                            <td v-else>{{ reg.visit_date }}</td>
                                            <td v-if="reg.appointment_date != null">{{ formatdatetime(reg.appointment_date)
                                            }}</td>
                                            <td v-else>{{ reg.appointment_date }}</td>
                                            <td>{{ reg.type }}</td>
                                            <td>{{ reg.remark }}</td>
                                            <td class="text-center d-flex">
                                                <div class="button type2" @click="createvisit(reg)">
                                                    <span><input autocomplete="off" type="button" value="display" class="type2"
                                                            style="opacity: 0; width: 54px" tabindex="10025" />
                                                        {{ i18ntext.lngText('detail') }}</span>
                                                </div>
                                                <div v-if="reg.status == 'open'" class="button type2"
                                                    @click="deletePrescription(reg.preid)">
                                                    <span><input autocomplete="off" type="button" value="display" class="type2"
                                                            style="opacity: 0; width: 54px"
                                                            tabindex="10025" />{{ i18ntext.lngText('Delete') }}</span>
                                                </div>
                                                <div v-else class="button type2" @click="cannotDelete()">
                                                    <span><input autocomplete="off" type="button" value="display" class="type2"
                                                            style="opacity: 0; width: 54px"
                                                            tabindex="10025" />{{ i18ntext.lngText('Delete') }}</span>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="box-footer-pagination">
                                    <pagination :limit="2" :data="getpres" @pagination-change-page="getview" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade ui-modal" id="staticboomId" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticboomId" aria-hidden="true">
        <div class="modal-dialog" style="max-width:87% !important;">
            <div class="modal-content ui-dialog">
                <div class="ui-widget-header">
                    <h5 class="modal-title in-header" id="staticBackdropLabel"><i class="fa fa-print"
                            aria-hidden="true"></i>
                        {{ i18ntext.lngText('print') }}</h5>
                    <span class="ui-icon ui-icon-closethick" data-bs-dismiss="modal" aria-label="Close"></span>
                </div>
                <div class="ui-dialog-content">
                    <div class="card">
                        <div class="card-body">
                            <div class="mt-3 print-size">
                                <div style="padding:0 50px 0 50px" id="printProduct">
                                    <div class="col-md-12">
                                        <div class="text-center">
                                            <h3 class="title-purchase">{{ i18ntext.lngText('report') }}
                                                {{ i18ntext.lngText('view_all') }}</h3>
                                        </div>
                                    </div>
                                    <div class="col-container">
                                        <div class="col1" style="width: 55%;">
                                            <p class=" p-bg font-size p-pad">{{ i18ntext.lngText('company') }}</p>
                                            <p class="p-mg info-pad"><span id="bold">{{ i18ntext.lngText('name') }} :</span>
                                                <span id="fon">{{ company.company_name }}</span></p>
                                            <p class="p-mg  info-pad"><span id="bold">{{ i18ntext.lngText('phonenumber') }}
                                                    :</span> <span id="fon">{{ company.company_Phone }}</span></p>
                                            <p class="p-mg info-pad"><span id="bold">{{ i18ntext.lngText('email') }} :</span>
                                                <span id="fon">{{ company.company_Email }}</span></p>
                                            <p class="p-mg info-pad"><span id="bold">{{ i18ntext.lngText('address') }}
                                                    :</span> <span id="fon">{{ company.company_Address }}</span></p>
                                        </div>
                                        <div class="col2">
                                            <p class="text-center p-bg font-size p-pad">{{ i18ntext.lngText('date') }}</p>
                                            <p class="text-center p-mg" id="fon">{{ dateformart }}</p>
                                            <p class="text-center p-bg font-size p-pad">{{ i18ntext.lngText('total') }}
                                                {{ i18ntext.lngText('view_all') }}</p>
                                            <p class="text-center p-mg" id="fon">{{ print.length }}</p>
                                        </div>
                                    </div>
                                    <div class="my-2 justify-content-center">
                                        <table id="pr-tb">
                                            <thead>
                                                <tr class="p-bg">
                                                    <th class="text-center" style="width:4%">{{ i18ntext.lngText('no') }}</th>
                                                    <th class="text-center">{{ i18ntext.lngText('name') }}</th>
                                                    <th class="text-center" style="width:5%">{{ i18ntext.lngText('sex') }}
                                                    </th>
                                                    <th class="text-center" style="width:5%">{{ i18ntext.lngText('age') }}
                                                    </th>
                                                    <th class="text-center" style="width:5%">{{ i18ntext.lngText('weight') }}
                                                    </th>
                                                    <th class="text-center">{{ i18ntext.lngText('phonenumber') }}</th>
                                                    <th class="text-center">{{ i18ntext.lngText('address') }}</th>
                                                    <th class="text-center">{{ i18ntext.lngText('date') }}</th>
                                                    <th class="text-center">{{ i18ntext.lngText('appointment') }}</th>
                                                    <th class="text-center">{{ i18ntext.lngText('type') }}</th>
                                                    <th class="text-center">{{ i18ntext.lngText('remark') }}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="(reg, index) in print" :key="index">
                                                    <td>{{ index + 1 }}</td>
                                                    <td>{{ reg.firstname }} {{ reg.lstname }}</td>
                                                    <td>{{ reg.sex }}</td>
                                                    <td>{{ reg.age }}</td>
                                                    <td>{{ reg.width }}</td>
                                                    <td>{{ reg.phone1 }}</td>
                                                    <td>
                                                        {{ reg.pro_city }}
                                                    </td>
                                                    <td v-if="reg.visit_date == null">{{ reg.visit_date }}</td>
                                                    <td v-else>{{ formatdatetime(reg.visit_date) }}</td>
                                                    <td v-if="reg.appointment_date == null">{{ reg.appointment_date }}</td>
                                                    <td v-else>{{ formatdatetime(reg.appointment_date) }}</td>
                                                    <td>{{ reg.type }}</td>
                                                    <td>{{ reg.remark }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a v-print="'#printProduct'" class="btn-purchase btn-light text-capitalize border-0"
                        data-mdb-ripple-color="dark"><i class="fas fa-print text-primary"></i>
                        {{ i18ntext.lngText('print') }}</a>
                </div>
            </div>
        </div>
    </div>
    <div id="myModal" class="lskymodal">
        <div class="lskymodal-content">
            <p><i class="fa fa-check" aria-hidden="true"></i> {{ message }}</p>
        </div>
    </div>

    <div class="modal fade ui-modal" id="closeshift" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropss" aria-hidden="true">
        <div class="modal-dialog open-form" id="nonbackgroundboom">
            <div class="modal-content ui-dialog" style="height: 565px !important;">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">{{ i18ntext.lngText('sl-det') }}</h5>
                    <span class="ui-icon ui-icon-closethick" data-bs-dismiss="modal" aria-label="Close"></span>
                </div>
                <div style="background: #fff; overflow: scroll">
                    <div>
                        <div id="menu" style="padding: 0 40px; margin-bottom: 20px; max-height: 500px;">
                            <h4 class="text-center open-h4">{{ i18ntext.lngText('sl-det') }}</h4>
                            <div class="right-path-line shift-line"></div>
                            <div class="right-path" style="width: 100%;">
                                <p>{{ i18ntext.lngText('employee_name') }}</p>
                                <div class="user-box d-flex justify-content-between align-items-center"
                                    style="margin-bottom: 10px;margin-top: 10px; padding: 2px 15px;">
                                    <p>{{ user.user_name }}</p>
                                </div>
                                <div style="display: flex;justify-content: space-between;margin-bottom: 10px;">
                                    <p>
                                        {{ i18ntext.lngText('invoice') }} :{{ form1.document_no }}
                                    </p>
                                    <p>
                                        {{ i18ntext.lngText('date') }} :{{ formatdatetime(form1.created_at) }}
                                    </p>
                                </div>
                                <div class="post-table-path" style="zoom: 110%;">
                                    <table class="table list-table">
                                        <thead class="post-table-path-thead">
                                            <th class="text-left lt-th" style="width: 2em;">{{ i18ntext.lngText('no') }}</th>
                                            <th class="text-left lt-th">{{ i18ntext.lngText('item') }}</th>
                                            <th class="text-center lt-th" style="width: 140px;">{{ i18ntext.lngText('qty') }}</th>
                                            <th class="text-left lt-th">{{ i18ntext.lngText('unit-tran') }}</th>
                                            <th class="text-left lt-th" style="width: 15%;">{{ i18ntext.lngText('total') }}</th>
                                        </thead>
                                        <tbody>
                                            <tr class="recept-body" v-for="(sel, index) in selectProduct">
                                                <td scope="row" class="lt-td">{{ index + 1 }}</td>
                                                <td scope="row" class="lt-td">{{ sel.description }}</td>
                                                <td scope="row" class="text-center lt-td">
                                                    {{ sel.inventory }}
                                                </td>
                                                <td scope="row" class="lt-td">{{ sel.unit_code }}</td>
                                                <td scope="row" class="lt-td">{{ Number(sel.total_amount).toLocaleString()
                                                }} ៛</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="right-path-line"></div>
                                <div class="right-path-bottom" style="zoom: 80%;">
                                    <table id="pos-bottom-table">
                                        <tr style="background: rgb(154 218 223 / 51%)">
                                            <th>{{ i18ntext.lngText('amount') }}</th>
                                            <td> {{ Number(form1.amoun).toLocaleString() }} ៛</td>
                                        </tr>
                                        <tr style="background-color: aliceblue">
                                            <th></th>
                                            <td>
                                                {{ Number(form1.total_amount_usd).toLocaleString() }} $
                                            </td>
                                        </tr>
                                        <tr style="background: rgb(154 218 223 / 51%); cursor: pointer">
                                            <th>{{ i18ntext.lngText('discount') }}</th>
                                            <td>{{ JSON.parse(JSON.stringify(form1.discount)) }} %</td>
                                        </tr>
                                        <tr style="background-color: aliceblue">
                                            <th>{{ i18ntext.lngText('exchangerate') }}</th>
                                            <td>{{ Number(form1.exchane_rate).toLocaleString() }} ៛</td>
                                        </tr>
                                        <tr style="background: rgb(154 218 223 / 51%); width: 100%">
                                            <th>{{ i18ntext.lngText('total_discount') }}</th>
                                            <td>{{ Number(form1.total_amount).toLocaleString() }} ៛</td>
                                        </tr>
                                        <tr style="background-color: aliceblue">
                                            <th></th>
                                            <td>
                                                {{ Number(form1.total_amount_usd).toLocaleString() }} $
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="btn-print-reverse">
                        <button type="submit" class="open-button" data-bs-toggle="modal" data-bs-target="#pay1">
                            {{ i18ntext.lngText('print') }}
                        </button>
                        <button v-if="form1.statue != 'demo'" data-bs-toggle="modal" data-bs-target="#reverseConfirm" type="submit" class="open-button">
                            {{ i18ntext.lngText('reverse') }}
                        </button>
                        <button v-if="form1.statue === 'demo'" data-bs-toggle="modal" data-bs-target="#copyagain" type="submit" class="open-button">
                            {{ i18ntext.lngText('copy_again') }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

     
    <!-- Reverse confirm -->
    <div class="modal fade ui-modal" id="reverseConfirm" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="clearconfirmlabel" aria-hidden="true">
        <div class="modal-dialog smallpopup" id="nonbackgroundboom">
            <div class="modal-content ui-dialog">
                <div class="ui-widget-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        <span class="ui-dialog-title"
                            id="ui-dialog-title-modal-edit-dialog">{{ i18ntext.lngText('confirm_message') }}</span>
                    </h5>
                    <span class="ui-icon ui-icon-closethick btn-cancel" data-bs-dismiss="modal" aria-label="Close"></span>
                </div>
                <div class="ui-dialog-content" style="background-color: #fff;">
                    <div class="modal-body">{{ i18ntext.lngText('reverse_message') }}</div>
                    <div class="modal-footer">

                        <div class="button type2"  data-bs-dismiss="modal">
                            <span>{{ i18ntext.lngText('No') }}<input autocomplete="off" type="button" class="type2" tabindex="10008" value="No"
                                    style="width: 89px; opacity: 0;">
                            </span>

                        </div>
                        <div class="button type2" data-bs-dismiss="modal" @click="reverseSaleProduct()">
                            <span>{{ i18ntext.lngText('yes') }}</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade ui-modal" id="copyagain" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="clearconfirmlabel" aria-hidden="true">
        <div class="modal-dialog smallpopup" id="nonbackgroundboom">
            <div class="modal-content ui-dialog">
                <div class="ui-widget-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        <span class="ui-dialog-title"
                            id="ui-dialog-title-modal-edit-dialog">{{ i18ntext.lngText('confirm_message') }}</span>
                    </h5>
                    <span class="ui-icon ui-icon-closethick btn-cancel" data-bs-dismiss="modal" aria-label="Close"></span>
                </div>
                <div class="ui-dialog-content" style="background-color: #fff;">
                    <div class="modal-body">{{ i18ntext.lngText('copy_message') }}</div>
                    <div class="modal-footer">

                        <div class="button type2"  data-bs-dismiss="modal">
                            <span>{{ i18ntext.lngText('No') }}<input autocomplete="off" type="button" class="type2"  value="No"
                                    style="width: 89px; opacity: 0;">
                            </span>

                        </div>
                        <div class="button type2" data-bs-dismiss="modal" @click="copytoagain()">
                            <span>{{ i18ntext.lngText('yes') }}</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- print detail -->
    <div class="modal fade ui-modal" id="pay1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="payment" aria-hidden="true">
    <div class="modal-dialog " style="max-width: 400px !important;">
      <div class="modal-content ui-dialog" style="overflow-y: scroll !important; max-height: 92vh;">
        <div class="ui-widget-header">
          <p>{{ i18ntext.lngText('Payment') }}</p>
          <span class="ui-icon ui-icon-closethick" data-bs-dismiss="modal" aria-label="Close"></span>
        </div>
        <div class="ui-dialog-content" id="paypos1" style="padding: 15px;">
          <span style="text-transform: uppercase;display: flex; justify-content: center;">{{ company.company_name
            }}</span>

          <div class="Hcard-2">
            <p style="text-align: center;">
              {{ company.company_Address }} <br>
              {{ company.company_Email }} <br>
              {{ company.company_Phone }}
            </p>
          </div>
          <div style="display: grid; grid-template-columns: repeat(2,1fr);">
            <div class="cash-1">
              <tr>
                <td>Cashier :</td>
                <td>{{ user.user_name }}</td>
              </tr>

            </div>
            <div class="cash-1 d-flex justify-content-end">
              <td>Invoices :</td>
              <td>{{ form1.document_no }}</td>
            </div>
            <div class="cash-1">
              <td>Print :</td>
              <td>{{ dateformart1 }}</td>
            </div>
          </div>
          <table id="bd-1" style="width:100%;border-top: 1px solid black;border-bottom: 1px solid black;">
            <tr>
              <th style="text-align: start;">
                NO
              </th>
              <th style="text-align: start;">
                Description
              </th>
              <th style="text-align: start;">
                Type
              </th>
              <th style="text-align: end;">
                QTY
              </th>
            </tr>
            <tr v-for="(sel, index) in selectProduct">
              <td>{{ index + 1 }}</td>
              <td>{{ sel.description }}</td>
              <td>{{ sel.unit_code }}</td>
              <td style="float: right;">{{ sel.inventory }}</td>
            </tr>
          </table>
          <table id="bd-1" style="border-bottom: 1px solid black;width: 100%;">
            <tbody>
              <tr>
                <td style="text-align: start;">
                  ទឹកប្រាក់សរុប (រៀល)
                </td>
                <td style="text-align: end;">
                  {{ Number(form1.amoun).toLocaleString() }} ៛
                </td>
                <td style="text-align: end; width: 31%;">
                  {{ Number((parseFloat(form1.total_amount_usd))).toLocaleString() }} $
                </td>
              </tr>
              <tr>
                <td style="text-align: start;">
                  បញ្ចុះតម្លៃ (រៀល)
                </td>
                <td style="text-align: end;">
                  {{ form1.discount }} %
                </td>
                <td style="text-align: end; width: 31%;">
                  {{ Number(form1.discount).toLocaleString() }}
                </td>
              </tr>
              <tr>
                <td style="text-align: start;">
                  ទឹកប្រាក់ត្រូវបង់ (រៀល)
                </td>
                <td style="text-align: end;">
                  {{ Number(form1.total_amount).toLocaleString() }} ៛
                </td>
                <td style="text-align: end; width: 31%;">
                  {{ Number(form1.total_amount_usd).toLocaleString() }} $
                </td>
              </tr>
              <tr>
                <td style="text-align: start;">
                  លុយអាប់ (រៀល)
                </td>
                <td style="text-align: end;">
                  {{ form1.change_amount }} ៛
                </td>
                <td style="text-align: end; width: 31%;">
                  {{ form1.change_amount_usd }} $
                </td>
              </tr>
            </tbody>
          </table>
          <table id="bd-1" style="border-bottom: 1px solid black;width: 100%;">
            <tbody>
              <tr>
                <td style="text-align: start;font-weight: bold;font-size: 12px;">
                  អត្រាប្តូរប្រាក់:1$={{ Number(form1.exchane_rate).toLocaleString() }}(រៀល)
                </td>
                <td>
                </td>
                <td
                  style="font-size: 12px; font-weight: bold; text-align: end; width: 37%; text-decoration: underline;">
                  ឈ្មោះអ្នកទទួល
                </td>
              </tr>
              <tr>
                <td></td>
                <td>
                </td>
                <td style="text-align: end; width: 31%;">
                  <span>- </span>{{ user.user_name }}
                </td>
              </tr>
            </tbody>
          </table>
          <div class="foot">
            <div class="sinh-2">
              <tr>
                <p style="text-align: center;">
                  Website: Lskycambo.com <br>
                  <!-- Tel: 016 587 062 -->
                </p>
              </tr>
            </div>
            <p style="font-weight: bold;">សូមអរគុណ</p>
          </div>

        </div>
        <div class="modal-footer">
          <a @click="printDivContent()" class="btn-purchase btn-light text-capitalize border-0"
            data-mdb-ripple-color="dark"><i class="fas fa-print text-primary"></i> {{ i18ntext.lngText('print') }}</a>
        </div>
      </div>
    </div>
  </div>
    <!-- end -->

    <Footer />
    <UserInfo />
</template>

<script>

import Header from '../Header.vue'
import axios from "axios";
import Logo from "../logo.vue"
import moment from "moment";
import pagination from "laravel-vue-pagination";
import print from "vue3-print-nb";
import Footer from "../footer.vue";
import Auth from '../../auth/Auth';
import i18n from "../../i18n/i18n";
import UserInfo from "../UserInfo.vue";
export default {
    name: "prescriptions",
    components: { Header, pagination, Logo, Footer, UserInfo },
    directives: { print },
    data() {
        return {
            i18ntext: i18n,
            labo: 20,
            pre: "",
            fullname: "",
            message: '',
            Address: "",
            getpres: [],
            company: [],
            selectProduct: [],
            total: 0,
            form1: {
                id: "",
                user_name: "",
                document_no: "",
                document_type: "",
                closeshift_id: "",
                description: "",
                total_amount_usd: "",
                total_amount: "",
                change_amount: "",
                paymeny_method: "",
                change_amount_usd: "",
                type: "",
                total_receipts: "",
                total_receipt_usd: "",
                discount: "",
                curency_code: "",
                exchane_rate: "",
                statue: "",
                created_by: "",
                updated_by: "",
                
            },
            search: {
                pateinid: "",
                lstname: "",
                firstname: "",
                type: "",
                phone1: "",
                address: "",
                village: "",
                commune: "",
                district: "",
                pro_city: "",
                visit_date: "",
                appointment_date: "",
                remark: "",
            },
            pre_search: {
                name: '',
                startDate: '',
                endDate: '',
                type: ''
            },

            user: {},



            print: [],
            dateformart: '',
            number_page : 1,
            dateformart1 : ''
        }
    },
    mounted() {
        if(this.$route.query.page != 1){
            this.number_page = this.$route.query.page
            axios.post("/api/v1/prescription/getAll?page=" + this.number_page,this.pre_search)
                .then((response) => {
                    this.getpres = response.data.data;
                    this.print = response.data.print
                    this.total = this.getpres.length;
                });
        }else{
            this.getview()
        }
        let myPagenumber = this.$route.query
        if(JSON.stringify(myPagenumber) === '{}'){
            this.number = 1
        } 
        else {
            this.number = this.$route.query.page
        }
       
        this.getcompany()
        this.dateformart1 = moment(new Date()).format('DD-MM-YYYY hh:mm')
    },
    methods: {
        async copytoagain(){
            this.form1.updated_by = Auth.user.id
            await axios.post('api/v1/payment/copyToAgain',this.form1)
                        .then(res => {
                            console.log("copy to back")
                            console.log(res.data)
                            this.$router.push({name: 'MenuMedical'})
                        })
        },
       async reverseSaleProduct(){
            this.form1.updated_by = Auth.user.id
            await axios.post("api/v1/payment/reverseSaleProduct",this.form1)
                       .then(res => {
                        console.log("After click on reverse api")
                        console.log(res.data)
                        this.message = res.data.status
                        this.messagebox();
                        this.getview()
                       })
        },
        saledetail(data) {
            $('#closeshift').modal('show');
            this.form1.document_no = data.preid
            this.form1.created_at = data.created_at
            axios.post("api/v1/pos/detailsaleshif", this.form1)
                .then(res => {

                    this.selectProduct = res.data
                })
            axios.get('api/v1/saledetail/getpriceDatail/' + this.form1.document_no)
                .then(res => {
                    this.form1 = res.data.data
                    this.user = res.data.user
                })
        
        },
        getview(page = 1) {
            this.$router.push({name: 'viewall', query: {page : page}})
            axios.post("/api/v1/prescription/getAll?page=" + page,this.pre_search)
                .then((response) => {
                    this.getpres = response.data.data;
                    this.total = this.getpres.length;
                    this.print = response.data.print
                    this.number = this.$route.query.page
                });
        },
        messagebox() {
            var modal = document.getElementById("myModal");
            modal.style.display = "block";
            setTimeout(() => (modal.style.display = "none"), 2000);
        },
        createvisit(item) {
            if (item.type === 'prescription') {
                this.$router.push({ name: 'prescription', query: { preId: item.preid } })
            }
            if (item.type === 'labo') {
                this.$router.push({ name: 'Laboratory', query: { preId: item.preid } })
            }
            if (item.type === 'pos') {
                this.saledetail(item);
            }
        },
        formatdatetime(dateform) {
            try {
                return moment(dateform).format('DD-MM-YYYY');
            } catch (error) {
                return dateform;
            }
        },
        getcompany() {
            axios.get("/api/v1/getSetup/")
                .then((response) => {
                    this.company = response.data;
                    this.dateformart = moment(new Date()).format('DD-MM-YYYY');
                });
        },
        mySearch() {
            if (this.pre_search.name == "" && this.pre_search.startDate == '' && this.pre_search.endDate) {
                this.getview()
            }
            else {
                axios.post("api/v1/prescription/searchAll", this.pre_search)
                    .then((res) => {
                        this.getpres = res.data
                    })
            }
        },
        clearText(text) {
            if (text == 'name') {
                this.pre_search = {
                    name: this.pre_search.name,
                    startDate: '',
                    endDate: '',
                    type: ''
                }
            }
            else if (text == 'date') {
                this.pre_search = {
                    name: '',
                    startDate: this.pre_search.startDate,
                    endDate: this.pre_search.endDate,
                    type: ''
                }
            }
            else {
                this.pre_search = {
                    name: '',
                    startDate: '',
                    endDate: '',
                    type: this.pre_search.type
                }
            }
        },
        getDefault() {
            if (this.pre_search.name == '') {
                this.getview()
            }
        },
        deletePrescription(id) {
            axios.get('api/v1/prescription/deletePrescription/' + id)
                .then(res => {
                    this.getview()
                    this.message = "Deleted successfully."
                    this.messagebox()
                })
        },
        cannotDelete() {
            this.message = "Can't delete, This is already successfully!"
            this.messagebox()
        },
        async printDivContent() {
        var contentOfDiv = document.getElementById("paypos1").outerHTML;
        var newWin = window.open('invoice', '', 'height=auto, width=400');
        await newWin.document.write('<title>Print Content of Div element by  using Javascript</title>');
        await newWin.document.write('<link rel="stylesheet" href="css/style.css">');
        await newWin.document.write('<link rel="stylesheet" href="css/pstyle.css">');
        await newWin.document.write('<link rel="stylesheet" href="css/body_invoice.css">');
        await newWin.document.write(contentOfDiv);
        newWin.document.close();
        await newWin.print();
        newWin.window.close();
      },

    }
};
</script>