<template>
  <div class="wrapper" style="overflow: hidden">
    <div class="container-fuild">
      <div id="headTitle">
        <Logo />
        <h1 id="title" _msttexthash="48503" _msthash="2">{{ i18ntext.lngText('begin-stock') }}</h1>
      </div>
      <Header />
      <ol id="topicPath">
        <li style="margin-left: 335px">
          <router-link to="menustock"><a href="dashbaord">
              <font style="vertical-align: inherit">
                <font style="vertical-align: inherit">{{ i18ntext.lngText('begin-stock') }}</font>
              </font>
            </a>
          </router-link>
        </li>
      </ol>
    </div>
    <div class="search-box">
      <div id="purchase">
        <!--#contents -->
        <div class="search-box">
          <div class="search-box-title" id="Bars">
            <div id="bar" style="width: 90%">
              <a class="btn-radius bt-pn btn btn-sm" href="#" data-bs-toggle="modal" data-bs-target="#deleteconfirm"
                id="bar-1" style="float: left; color: #f8f5b4; margin-top: -2px">
                <i class="fas fa-plus" style="padding-right: 5px; margin-top: -2px"> </i>
                {{ i18ntext.lngText('add_new') }}
              </a>
              <router-link to="/beginningstock"><a class="btn-radius btn btn-sm" href="#" id="bar-1">
                  <i class="fas fa-eye" style="padding-right: 5px"> </i>
                  {{ i18ntext.lngText('view') }}
                </a>
              </router-link>
            </div>
            <div id="right" style="width: 10%">
              <a class="btn-radius bt-pn btn btn-sm" data-bs-toggle="dropdown" aria-expanded="false"
                style="float: right; color: #f8f5b4; margin-top: -2px; margin-right: 11px">
                <i class="fas fa-plus" style="padding-right: 5px"> </i>
                {{ i18ntext.lngText('menu') }}
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#staticboomId" tabindex="10028"
                    href="#"><i class="fa fa-print" aria-hidden="true"></i> Print</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="search-box-content search-box02">
            <table width="100%" border="0" cellpadding="0" cellspacing="0" class="tbl_search">
              <tbody>
                <tr>
                  <th width="10%">{{ i18ntext.lngText('doc_num') }}</th>
                  <td width="50%">
                    <input autocomplete="off" :disabled="true" class="string_zen_kana clear_text text input_text" maxlength="50" size="50"
                      type="text" v-model="form.document_no" />
                  </td>
                </tr>
                <tr>
                  <th width="10%">{{ i18ntext.lngText('doc_type') }}</th>
                  <td width="50%">
                    <input autocomplete="off" :disabled="is_open" class="string_zen_kana clear_text text input_text" maxlength="50" size="50"
                      type="text" v-model="form.document_type" @change="UpdateBegin(form)" />
                  </td>
                </tr>
                <tr>
                  <th width="10%">{{ i18ntext.lngText('description') }}</th>
                  <td width="50%">
                    <input autocomplete="off" :disabled="is_open" class="string_zen clear_text text input_text" size="50" type="text"
                      v-model="form.description" @change="UpdateBegin(form)" />
                  </td>
                </tr>
                <tr>
                  <th width="10%">{{ i18ntext.lngText('total_amount') }}</th>
                  <td width="50%">
                    <input autocomplete="off" :disabled="true" class="string_zen clear_text text input_text" size="50" type="text"
                      :value="Number(form.total_amount).toLocaleString()" @change="UpdateBegin(form)"
                      style="width: 368px" />
                  </td>
                </tr>
                <tr>
                  <th width="10%">{{ i18ntext.lngText('payment_method') }}</th>
                  <td width="50%">
                    <button :disabled="is_open"
                      class="dropdown-toggle string_zen clear_text text select-menu select-item popup-drop" type="button"
                      id="dropdownMenuButton2 " data-bs-toggle="dropdown" aria-expanded="false" size="50"
                      style="margin-left: 0px !important; width: 368px !important; height: 25px;">
                      {{ form.paymentmethod_code }} <i style="float: right;color: #777;" class="fa fa-chevron-down"></i>
                    </button>
                    <div class="dropdown-menu each-drop-menu" aria-labelledby="dropdownMenuButton2">
                      <ul style="list-style: none" class="scrollable-menu">
                        <li v-for="sl in sel" @click="getpayment(sl, 'payment')" :value="sl.paymentmethod">
                          <div class="menu-item">
                            <p>{{ sl.paymentmethod }}</p>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th width="10%">{{ i18ntext.lngText('curency_code') }}</th>
                  <td width="50%">
                    <div>
                      <button  :disabled="true"
                      class="dropdown-toggle string_zen clear_text text select-menu select-item popup-drop" type="button"
                      id="dropdownMenuButton1 " data-bs-toggle="dropdown" aria-expanded="false" size="50"
                      style="margin-left: 0px !important; width: 368px !important; height: 25px;">
                      {{ form.curency_code }} <i style="float: right;color: #777;" class="fa fa-chevron-down"></i>
                      </button>
                      <div class="dropdown-menu each-drop-menu" aria-labelledby="dropdownMenuButton1">
                        <p>
                          <input autocomplete="off" v-model="txtsearch" class="string_zen clear_text text search-pro-field" size="50"
                            type="text" />
                        </p>
                        <ul style="list-style: none" class="scrollable-menu">
                          <li v-for="curren in currency_lists" @click="getproduct(curren, form, 'currency')">
                            <div class="menu-item">
                              <p>{{ curren.curency_no }}</p>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="search-box-footer" :disabled="is_open">
            <div :disabled="is_open" class="button type2" id="uniform-undefined" data-bs-toggle="modal"
              data-bs-target="#comfirmcreate">
              <span v-if="this.btn_save == 'Back'"><input autocomplete="off" type="button" class="type2" tabindex="10025" value="display"
                  style="opacity: 0; width: 54px" /><i class="fa fa-save"></i> {{ i18ntext.lngText('back') }}</span>
                  <span v-if="this.btn_save == 'Save'"><input autocomplete="off" type="button" class="type2" tabindex="10025" value="display"
                  style="opacity: 0; width: 54px" /><i class="fa fa-save"></i> {{ i18ntext.lngText('save') }}</span>
            </div>
            <div v-if="form.statue != 'close'" :disabled="is_open" class="button type2" id="uniform-undefined" data-bs-toggle="modal" data-bs-target="#submit" >
              <span>{{i18ntext.lngText('submit_stock1')}} <i class="fa fa-arrow-right"></i><input autocomplete="off" type="button" value="clear" class="type2"
                  style="opacity: 0; width: 63px" tabindex="10026" />
              </span>
            </div>

            <div v-if="role === 'Admin' && form.statue === 'close'"  @click="getMessage()" class="button type2" >
              <span>{{ i18ntext.lngText('update') }}<input autocomplete="off" type="button"  class="type2"
                  style="opacity: 0; width: 63px"/>
              </span>
            </div>
        

            <span class="marker"></span>
          </div>
        </div>

        <!-- =====Box====== -->
        <div class="box mt-4">
          <div class="box-content" id="excell">
            <table width="100%" border="0" cellpadding="0" cellspacing="0" class="tbl_list">
              <thead>
                <tr class="excellcolor-trhead">
                  <th colspan="10" class="excellcolor-trhead" style="text-align:left !important">
                    <div :disabled="is_open" class="button type2" id="uniform-undefined" style="float: left"
                      @click="createGenerate()">
                      <span style="width: 150px">
                        <input autocomplete="off" type="button" class="type2" tabindex="10025" value="display" style="opacity: 0; width: 54px" /><i
                          class="fas fa-plus"></i> {{ i18ntext.lngText('gen_code') }}
                      </span>
                    </div>
                    <input style="margin-left:20px" @mouseout="getGenerateList()" v-model="search1.name" @input="searchList()" type="text" class="clear_text code text" placeholder="product no, name"/>
                  </th>
                </tr>
                <tr class="excellcolor-trhead">
                  <th class="excellcolor-trhead">{{ i18ntext.lngText('no') }}</th>
                  <th class="excellcolor-trhead">{{ i18ntext.lngText('product_no') }}</th>
                  <th class="excellcolor-trhead">{{ i18ntext.lngText('item-name') }}</th>
                  <th class="excellcolor-trhead">{{ i18ntext.lngText('expire_date') }}</th>
                  <th class="excellcolor-trhead">{{ i18ntext.lngText('unit_type') }}</th>
                  <th class="excellcolor-trhead" style="width: 8em">{{ i18ntext.lngText('buy_price') }}</th>
                  <th class="excellcolor-trhead" style="width: 8em">{{ i18ntext.lngText('qty') }}</th>
                  <th class="excellcolor-trhead" style="width: 8em">{{ i18ntext.lngText('amount') }}</th>
                  <th class="excellcolor-trhead" style="width: 8em">{{ i18ntext.lngText('currency') }}</th>
                  <th class="excellcolor-trhead"></th>
                </tr>
              </thead>
              <!--v-if-->
              <tbody>
                <tr v-for="(item, index) in listBegin" :key="index">
                  <th>{{index + 1}}</th>
                  <th style="padding: 10px">
                    <div class="dropdown">
                      <button :disabled="is_open" @onmouseout="prooductboom()"
                        class="dropdown-toggle string_zen clear_text text" type="button" id="dropdownMenuButton1"
                        data-bs-toggle="dropdown" aria-expanded="false" size="50" style="
                          width: 100% !important;
                          padding-left: 11px;
                          padding-right: 25px;
                          border: none;
                          height: 25px;
                          background-color: white;
                        ">
                        {{ item.product_no }}
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1" style="
                          max-height: 400px;
                          width: 250px;
                          scroll-behavior: smooth;
                          padding: 5px;
                          margin: 5px;
                          box-shadow: 1px 1px 5px #141417;
                        ">
                        <p>
                          <input autocomplete="off" v-model="search" @input="mySearch()" class="string_zen clear_text text" size="50"
                            type="text" style="
                              width: 98% !important;
                              border: 1px teal solid;
                              border-radius: 1px;
                              height: 30px;
                            " />
                        </p>
                        <ul style="list-style: none" class="scrollable-menu">
                          <li v-for="boompro in boompros" @click="getproduct(boompro, item, 'product')">
                            <div class="menu-item">
                              <p style="color: blue">{{ boompro.product_no }}</p>
                              <p>{{ boompro.description }}</p>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </th>
                  <th style="padding: 10px">
                    <input autocomplete="off" :disabled="is_open" v-model="item.description" class="clear_text code text" id="jusinsya_code"
                      @change="UpdateList(item)" name="jusinsya_code" type="text" tabindex="10008" style="width: 100%" />
                  </th>
                  <th style="padding: 10px">
                    <input autocomplete="off" :disabled="is_open" v-model="item.exprit_date" class="clear_text code text"
                      @change="ExpireUpdateList(item)" id="jusinsya_code" name="jusinsya_code" type="date"
                      tabindex="10008" style="width: 100%" />
                  </th>
                  <th style="padding: 10px">
                    <div class="dropdown">
                      <button :disabled="is_open" @click="getunit(item.product_no)" @onmouseout="prooductboom(item)"
                        class="dropdown-toggle string_zen clear_text text select-menu-button" type="button"
                        id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" size="50"
                        style="height: 25px">
                        {{ item.unit_of_measure_code }}
                      </button>
                      <div class="dropdown-menu each-drop-menu" aria-labelledby="dropdownMenuButton1">
                        <p>
                          <input autocomplete="off" v-model="txtsearch" @input="searchproduct(txtsearch)"
                            class="string_zen clear_text text search-pro-field" size="50" type="text" />
                        </p>
                        <ul style="list-style: none" class="scrollable-menu">
                          <li v-for="code in variant_codes" @click="getproduct(code, item, 'code')">
                            <div class="menu-item">
                              <p>{{ code.variant_unit_of_measure_code }}</p>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </th>
                  <th>
                    <input autocomplete="off" :disabled="is_open" v-model="item.unit_price" class="clear_text code text"
                      @change="UpdateList(item)" type="number" style="width: 100%" @click="myCurr(item)"/>
                  </th>

                  <th>
                    <input autocomplete="off" :disabled="is_open" v-model="item.inventory" class="clear_text code text"
                      @change="UpdateList(item)" type="number" style="width: 100%" />
                  </th>
                  <th>
                    <input autocomplete="off" :disabled="is_open" :value="Number(item.total_amount).toLocaleString()"
                      class="clear_text code text" type="text" style="width: 100%" />
                  </th>
                  <th>
                    <input autocomplete="off" :disabled="is_open" v-model="item.curency_code" class="clear_text code text" type="text"
                      style="width: 100%" />
                  </th>
                  <th class="text-center">
                    <div :disabled="is_open" class="button type2" id="uniform-undefined" @click="DeleteList(item)">
                      <span><i class="fa fa-trash" aria-hidden="true"></i> {{ i18ntext.lngText('delete') }}
                        <input autocomplete="off" type="button" class="type2" tabindex="10026" value="clear"
                          style="opacity: 0; width: 63px" /></span>
                    </div>
                  </th>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="box-footer-pagination">
            <div class="pagination" style="padding: 10px; width: 100%">
              <div style="
                  width: 30%;
                  float: right;
                  background: none;
                  color: rgb(248, 245, 180);
                ">
                <!-- /.card-header -->
                <div id="inspection_call_statusdisplay" class="clearfix mt_0">
                  <div class="col main status_tested" style="border: none; width: 100%">
                    <table cellpadding="0" cellspacing="0" border="0">
                      <thead>
                        <tr></tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th>
                            <font style="vertical-align: inherit; color: rgb(248, 245, 180)">{{ i18ntext.lngText('product') }}</font>
                          </th>
                          <td>
                            <input autocomplete="off" disabled="" v-model="number_of_product" style="
                                vertical-align: inherit;
                                background: none;
                                border: none;
                              " />
                          </td>
                        </tr>
                        <tr>
                          <th>
                            <font style="vertical-align: inherit; color: rgb(248, 245, 180)">{{ i18ntext.lngText('item') }}</font>
                          </th>
                          <td>
                            <input autocomplete="off" disabled="" v-model="number_of_item" style="
                                vertical-align: inherit;
                                background: none;
                                border: none;
                              " />
                          </td>
                        </tr>
                        <tr>
                          <th>
                            <font style="vertical-align: inherit; color: rgb(248, 245, 180)">{{ i18ntext.lngText('total') }} </font>
                          </th>
                          <td>
                            {{ Number(total_price).toLocaleString() }} ៛
                          </td>
                        </tr>
                        <tr>
                          <th>
                            <font style="vertical-align: inherit; color: rgb(248, 245, 180)">{{ i18ntext.lngText('total') }} </font>
                          </th>
                          <td>
                            {{ Number((total_price / ExchangeRate).toFixed(2)).toLocaleString() }} $
                          </td>
                        </tr>
                        <tr data-bs-toggle="modal" data-bs-target="#calculatorDiscount">
                          <th>
                            <font style="vertical-align: inherit; color: rgb(248, 245, 180)">{{ i18ntext.lngText('discount') }}</font>
                          </th>
                          <td>
                            {{ Number(form.discount).toLocaleString() }} %
                          </td>
                        </tr>
                        <tr>
                          <th>
                            <font style="vertical-align: inherit; color: rgb(248, 245, 180)">{{i18ntext.lngText('after_discount')}}</font>
                          </th>
                          <td>
                            {{ Number(form.total_amount).toLocaleString() }} ៛
                          </td>
                        </tr>
                        <tr>
                          <th>
                            <font style="vertical-align: inherit; color: rgb(248, 245, 180)">{{i18ntext.lngText('after_discount')}}</font>
                          </th>
                          <td>
                            {{ Number((parseFloat(form.total_amount) / ExchangeRate).toFixed(2)).toLocaleString() }} $
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade ui-modal" id="deleteconfirm" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="clearconfirm" aria-hidden="true">
    <div class="modal-dialog smallpopup" id="nonbackgroundboom">
      <div class="modal-content ui-dialog">
        <div class="ui-widget-header">
          <h5 class="modal-title" id="exampleModalLabel">
            <span class="ui-dialog-title" id="ui-dialog-title-modal-edit-dialog">{{ i18ntext.lngText('comfirm_message') }}</span>
          </h5>
          <span class="ui-icon ui-icon-closethick btn-cancel" data-bs-dismiss="modal" aria-label="Close"></span>
        </div>
        <div class="ui-dialog-content" style="background-color: #fff">
          <div class="modal-body">{{ i18ntext.lngText('create_message') }}</div>
          <div class="modal-footer">
            <div class="button type2" id="uniform-undefined" data-bs-dismiss="modal" @click="cancel()">
              <span>{{ i18ntext.lngText('no1') }}<input autocomplete="off" type="button" class="type2" tabindex="10008" value="No" style="width: 89px; opacity: 0" />
              </span>
            </div>
            <div class="button type2" data-bs-dismiss="modal" @click="CreateNew()">
              <span>{{ i18ntext.lngText('yes') }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <Footer />
  <div id="myModal" class="lskymodal">
    <div class="lskymodal-content">
      <p><i class="fa fa-check" aria-hidden="true"></i> {{ message }}</p>
    </div>
  </div>

  <div class="modal fade ui-modal" id="comfirmcreate" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="clearconfirmlabel" aria-hidden="true">
    <div class="modal-dialog smallpopup" id="nonbackgroundboom">
      <div class="modal-content ui-dialog">
        <div class="ui-widget-header">
          <h5 class="modal-title" id="exampleModalLabel">
            <span class="ui-dialog-title" id="ui-dialog-title-modal-edit-dialog">{{ i18ntext.lngText('comfirm_message') }}</span>
          </h5>
          <span class="ui-icon ui-icon-closethick btn-cancel" data-bs-dismiss="modal" aria-label="Close"></span>
        </div>
        <div class="ui-dialog-content" style="background-color: #fff">
          <div class="modal-body">{{ i18ntext.lngText('continue_message') }}</div>
          <div class="modal-footer">
            <div class="button type2" id="uniform-undefined" data-bs-dismiss="modal">
              <span>{{ i18ntext.lngText('no1') }}<input autocomplete="off" type="button" class="type2" tabindex="10008" value="No" style="width: 89px; opacity: 0" />
              </span>
            </div>
            <div class="button type2" data-bs-dismiss="modal" @click="changeStatus()">
              <span>{{ i18ntext.lngText('yes') }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade ui-modal" id="submit" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="clearconfirmlabel" aria-hidden="true">
    <div class="modal-dialog smallpopup" id="nonbackgroundboom">
      <div class="modal-content ui-dialog">
        <div class="ui-widget-header">
          <h5 class="modal-title" id="exampleModalLabel">
            <span class="ui-dialog-title" id="ui-dialog-title-modal-edit-dialog">{{ i18ntext.lngText('comfirm_message') }}</span>
          </h5>
          <span class="ui-icon ui-icon-closethick btn-cancel" data-bs-dismiss="modal" aria-label="Close"></span>
        </div>
        <div class="ui-dialog-content" style="background-color: #fff">
          <div class="modal-body">{{ i18ntext.lngText('submit_stock') }}</div>
          <div class="modal-footer">
            <div class="button type2" id="uniform-undefined" data-bs-dismiss="modal">
              <span>
                {{ i18ntext.lngText('no1') }}
              </span>
            </div>
            <div class="button type2" data-bs-dismiss="modal" @click="submitStock()">
              <span>{{ i18ntext.lngText('yes') }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- print  -->
<div
    class="modal fade ui-modal"
    id="staticboomId"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="staticboomId"
    aria-hidden="true"
  >
    <div class="modal-dialog" style="max-width: 85% !important;">
      <div class="modal-content ui-dialog">
        <div class="ui-widget-header">
          <h5 class="modal-title in-header" id="staticBackdropLabel">
            <i class="fa fa-print" aria-hidden="true"></i> {{ i18ntext.lngText('print') }}
          </h5>
          <span
            class="ui-icon ui-icon-closethick"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></span>
        </div>
        <div class="ui-dialog-content" >
          <div class="card">
            <div class="card-body print-size">
              <div class="mt-3 " id="purchaseorder" style="height: auto !important;">
                <div style="padding: 0 50px 0 50px">
                  <div class="col-md-12">
                    <div class="text-center">
                      <h3 class="title-purchase">{{ i18ntext.lngText('be-rep') }}</h3>
                    </div>
                  </div>
                  <div class="col-container">
                    <div class="col1" style="width: 55%">
                      <p class="p-bg font-size p-pad">{{ i18ntext.lngText('com-name') }}</p>
                      <p class="p-mg info-pad">
                        <span id="bold">{{ i18ntext.lngText('name') }} :</span>
                        <span id="fon">{{ company.company_name }}</span>
                      </p>
                      <p class="p-mg info-pad">
                        <span id="bold">{{ i18ntext.lngText('phone') }} :</span>
                        <span id="fon">{{ company.company_Phone }}</span>
                      </p>
                      <p class="p-mg info-pad">
                        <span id="bold">{{ i18ntext.lngText('email') }} :</span>
                        <span id="fon">{{ company.company_Email }}</span>
                      </p>
                      <p class="p-mg info-pad">
                        <span id="bold">{{ i18ntext.lngText('address') }} :</span>
                        <span id="fon">{{ company.company_Address }}</span>
                      </p>
                    </div>
                    <div class="col2">
                      <p class="text-center p-bg font-size p-pad">{{ i18ntext.lngText('date') }}</p>
                      <p class="text-center p-mg" id="fon">{{ dateformart }}</p>
                      <p class="text-center p-bg font-size p-pad">{{ i18ntext.lngText('be-sub') }}</p>
                      <p class="text-center p-mg" id="fon">
                         {{ listBegin.length }} 
                      </p>
                    </div>
                  </div>
                  <div class="my-2 justify-content-center">
                    <table id="pr-tb">
                      <thead>
                        <tr class="p-bg">
                          <th class="text-center">{{ i18ntext.lngText('no') }}</th>
                          <th class="text-center">{{ i18ntext.lngText('be-doc') }}</th>
                          <th class="text-center">{{ i18ntext.lngText('description') }}</th>
                          <th class="text-center">{{ i18ntext.lngText('expire') }}</th>
                          <th class="text-center">{{ i18ntext.lngText('unittype') }}</th>
                          <th class="text-center">{{ i18ntext.lngText('buy_price') }}</th>
                          <th class="text-center">{{ i18ntext.lngText('qty') }}</th>
                          <th class="text-center">{{ i18ntext.lngText('be-total') }}</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr v-for="(item, index) in listBegin" :key="index">
                          <td>{{ index + 1 }}</td>
                          <td>{{ item.document_no }}</td>
                          <td>{{ item.description }}</td>
                          <td v-if="item.exprit_date != '' && item.exprit_date != null">{{ formatdatetime(item.exprit_date) }}</td>
                          <td v-else></td>
                          <td>{{ item.unit_of_measure_code }}</td>
                          <td>{{ Number(item.unit_price).toLocaleString() }}</td>
                          <td>{{ Number(item.inventory).toLocaleString() }}</td>
                          <td>
                            <div class="d-flex justify-content-end">
                            {{ Number(item.total_amount).toLocaleString() }}
                            <span v-if="item.curency_code == 'USD'">$</span>
                            <span v-else>៛</span>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td class="none-border" colspan="6">{{i18ntext.lngText('remark')}}/{{i18ntext.lngText('instruction')}}</td>
                          <td>{{i18ntext.lngText('product')}}</td><td>{{ Number(number_of_product).toLocaleString() }}</td>
                        </tr>
                        <tr>
                          <td class="none-border" colspan="6"></td>
                          <td>{{i18ntext.lngText('item')}}</td><td>{{ Number(number_of_item).toLocaleString() }}</td>
                        </tr>
                        <tr>
                          <td class="none-border" colspan="6"></td>
                          <td>{{i18ntext.lngText('total')}}</td><td>{{Number(total_price).toLocaleString()}} ៛</td>
                        </tr>
                        <tr>
                          <td class="none-border" colspan="6"></td>
                          <td>{{i18ntext.lngText('total')}}</td><td>{{Number((total_price / ExchangeRate).toFixed(2)).toLocaleString()}} $</td>
                        </tr>

                        <tr>
                          <td class="none-border" colspan="6"></td>
                          <td>{{i18ntext.lngText('discount')}}</td><td>{{ Number(form.discount).toLocaleString() }} %</td>
                        </tr>
                        <tr>
                          <td class="none-border" colspan="6"></td>
                          <td>{{i18ntext.lngText('after_discount')}}</td><td>{{Number(form.total_amount).toLocaleString()}} ៛</td>
                        </tr>
                        <tr>
                          <td class="none-border" colspan="6"></td>
                          <td>{{i18ntext.lngText('after_discount')}}</td><td>{{Number((form.total_amount / ExchangeRate).toFixed(2)).toLocaleString()}} $</td>
                        </tr>

                      </tbody>
                    </table>
                  </div>

                  <hr />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <a
            v-print="'#purchaseorder'"
            class="btn-purchase btn-light text-capitalize border-0"
            data-mdb-ripple-color="dark"
            ><i class="fas fa-print text-primary"></i> {{ i18ntext.lngText('print') }}</a
          >
        </div>
      </div>
    </div>
  </div>
  

  <!-- Reverse modal -->

  <div class="modal fade ui-modal" id="reverseModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="clearconfirmlabel" aria-hidden="true">
    <div class="modal-dialog smallpopup" id="nonbackgroundboom">
      <div class="modal-content ui-dialog">
        <div class="ui-widget-header">
          <h5 class="modal-title" id="exampleModalLabel">
            <span class="ui-dialog-title" id="ui-dialog-title-modal-edit-dialog">{{ i18ntext.lngText('comfirm_message') }}</span>
          </h5>
          <span class="ui-icon ui-icon-closethick btn-cancel" data-bs-dismiss="modal" aria-label="Close"></span>
        </div>
        <div class="ui-dialog-content" style="background-color: #fff">
          <div class="modal-body">{{ reverse_message }}</div>
          <div class="modal-footer">
            <div class="button type2" id="uniform-undefined" data-bs-dismiss="modal">
              <span>
                {{ i18ntext.lngText('no1') }}
              </span>
            </div>
            <div class="button type2" data-bs-dismiss="modal" @click="reverseUpdate()">
              <span>{{ i18ntext.lngText('yes') }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- end -->


  <div class="modal fade" id="calculator" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content" style="max-width: max-content; margin: auto">
        <div class="ui-widget-header" style="
            display: flex;
            justify-content: end;
            border-top-left-radius: inherit;
            border-top-right-radius: inherit;
          ">
          <input autocomplete="off" type="text" style="outline: none;text-align: left;" v-model="Discount"
            class="calculator-screen z-depth-1 ui-widget-header" />
          <span class="ui-icon ui-icon-closethick" data-bs-dismiss="modal" aria-label="Close"
            @click="discountCel()"></span>
        </div>
        <div style="width: 92%;margin: auto;align-items: center;padding-top: 20px;">
          <select style="outline: none;border: 0.1px solid #aaa;border-radius: 3px;height: 50px;width: 125px;float: left;" @change="Exchange()" v-model="val">
            <option v-for="(x, z) in Ex" :key="z" :value="x.exchange_rate" :id="x.exchange_rate">
              {{ x.curency_no }}
            </option>
          </select>
            <input autocomplete="off" style="width:100%;margin-right: 0;height: 50px;width: 250px;float: right;" disabled v-model="Result"
              class="string_zen clear_text text input_text" size="50" type="text">
        </div>
        <div class="calculator card" style="margin-bottom: 0 !important;width: auto;border: none;">
          <div class="calculator-keys">
            <button type="button" value="6" class="btn btn-light waves-effect" @click="Calculator('6')">
              6
            </button>
            <button type="button" value="7" class="btn btn-light waves-effect" @click="Calculator('7')">
              7
            </button>
            <button type="button" value="8" class="btn btn-light waves-effect" @click="Calculator('8')">
              8
            </button>
            <button type="button" value="9" class="btn btn-light waves-effect" @click="Calculator('9')">
              9
            </button>
            <button type="button" value="4" class="btn btn-light waves-effect" @click="Calculator('2')">
              2
            </button>
            <button type="button" value="5" class="btn btn-light waves-effect" @click="Calculator('3')">
              3
            </button>
            <button type="button" value="6" class="btn btn-light waves-effect" @click="Calculator('4')">
              4
            </button>
            <button type="button" value="1" class="btn btn-light waves-effect" @click="Calculator('5')">
              5
            </button>
            <button @click="clearOne()" type="button" value="2" class="btn btn-light waves-effect">
              <i class="fa fa-times" aria-hidden="true"></i>
            </button>
            <button type="button" class="decimal function btn btn-secondary" @click="Calculator('.')" value=".">
              .
            </button>
            <button type="button" value="0" class="btn btn-light waves-effect" @click="Calculator('0')">
              0
            </button>
            <button type="button" value="0" class="btn btn-light waves-effect" @click="Calculator('1')">
              1
            </button>
            <button style="border-color:rgb(18, 121, 147);" @click="none()" type="button"
              class="all-clear function btn btn-danger btn-sm" value="all-clear">
              Clear
            </button>
            <button style="background: linear-gradient(#127993, #6db7bf);" type="button"
              class="all-clear function btn btn-danger btn-sm" value="all-clear" data-bs-dismiss="modal"
              aria-label="Close" @click="discountBtn()">
              Enter
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Discount  -->
  <div class="modal fade" id="calculatorDiscount" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content" style="max-width: max-content; margin: auto">
        <div class="ui-widget-header" style="
            display: flex;
            justify-content: end;
            border-top-left-radius: inherit;
            border-top-right-radius: inherit;
          ">
          <input autocomplete="off" type="text" style="outline: none;text-align: left;" v-model="discount_value"
            class="calculator-screen z-depth-1 ui-widget-header" />
          <span class="ui-icon ui-icon-closethick" data-bs-dismiss="modal" aria-label="Close"
            @click="discountCel()"></span>
        </div>
        <div style="width: 92%;margin: auto;align-items: center;padding-top: 20px;">
          
        </div>
        <div class="calculator card" style="margin-bottom: 0 !important;width: auto;border: none;">
          <div class="calculator-keys">
            <button type="button" value="6" class="btn btn-light waves-effect" @click="Calculator1('6')">
              6
            </button>
            <button type="button" value="7" class="btn btn-light waves-effect" @click="Calculator1('7')">
              7
            </button>
            <button type="button" value="8" class="btn btn-light waves-effect" @click="Calculator1('8')">
              8
            </button>
            <button type="button" value="9" class="btn btn-light waves-effect" @click="Calculator1('9')">
              9
            </button>
            <button type="button" value="4" class="btn btn-light waves-effect" @click="Calculator1('2')">
              2
            </button>
            <button type="button" value="5" class="btn btn-light waves-effect" @click="Calculator1('3')">
              3
            </button>
            <button type="button" value="6" class="btn btn-light waves-effect" @click="Calculator1('4')">
              4
            </button>
            <button type="button" value="1" class="btn btn-light waves-effect" @click="Calculator1('5')">
              5
            </button>
            <button @click="clearOne1()" type="button" value="2" class="btn btn-light waves-effect">
              <i class="fa fa-times" aria-hidden="true"></i>
            </button>
            <button type="button" class="decimal function btn btn-secondary" @click="Calculator1('.')" value=".">
              .
            </button>
            <button type="button" value="0" class="btn btn-light waves-effect" @click="Calculator1('0')">
              0
            </button>
            <button type="button" value="0" class="btn btn-light waves-effect" @click="Calculator1('1')">
              1
            </button>
            <button style="border-color:rgb(18, 121, 147);" @click="none1()" type="button"
              class="all-clear function btn btn-danger btn-sm" value="all-clear">
              Clear
            </button>
            <button style="background: linear-gradient(#127993, #6db7bf);" type="button"
              class="all-clear function btn btn-danger btn-sm" value="all-clear" data-bs-dismiss="modal"
              aria-label="Close" @click="getValue()">
              OK
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- end modal -->






<UserInfo />
</template>
<script>
import readXlsxFile from "read-excel-file";
import * as XLSX from "xlsx/xlsx.mjs";
import Auth from "../../auth/Auth.js";
import Logo from "../logo.vue";
import moment from "moment";
import Footer from "../footer.vue";
import axios from "axios";
import Header from "../Header.vue";
import i18n from "../../i18n/i18n";
import UserInfo from "../UserInfo.vue";
import print from "vue3-print-nb";
export default {
  components: {
    Header,
    Footer,
    Logo,
    UserInfo
  },
  directives: {
    print,
  },
  data() {
    return {
      i18ntext: i18n,
      number_of_product: 0,
      number_of_item: 0,
      company: [],
      Begin_id: "",
      units: [],
      searchBoom: [],
      boompros: [],
      message: "",
      variant_codes: [],
      search: "",
      sel:[],
      form: {
        id: "",
        document_no: "",
        document_type: "",
        description: "",
        paymentmethod_code: "",
        total_amount: 0,
        discount : 0,
        curency_code: "",
        inactived: "",
        statue: "",
        created_by: "",
        updated_by: "",
      },
      btnchenk: false,
      btn_save: "Save",
      form2: {
        id: "",
        document_no: "",
        document_type: "",
        product_no: "",
        description: "",
        issu_date: "",
        exprit_date: "",
        unit_of_measure_code: "",
        unit_price: "",
        inventory: "",
        total_amount: "",
        curency_code: "",
        remark: "",
        created_by: "",
        updated_by: "",
      },
      listBegin: [],
      created_by: Auth.user.id,
      currency_lists: [],
      is_open: false,
      total_price: 0,
      price_usd: 0,
      ExchangeRate: 0,
      currencyName: "",
      reverse_update : "Reverse",
      role : Auth.user.role,
      reverse_message : "",
      language : localStorage.getItem('leg'),
      if_after_reverse : false,
      Discount: 0,
      Result:0,
      Ex : [],
      cur: "",
      val:"",
      storeObject: {},
      search1:{
        document_no : '',
        name : ''
      },
      discount_value :''  
    };
  },

  async mounted() {
    if (Auth.check()) {
        if(!Auth.checkPermission(' BEGINNINGSTOCK_ALL')){
            this.$router.push('/dashboard');
        }
    }
    try {
      if (this.$route.query.id != "undefined") {
        this.form.document_no = this.$route.query.id;
        this.Begin_id = this.form.document_no;
      }
    } catch (error) {
      console.log(error);
    }
    this.getSearchBoom();
    this.getBegin();

    this.getcompany();
    this.prooductboom();
    this.getEx()
   
    this.getOneExchangeRate();
    this.getGenerateList();
    this.selectpayment()

    console.log("Role")
    console.log(this.role)
    

  },
  methods: {
    getValue(){
      this.form.discount = this.discount_value
      this.UpdateBegin(this.form)
    },
    searchList(){
      this.search1.document_no = this.form.document_no
      axios.post('api/v1/beginningstock/searchList',this.search1)
            .then(res => {
              this.listBegin = res.data

            })
    },
    getEx() {
        axios.get('api/v1/exchangerate/index')
          .then((res) => {
            this.Ex = res.data
            this.cur = this.Ex[0].curency_no
            this.val = this.Ex[0].exchange_rate
            console.log(this.cur)
            console.log(this.val)
          })
      },
    discountCel() {
        this.Discount = 0
      },
      Exchange() {
        console.log(this.val)
        this.Result = this.Discount * this.val
      },
      myCurr(item) {
        $('#calculator').modal('show')
        this.Result = 0
        this.storeObject = item
      },
      Calculator(value) {
        if (this.Discount == 0) {
          this.Discount = ""
        }
        this.Discount += value
        this.Result = this.Discount * this.val
      },
      Calculator1(value) {
        if (this.discount_value == 0) {
          this.discount_value = ""
        }
        this.discount_value += value
        // this.Result = this.Discount * this.val
      },
      clearOne() {
        this.Discount = this.Discount.slice(0, -1)
        if (this.Discount == "") {
          this.Discount = 0
        }
      },
      clearOne1() {
        this.discount_value = this.discount_value.slice(0, -1)
        if (this.discount_value == "") {
          this.discount_value = 0
        }
      },

      none() {
        this.Discount = 0
        this.Result = 0
      },
      none1() {
        this.discount_value = 0
      },
      discountBtn(){
        this.storeObject.unit_price = this.Result
        this.UpdateList(this.storeObject)
      },

    getMessage(){
        if(this.reverse_update === 'Reverse'){
            if(this.language === 'English'){
              this.reverse_message = "Do you want to reverse?"
            }else{
              this.reverse_message = "តើអ្នកចង់ត្រឡប់ទៅកែវាដែរឬទេ?"
            }
        }
        else{
          if(this.language === 'English'){
              this.reverse_message = "Do you want to update?"
            }else{
              this.reverse_message = "តើអ្នកចង់កែប្រែដែរឬទេ?"
            }
        }
        $('#reverseModal').modal('show')
    },
    reverseUpdate(){
      axios.post('api/v1/beginningstock/updateReverse',this.form)
            .then(res => {
              this.message = "Save successfully"
              this.messagebox()
              this.getGenerateList();
              this.getBegin();
            })
    },
    async CreateNew() {
      this.number_of_item = 0;
      await axios
        .post("/api/v1/beginingstock/create?created_by=" + Auth.user.id)
        .then((res) => {
          this.form = res.data[0];
          this.$router.push({
            name: "createbeginnigstock",
            query: { id: this.form.document_no },
          });
          this.getGenerateList();
          this.getBegin();
        });
    },
    selectpayment() {
            axios.get("api/v1/paymentvoucher/getPaymenmethod")
                .then(res => {
                    this.sel = res.data
                })
        },
    getpayment(label,text){
      if(text == 'payment'){
          this.form.paymentmethod_code = label.paymentmethod
          this.UpdateBegin(this.form);
      }
    },
    async getBegin() {
      if (this.$route.query.id != "undefined") {
        this.form.created_by = Auth.user.user_code;
        if (
          this.form.document_no != "undefined" &&
          this.form != null &&
          this.form != ""
        ) {
          await axios
            .get(
              "/api/v1/beginingstock/getbyno?document_no=" +
              this.form.document_no +
              "&created_by=" +
              this.form.created_by
            )
            .then((res) => {
              this.form = res.data;
              this.currencyName = this.form.curency_code;
              if (this.form.statue != "open") {
                this.is_open = true;
                this.btn_save = "Back";
                if(this.role === 'Admin'){
                  this.is_open = false;
                }else{
                  this.is_open = true;
                }
                
              } else {
                this.is_open = false;
                this.btn_save = "Save";
              }
            });
        }
      }
    },

    async UpdateBegin(form) {
      
      form.total_amount = this.total_price;
      form.updated_by = Auth.user.id;
      await axios.post("api/v1/beginingstock/update", form).then((res) => {
        this.message = "Updated Successfully";
        this.getBegin();
      });
    },

    
    ExpireUpdateList(item) {
      if (item.issu_date == null) {
        item.issu_date = moment(new Date()).format("YYYY-MM-DD");
      }

      if (item.exprit_date > item.issu_date) {
        this.UpdateList(item);
      } else {
        this.message = "Expire date must be greater than Issu date";
        this.messagebox();
      }
    },
    async prooductboom() {
      await axios.get("/api/v1/gettypeproduct").then((response) => {
        this.boompros = response.data;
      });
    },
    mySearch() {
        axios.get("api/v1/searchProductType/" + this.search).then((res) => {
          this.boompros = res.data;
        });
    
    },
    getcompany() {
      axios.get("/api/v1/getSetup").then((response) => {
        this.company = response.data;
        var date =  new Date();
        this.dateformart = moment(date).format("DD-MM-YYYY");
      });
    },
    async createGenerate() {
      if (this.btn_save != "Back") {
        await axios
          .post(
            "api/v1/beginingstock/createlist?document_no=" +
            this.form.document_no +
            "&created_by=" +
            this.form.created_by
          )
          .then((res) => {
            this.listBegin = res.data;
            
          });
      } else {
        this.message = "In processing can't change anything!";
        this.messagebox();
      }
    },
    async getGenerateList() {
      this.form.created_by = Auth.user.id;

      await axios
        .get(
          "api/v1/beginingstock/getlist?document_no=" +
          this.form.document_no +
          "&created_by=" +
          this.form.created_by
        )
        .then((res) => {
          this.listBegin = res.data;
          this.number_of_item = 0;
          this.total_price = 0;
          this.price_usd = 0;
          this.listBegin.forEach((element) => {
            if (element.inventory == null) {
              element.inventory = 0;
            }
            if (element.unit_price == null) {
              element.unit_price = 0;
            }
            element.total_amount = element.unit_price * element.inventory;
            element.curency_code = this.form.curency_code;
            this.number_of_item =
              parseInt(this.number_of_item) + parseInt(element.inventory);
              this.total_price =
                parseFloat(this.total_price) + parseFloat(element.total_amount);
              this.price_usd = (this.total_price / this.ExchangeRate).toFixed(2)
         
          });
          this.number_of_product = this.listBegin.length;

        
        });
    },
    async UpdateList(item) {
      this.number_of_item = 0;
      this.total_price = 0;
      item.updated_by = Auth.user.id;
      item.total_amount = item.unit_price * item.inventory;
      await axios.post("api/v1/beginingstock/updatelist", item).then((res) => {
        this.message = "Updated Successfully";
        this.messagebox();
        this.getGenerateList();
       this.getBegin()
      });
    
    },
  
    async DeleteList(item) {
      if (this.btn_save != "Back") {
        await axios
          .get(
            "api/v1/beginingstock/deletelist/?id=" +
            item.id +
            "&document_no=" +
            item.document_no +
            "&created_by=" +
            item.created_by
          )
          .then((res) => {
            this.message = "Deleted Successfully";
            this.messagebox();
            this.getGenerateList();
            
          });
          this.getBegin()
      } else {
        this.message = "In processing can't change anything!";
        this.messagebox();
      }
    },
    messagebox() {
      var modal = document.getElementById("myModal");
      modal.style.display = "block";
      setTimeout(() => (modal.style.display = "none"), 1500);
    },
    getproduct(boom, item, txt) {
      if (txt === "product") {
        item.product_no = boom.product_no;
        item.description = boom.description;
        this.getSearchBoom(item.product_no);
        this.UpdateList(item);
      }
      if (txt === "code") {
        item.unit_of_measure_code = boom.variant_unit_of_measure_code;
        this.UpdateList(item);
      }
   
    },
    async getSearchBoom(product_no) {
      await axios.post("api/v1/products/getboomline/" + product_no).then((res) => {
        this.variant_codes = res.data;
      });
    },
    async getunit(id) {
      await axios.post("api/v1/products/getboomline/" + id).then((res) => {
        this.variant_codes = res.data;
      });
    },
  
    changeStatus() {
      if (this.btn_save === "Save" && this.form.statue != "close") {
        this.form.statue = "Process";
        this.UpdateBegin(this.form);
        this.getBegin();
      }
      if (this.btn_save === "Back" && this.form.statue != "close") {
        this.form.statue = "open";
        this.UpdateBegin(this.form);
        this.getBegin();
      } else {
        this.message = "Statue is " + this.form.statue + " not successe full.";
        this.messagebox();
      }
    },

    async getExchangerate() {
      await axios.get("api/v1/exchangerate/index/").then((res) => {
        this.currency_lists = res.data;
      });
    },
    async getOneExchangeRate() {
      await axios.get("api/v1/exchangerate/find/USD").then((res) => {
        this.ExchangeRate = parseFloat(res.data.lists[0].exchange_rate); // get USD exchange rate
      });
    },
    async submitStock() {
      if (this.form.statue != "close") {
        await axios.post("api/v1/beginingstock/submit", this.form).then((res) => {
          this.message = "Submitted Successfully";
          this.messagebox();
          this.getBegin();
        });
      } else {
        this.message = "Submit statue is " + this.form.statue + " not successe full.";
        this.messagebox();
      }
    },
    formatdatetime(dateform) {
            try {
                return  moment(dateform).format('DD-MM-YYYY');
            } catch (error) {
                return dateform;
            }
        },
  },
};
</script>
